.hero--colorme {
  color: var(--color-offwhite);
  position: relative;
}

.hero--colorme::before {
  background: var(--color-colorme-accent)
    url("/images/work/colorme/colorme-dust.svg") repeat;
}

.project--colorme {
  --color-link: var(--color-colorme-accent);
}
