.hero--groundwork {
  color: var(--color-offwhite);
  position: relative;
}

.hero--groundwork::before {
  background: var(--color-groundwork-accent) url("/images/about-dust.svg")
    repeat;
}

.gw-warning {
  background-color: var(--color-offwhite);
  border-radius: 2px;
  font-size: 1rem;
  font-family: var(--font-proto-regular);
  padding: 1rem;
  margin-bottom: 1rem;
}
