.poster-groundwork {
  --gw-blue: #3b6fd8;
  --gw-bg: var(--gw-blue) url("/images/home-gw-bg-tile.svg") repeat;
}

.poster-groundwork {
  background-color: transparent;
  color: var(--color-eggshell);
  margin-top: -39vw;
  position: relative;
}

.poster-groundwork ::selection {
  background-color: var(--gw-blue);
  color: #fff;
}

.project .gw-warning {
  background-color: var(--color-offwhite);
  border-radius: 2px;
  color: var(--gw-blue);
  font-size: 0.9em;
  font-family: var(--font-proto-regular);
  padding: 1rem;
  margin-bottom: 1rem;
}

.gw-header {
  margin: 0 auto -35vw auto;
  padding: 0 1rem;
  position: relative;
  width: 94%;
  z-index: 2;
}

.gw-mark {
  background-color: var(--color-eggshell);
  border-radius: 50%;
  margin: 0 auto;
  padding: 1%;
  width: 50%;
}

.gw-text {
  margin-top: 3vw;
}

.poster-groundwork a {
  color: var(--color-eggshell);
}

.poster-groundwork a:hover,
.poster-groundwork a:focus {
  color: #e4ff64;
}

.poster-fill-groundwork {
  background: var(--gw-bg);
  background-size: 1000px;
  color: var(--color-eggshell);
  --gw-fill-clip: polygon(
    0 11vw,
    12% 2vw,
    20% 9vw,
    30% 0,
    71% 15vw,
    69% 0,
    82% 9vw,
    90% 0,
    100% 12vw,
    100% 100%,
    0 100%
  );
  -webkit-clip-path: var(--gw-fill-clip);
  clip-path: var(--gw-fill-clip);
  padding-top: 34vw;
}

.gw-contents {
  padding-top: 2rem;
}

@media (min-width: 85em) {
  .gw-header {
    margin-bottom: -40vw;
  }

  .gw-mark {
    width: 42%;
  }

  .poster-fill-groundwork {
    padding-top: 40vw;
  }
}

@media (min-width: 117.5em) {
  .poster-groundwork {
    margin-top: -45.8rem;
  }

  .gw-header {
    margin-bottom: -47rem;
    max-width: 114rem;
  }

  .gw-text {
    margin-top: 3.5rem;
  }

  .poster-fill-groundwork {
    --gw-fill-clip: polygon(
      0 12rem,
      12% 3rem,
      15% 9rem,
      27% 0,
      69% 20rem,
      67% 0,
      82% 10rem,
      90% 0,
      100% 13rem,
      100% 100%,
      0 100%
    );
    padding-top: 49.5rem;
  }
}
