.hero--limbo {
  color: var(--color-eggshell);
  position: relative;
}

.hero--limbo::before {
  background: var(--color-limbo-accent) url("/images/work/limbo/limbo-dust.svg")
    repeat;
}

.hero--limbo a {
  color: var(--color-limbo-accent-dark);
}

.hero--limbo a:hover,
.hero--limbo a:focus,
.hero--limbo .nav-work {
  color: var(--color-accent);
}

.hero--limbo .banner__logo::after {
  background-color: #f9c5c5;
}

@media (prefers-color-scheme: light) {
  :not([data-user-color-scheme]) .hero--limbo a:hover,
  :not([data-user-color-scheme]) .hero--limbo a:focus,
  :not([data-user-color-scheme]) .hero--limbo .nav-work {
    color: var(--color-limbo-accent-dark);
  }
}

[data-user-color-scheme="light"] .hero--limbo a:hover,
[data-user-color-scheme="light"] .hero--limbo a:focus,
[data-user-color-scheme="light"] .hero--limbo .nav-work {
  color: var(--color-limbo-accent-dark);
}

.project--limbo {
  --color-link: var(--color-limbo-accent);
}

.limbo__title {
  bottom: 10%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.limbo__title img {
  max-width: calc(var(--max-width, 260) / 16 * 1rem);
  width: 80%;
}

.limbo__graphic {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: calc(var(--max-width, 1200) / 16 * 1rem);
  width: 98%;
}
