.hero--jxa {
  color: white;
  position: relative;
}

.hero--jxa::before {
  background: var(--color-jxa-accent) url("/images/work/jxa/jxa-dust.svg")
    repeat;
  height: calc(var(--height-target, 85%) - var(--offset-v));
  transform: skewY(-1.5deg);
}

.hero--jxa a {
  color: #757070;
}

.hero--jxa .banner__logo::after {
  background-color: #cdcbcb;
}

.hero--jxa .banner__nav a:hover,
.hero--jxa .banner__nav a:focus,
.hero--jxa .nav-work {
  color: #cdcbcb;
}

.hero--jxa .hero__contents {
  padding-top: 1rem;
}

.jxa__graphic,
.jxa__title {
  margin: 0 auto;
  max-width: 38.75rem;
  width: 96%;
}

.jxa__graphic {
  display: block;
  height: auto;
  transform-origin: bottom center;
  view-transition-name: jxa-graphic;
}

.jxa__title {
  --offset: -5rem;
  margin-bottom: calc(var(--offset) + 0.5rem);
  transform: translateY(var(--offset));
  view-transition-name: jxa-title;
}

.jxa__title img {
  height: auto;
  width: 100%;
}

.project--jxa {
  --color-link: var(--color-jxa-accent-light);
}

::view-transition-old(jxa-title),
::view-transition-old(jxa-graphic) {
  display: none;
}

@keyframes jxaTitleSmall {
  0%,
  50% {
    opacity: 0;
    transform: translateY(35%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes jxaTitleLarge {
  0%,
  40% {
    opacity: 0;
    transform: translateX(35%) translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes jxaGraphicSmall {
  0%,
  50% {
    opacity: 0;
    transform: translateY(55%) scale(0.7);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes jxaGraphicLarge {
  0%,
  40% {
    opacity: 0;
    transform: translateX(-20%) translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-new(jxa-title) {
    animation: jxaTitleSmall 0.9s ease;
  }

  ::view-transition-new(jxa-graphic) {
    animation: jxaGraphicSmall 1.1s ease;
  }
}

@media (min-width: 620px) {
  .hero--jxa .hero__contents {
    padding-top: 0;
  }
}

@media (min-width: 1040px) {
  .hero--jxa::before {
    --height-target: 100%;
  }

  .hero--jxa .hero__contents {
    transform: translateY(-4rem);
    margin: 0 auto;
    max-width: calc(1070 / 16 * 1rem);
    width: 98%;
  }

  .jxa__graphic {
    max-width: 44rem;
    position: absolute;
    transform: translateY(-2.5rem) translateX(-3rem);
    width: auto;
  }

  .jxa__title {
    --offset: 0;
    margin: 0 0 0 auto;
    transform: translateY(7rem);
    width: auto;
  }

  .project--jxa .project__intro__main {
    --padding-top-rows: 12;
  }

  ::view-transition-new(jxa-title) {
    animation-name: jxaTitleLarge;
    animation-duration: 0.5s;
  }

  ::view-transition-new(jxa-graphic) {
    animation-name: jxaGraphicLarge;
    animation-duration: 0.7s;
  }
}
