.project {
  padding-bottom: calc(var(--g-row) * 10);
}

.project a {
  color: var(--color-link, var(--color-accent-primary));
}

.project__link {
  border-bottom: 2px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
}

a.project__link:hover,
a.project__link:focus {
  border-bottom-color: currentColor;
}

span.project__link {
  opacity: 0.7;
}

.project__intro__main {
  max-width: calc(880 / 16 * 1rem);
  padding-top: calc(var(--g-row) * var(--padding-top-rows, 2));
}

.project__intro__opening {
  font-size: var(--font-size-44);
  line-height: 1.15;
  margin-bottom: 0;
  margin-top: calc(10 / 16 * 1rem);
}

.project__intro__body {
  font-size: var(--font-size-24);
  line-height: 1.7;
  margin-top: calc(var(--g-row) * 2);
}

.project__intro__extended {
  font-size: var(--font-size-20);
  line-height: 1.6;
  margin-top: calc(var(--g-row) * 6);
}

.project__specs {
  max-width: calc(1040 / 16 * 1rem);
  padding-top: calc(var(--g-row) * 6);
}

.project__specs ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project__specs li {
  width: 100%;
}

.spec__title {
  font-size: var(--font-size-16);
  margin-bottom: 0;
}

.spec__desc {
  font-size: var(--font-size-18);
  line-height: 1.33;
  margin-top: calc(8 / 16 * 1rem);
  max-width: 20ch;
}

.project__body p,
.project__body ul,
.project__body ol {
  font-size: var(--font-size-20);
}

.project__body li {
  list-style: disc inside;
  margin-top: 0.75rem;
}

.project__body p {
  line-height: 1.6;
}

.project__body p + p {
  margin-top: 1.4rem;
}

.project__body h3 {
  font-family: var(--font-proto-regular);
  font-size: var(--font-size-30);
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 1.5em;
}

.project__body h3 + * {
  margin-top: 1rem;
}

.project__figure img {
  max-width: 100%;
}

.project__shout {
  border: 1px solid currentColor;
  border-radius: 3px;
  padding: 1rem 1.2rem;
}

@media (min-width: 38.75em) {
  .project {
    padding-left: calc(var(--g-gutter) * 2.25);
    padding-right: calc(var(--g-gutter) * 2.25);
  }

  .project__intro,
  .project__body {
    --col-start: 1;
    --col-end: -1;
  }

  .project__specs li {
    width: calc(33% - 1rem);
  }
}

@media (min-width: 65em) {
  .project__intro__main {
    --padding-top-rows: 6;
  }

  .project__intro,
  .project__body {
    --col-start: 2;
  }

  .project__body {
    --col-end: -2;
  }
}

@media (min-width: 137.5em) {
  .project__intro,
  .project__body {
    --col-start: 3;
  }

  .project__body {
    --col-end: -4;
  }
}
