.hero--streetcred {
  color: var(--color-white);
  position: relative;
}

.hero--streetcred::before {
  background: var(--color-streetcred-accent)
    url("/images/work/streetcred/streetcred-pattern.svg") no-repeat top center;
  background-size: cover;
}

.hero--streetcred::after {
  background-color: var(--color-bg);
  --mask: url("/images/work/streetcred/streetcred-hero-squiggle.svg") no-repeat
    center bottom;
  bottom: -2px;
  height: 120px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-size: 110%;
  mask-size: 110%;
}

.hero--streetcred a {
  color: var(--color-streetcred-accent-dark);
}

.hero--streetcred .banner__logo::after {
  background-color: var(--color-streetcred-accent-light);
}

.hero--streetcred .banner__nav a:hover,
.hero--streetcred .banner__nav a:focus,
.hero--streetcred .nav-work {
  color: var(--color-streetcred-accent-light);
}

.hero--streetcred .hero__contents {
  max-width: calc(1242 / 16 * 1rem);
  padding-top: calc(var(--g-row) * var(--p-top-rows, 3));
  z-index: 1;
}

.streetcred__graphic {
  position: relative;
}

.streetcred__graphic-main {
  background-color: white;
  border-radius: var(--radius, 25px);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
  max-width: calc(var(--max-width, 400) / 16 * 1rem);
  overflow: hidden;
  width: 78%;
}

.streetcred__graphic-main img {
  display: block;
  height: auto;
  width: 100%;
}

.streetcred__graphic-poi {
  max-width: calc(var(--max-width, 280) / 16 * 1rem);
  right: 52%;
  top: 46%;
}

@keyframes enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.streetcred__graphic-poi,
.streetcred__graphic-cubes,
.streetcred__graphic-board {
  animation: enter 0.25s ease;
  display: none;
  position: absolute;
  width: 100%;
}

.poi__main,
.streetcred__graphic-cubes,
.board__main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.poi__main,
.board__main {
  display: block;
}

.poi__main img,
.streetcred__graphic-cubes img,
.board__main img {
  display: block;
  height: auto;
  width: 100%;
}

.poi__icon,
.board__icon {
  left: calc(50% - 25px);
  position: absolute;
  top: -36px;
}

.streetcred__graphic-cubes {
  max-width: calc(var(--max-width, 200) / 16 * 1rem);
  right: 55%;
  top: 63%;
}

.streetcred__graphic-board {
  max-width: calc(var(--max-width, 280) / 16 * 1rem);
  right: 2%;
  top: 17%;
}

.streetcred__title {
  padding-top: calc(var(--g-row) * var(--p-top-rows, 2));
  padding-bottom: calc(var(--g-row) * 7);
  text-align: center;
}

.streetcred__title img {
  max-width: calc(var(--max-width, 330) / 16 * 1rem);
  width: 75%;
}

.project--streetcred {
  --color-link: var(--color-streetcred-accent);
}

.streetcred__intro__2-col {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: calc(var(--g-row) * 6);
}

.streetcred__intro__extended {
  flex: 1.9 1;
  min-width: 22ch;
  margin-top: 0;
}

.streetcred__intro__note {
  flex: 1;
  line-height: 2;
  min-width: 15ch;
}

.highlight--streetcred {
  background-color: #8e42f533;
}

.streetcred__intro-graphics,
.streetcred__intro-content {
  --col-start: 1;
  --col-end: -1;
}

.streetcred__intro-graphics {
  margin-top: calc(var(--g-row) * var(--margin-t-rows, 10));
}

.streetcred__graphics-container {
  background-image: url("/images/work/streetcred/streetcred-hexagon-green.svg"),
    url("/images/work/streetcred/streetcred-hexagon-yellow.svg");
  background-repeat: no-repeat;
  background-position: left bottom, top right;
  background-size: min(var(--bg-size-min, 65%), 500px);
  margin: 0 auto;
  max-width: calc(720 / 16 * 1rem);
  padding-top: calc(var(--g-row) * var(--padding-t-rows, 6));
  padding-bottom: calc(var(--g-row) * var(--padding-b-rows, 5));
  width: 100%;
}

.streetcred__intro-demo {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.22);
  display: block;
  margin: 0 auto;
  max-width: calc(414 / 16 * 1rem);
  overflow: hidden;
  padding-top: min(156%, 733px);
  position: relative;
  width: 88%;
}

.intro-demo__frame img {
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes demo-frames {
  0%,
  16.6% {
    opacity: 1;
  }

  20%,
  100% {
    opacity: 0;
  }
}

.intro-demo__frame {
  --a-dur: 15;
  --f-num: 6;
  --f-len: calc(var(--a-dur) / var(--f-num));
  --delay: calc(calc(var(--f-len) * var(--offset, 0)) * 1s);
  animation: demo-frames calc(var(--a-dur) * 1s) var(--delay) infinite;
  opacity: 0;
}

.intro-demo__frame:nth-of-type(2) {
  --offset: 1;
}

.intro-demo__frame:nth-of-type(3) {
  --offset: 2;
}

.intro-demo__frame:nth-of-type(4) {
  --offset: 3;
}

.intro-demo__frame:nth-of-type(5) {
  --offset: 4;
}

.intro-demo__frame:nth-of-type(6) {
  --offset: 5;
}

.streetcred__intro-container {
  margin: 0 auto;
  max-width: calc(565 / 16 * 1rem);
}

.streetcred__intro-container h3 {
  margin-top: 0;
}

@media (min-width: 35em) {
  .streetcred__graphic-poi,
  .streetcred__graphic-cubes,
  .streetcred__graphic-board {
    display: block;
  }
}

@media (min-width: 38.75em) {
  .streetcred__graphic-main {
    --radius: 40px;
    --max-width: 360;
  }
}

@media (min-width: 46em) {
  .streetcred__graphic-board {
    left: 60%;
    right: initial;
  }
}

@media (min-width: 65em) {
  .hero--streetcred .hero__contents {
    --p-top-rows: 6;
  }

  .streetcred__graphic-main {
    --max-width: 455;
  }

  .streetcred__graphic-poi {
    --max-width: 360;
    right: 57%;
    top: 42%;
  }

  .streetcred__graphic-cubes {
    --max-width: 280;
    top: 58%;
  }

  .streetcred__graphic-board {
    --max-width: 386;
    left: 56%;
    top: 23%;
  }

  .streetcred__intro-graphics {
    --margin-t-rows: 18;
    --col-end: 3;
  }

  .streetcred__intro-content {
    --col-start: 3;
    --col-end: -1;
    align-items: center;
    display: flex;
  }

  .streetcred__graphics-container {
    --bg-size-min: 85%;
    --padding-t-rows: 12;
    --padding-b-rows: 14;
  }
}

@media (min-width: 75em) {
  .hero--streetcred::before {
    background-position: var(--bg-pos-h, -40%) 15%;
    background-size: min(calc(1472 / 16 * 1rem), 110%);
  }

  .hero--streetcred .hero__contents {
    display: flex;
    margin: 0 auto;
  }

  .streetcred__title {
    --p-top-rows: 18;
    order: 1;
    text-align: right;
    width: 35%;
  }

  .streetcred__graphic {
    order: 2;
    width: 65%;
  }

  .streetcred__graphic-board {
    left: initial;
    right: 2%;
  }
}

@media (min-width: 77.5em) {
  .streetcred__intro-graphics {
    --col-end: 4;
  }

  .streetcred__intro-content {
    --col-start: 4;
  }
}

@media (min-width: 89.75em) {
  .hero--streetcred::before {
    --bg-pos-h: 14vw;
  }
}

@media (min-width: 106.25em) {
  .streetcred__title {
    text-align: left;
  }

  .streetcred__intro-graphics {
    --col-end: 6;
  }

  .streetcred__intro-content {
    --col-start: 6;
  }

  .streetcred__intro-container {
    margin: 0;
  }
}

@media (min-width: 117.5em) {
  .hero--streetcred::before {
    --bg-pos-h: 20vw;
  }
}

@media (min-width: 137.5em) {
  .streetcred__intro-graphics {
    --col-start: 2;
    --col-end: 6;
  }

  .streetcred__intro-content {
    --col-start: 6;
    --col-end: 10;
  }
}

@media (min-width: 150em) {
  .hero--streetcred::before {
    --bg-pos-h: 26vw;
  }
}
