.hero--streetcred {
  color: var(--color-white);
  position: relative;
}

.hero--streetcred::before {
  background: var(--color-streetcred-accent)
    url("/images/work/streetcred/streetcred-pattern.svg") no-repeat top center;
  background-size: cover;
}

.hero--streetcred::after {
  background-color: var(--color-bg);
  --mask: url("/images/work/streetcred/streetcred-hero-squiggle.svg") no-repeat
    center bottom;
  bottom: -2px;
  height: 120px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-size: 110%;
  mask-size: 110%;
}

.hero--streetcred a {
  color: var(--color-streetcred-accent-dark);
}

.hero--streetcred .banner__logo::after {
  background-color: #dcc2ff;
}

.hero--streetcred .banner__nav a:hover,
.hero--streetcred .banner__nav a:focus,
.hero--streetcred .nav-work {
  color: #dcc2ff;
}

.hero--streetcred .hero__contents {
  max-width: calc(1242 / 16 * 1rem);
  padding-top: calc(var(--g-row) * var(--p-top-rows, 3));
  z-index: 1;
}

.streetcred__graphic {
  position: relative;
}

.streetcred__graphic-main {
  background-color: white;
  border-radius: var(--radius, 25px);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
  max-width: calc(var(--max-width, 400) / 16 * 1rem);
  overflow: hidden;
  width: 78%;
}

.streetcred__graphic-main img {
  display: block;
  height: auto;
  width: 100%;
}

.streetcred__graphic-poi {
  max-width: calc(var(--max-width, 280) / 16 * 1rem);
  right: 52%;
  top: 46%;
}

@keyframes enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.streetcred__graphic-poi,
.streetcred__graphic-cubes,
.streetcred__graphic-board {
  animation: enter 0.25s ease;
  display: none;
  position: absolute;
  width: 100%;
}

.poi__main,
.streetcred__graphic-cubes,
.board__main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.poi__main,
.board__main {
  display: block;
}

.poi__main img,
.streetcred__graphic-cubes img,
.board__main img {
  display: block;
  height: auto;
  width: 100%;
}

.poi__icon,
.board__icon {
  left: calc(50% - 25px);
  position: absolute;
  top: -36px;
}

.streetcred__graphic-cubes {
  max-width: calc(var(--max-width, 200) / 16 * 1rem);
  right: 55%;
  top: 63%;
}

.streetcred__graphic-board {
  max-width: calc(var(--max-width, 280) / 16 * 1rem);
  right: 2%;
  top: 17%;
}

.streetcred__title {
  padding-top: calc(var(--g-row) * var(--p-top-rows, 2));
  padding-bottom: calc(var(--g-row) * 7);
  text-align: center;
}

.streetcred__title img {
  max-width: calc(var(--max-width, 330) / 16 * 1rem);
  width: 75%;
}

.project--streetcred {
  --color-link: var(--color-streetcred-accent);
}

.streetcred__intro__2-col {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: calc(var(--g-row) * 6);
}

.streetcred__intro__extended {
  flex: 1.9 1;
  font-size: var(--font-size-20);
  line-height: 1.6;
  min-width: 22ch;
}

.streetcred__intro__note {
  flex: 1;
  line-height: 2;
  min-width: 15ch;
}

.highlight--streetcred {
  background-color: #8e42f533;
}

@media (min-width: 35em) {
  .streetcred__graphic-poi,
  .streetcred__graphic-cubes,
  .streetcred__graphic-board {
    display: block;
  }
}

@media (min-width: 38.75em) {
  .streetcred__graphic-main {
    --radius: 40px;
    --max-width: 360;
  }
}

@media (min-width: 46em) {
  .streetcred__graphic-board {
    left: 60%;
    right: initial;
  }
}

@media (min-width: 65em) {
  .hero--streetcred .hero__contents {
    --p-top-rows: 6;
  }

  .streetcred__graphic-main {
    --max-width: 455;
  }

  .streetcred__graphic-poi {
    --max-width: 360;
    right: 57%;
    top: 42%;
  }

  .streetcred__graphic-cubes {
    --max-width: 280;
    top: 58%;
  }

  .streetcred__graphic-board {
    --max-width: 386;
    left: 56%;
    top: 23%;
  }
}

@media (min-width: 75em) {
  .hero--streetcred::before {
    background-position: var(--bg-pos-h, -40%) 15%;
    background-size: min(calc(1472 / 16 * 1rem), 110%);
  }

  .hero--streetcred .hero__contents {
    display: flex;
    margin: 0 auto;
  }

  .streetcred__title {
    --p-top-rows: 18;
    order: 1;
    text-align: right;
    width: 35%;
  }

  .streetcred__graphic {
    order: 2;
    width: 65%;
  }

  .streetcred__graphic-board {
    left: initial;
    right: 2%;
  }
}

@media (min-width: 89.75em) {
  .hero--streetcred::before {
    --bg-pos-h: 14vw;
  }
}

@media (min-width: 106.25em) {
  .streetcred__title {
    text-align: left;
  }
}

@media (min-width: 117.5em) {
  .hero--streetcred::before {
    --bg-pos-h: 20vw;
  }
}

@media (min-width: 150em) {
  .hero--streetcred::before {
    --bg-pos-h: 26vw;
  }
}
