<footer class="footer">
  <nav class="footer__links">
    <ul>
      <li>
        <a href="/library">
          Library
        </a>
      </li>
      <li>
        <a href="/purpose">
          /Purpose
        </a>
      </li>
      <li>
        <a href="/resume">
          Resume
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="mailto:me@tylergaw.com" rel="me">
          Email
        </a>
      </li>
      <li>
        <a href="https://github.com/tylergaw" rel="me">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://twitter.com/tylergaw" rel="me">
          Twitter
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/rss.xml">
          RSS Feed
        </a>
      </li>
    </ul>
  </nav>

  <p class="footer__thanks">
    Thank you for visiting a personal website in {{year}}.
  </p>

  <div class="scheme-toggle" hidden>
    <div role="status" class="visually-hidden scheme-toggle-status"></div>
    <button class="scheme-toggle-btn">
      <span class="scheme-toggle-txt"></span>
    </button>
  </div>
</footer>
