<script>
  if ("serviceWorker" in navigator && window.location.port !== "8001") {
    window.addEventListener("load", () => {
      navigator.serviceWorker
        .register("/service-worker.js")
        .catch((err) => console.error("service worker failed to install", err));
    });
  }

  // Color scheme switch
  const schemeBtn = document.querySelector(".scheme-toggle-btn");
  const schemeBtnTxt = schemeBtn.querySelector(".scheme-toggle-txt");
  const schemeStatus = document.querySelector(".scheme-toggle-status");

  const toggleScheme = () => {
    const nextScheme = currentScheme === "light" ? "dark" : "light";
    localStorage.setItem(schemeKey, nextScheme);
    setScheme();
    updateSchemeBtn();
  };

  const updateSchemeBtn = () => {
    schemeBtn.setAttribute("data-scheme", currentScheme);
    schemeBtnTxt.textContent = `Use ${
      currentScheme === "light" ? "dark" : "light"
    } scheme`;
    schemeStatus.textContent = `Currently using the ${currentScheme} scheme`;
  };

  schemeBtn.addEventListener("click", toggleScheme);

  updateSchemeBtn();
  document.querySelector(".scheme-toggle").removeAttribute("hidden");
</script>

{{#if highlightSyntax }}
<script src="/js/prism.js" async></script>
{{/if}}
