<script>
  (function(d) {
    var config = {
      kitId: 'mah3pps',
      scriptTimeout: 2000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);

  if ("serviceWorker" in navigator && window.location.port !== "8001") {
    window.addEventListener("load", () => {
      navigator.serviceWorker.register("/service-worker.js")
        .catch(err => console.error("service worker failed to install", err))
    });
  }
</script>

{{#if highlightSyntax }}
<script src="/js/prism.js" async></script>
{{/if}}
