@mixin box-sizing ($val) {
    -moz-box-sizing: $val;
    box-sizing: $val;
}

@mixin transition ($val...) {
    -webkit-transition: $val;
    transition: $val;
}

@mixin transform ($val...) {
    -webkit-transform: $val;
    transform: $val;
}

@mixin mask($val...) {
    -webkit-mask: $val;
    mask: $val;
}

@mixin animation($val...) {
    -webkit-animation: $val;
    animation: $val;
}

@mixin animation-delay($val) {
    -webkit-animation-delay: $val;
    animation-delay: $val;
}

@mixin keyframes ($name) {
    @-webkit-keyframes $name {
        @content;
    }

    @keyframes $name {
        @content;
    }
}

@mixin border-image ($pageName) {
    -o-border-image: url('/images/content-border-#{$pageName}.png') 3 3 3 3 repeat;
    border-image: url('/images/content-border-#{$pageName}.png') 3 3 3 3 repeat;
}

@mixin flex {
    display: -webkit-flex;
    display: flex;
}

@mixin flex-wrap ($val) {
    -webkit-flex-wrap: $val;
    flex-wrap: $val;
}

@mixin align-items ($val) {
    -webkit-align-items: $val;
    align-items: $val;
}
