.home__intro p {
  font-size: min(7vw, 2.75rem);
  font-family: var(--font-proto-bold);
  grid-column: var(--col-start, 1) / -1;
  letter-spacing: -1px;
  line-height: 2;
  padding-top: calc(var(--g-row) * 6);
  text-transform: uppercase;
}

.home__intro p b {
  color: var(--color-accent-secondary);
}

.home__work {
  grid-template-rows: repeat(
    var(--rows, 21),
    minmax(calc(78 / 16 * 1rem), max-content)
  );
  margin: calc(var(--g-row) * 8) auto 0 auto;
  max-width: 156.25rem;
  width: 100%;
}

.home__project {
  grid-row: var(--row-start, auto) / span var(--row-span, auto);
}

.p-streetcred {
  --row-span: 4;
  display: grid;
}

.p-streetcred__link {
  display: grid;
}

.p-streetcred__contents {
  background: #8e42f5 url("/images/projects/streetcred/home-bg-pattern.svg")
    no-repeat center;
  background-size: cover;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-streetcred__title {
  margin: 0 auto 3.5rem auto;
  max-width: 22rem;
  width: 80%;
}

.p-streetcred__token {
  display: block;
  margin: 0 auto;
  max-width: calc(var(--max-width, 280) / 16 * 1rem);
  transform: translateY(-2.75rem);
  width: 80%;
}

.p-limbo {
  --row-span: 4;
  background-color: #dd3535;
}

.p-colorme {
  --row-span: 3;
  background-color: #b42e8a;
}

.p-groundwork {
  --row-span: 4;
  background-color: #3b6fd8;
}

.p-jxa {
  --row-span: 3;
  background-color: #1c1b1b;
}

.p-experiments {
  --row-span: 4;
  background-color: #7ade57;
}

@media (min-width: 38.75em) {
  .home__work {
    --rows: 13;
  }

  .p-streetcred {
    --row-span: 6;
  }

  .p-streetcred__contents {
    border-radius: 0 6px 6px 0;
    margin-left: auto;
    margin-right: 0.75rem;
    max-width: 32.1875rem;
    width: 90%;
  }

  .p-streetcred__token {
    --max-width: 360;
    --trans-x: -2.4rem;
    margin: 0;
    transform: translateX(var(--trans-x)) translateY(4rem);
    width: 80%;
  }

  .p-limbo {
    --row-span: 4;
    --row-start: 2;
    grid-column-start: 2;
  }

  .p-groundwork {
    --row-start: 6;
    grid-column-start: 2;
  }
}

@media (min-width: 65em) {
  .home__work {
    --rows: 18;
  }

  .p-streetcred {
    --row-span: 8;
    grid-column: 2 / span 2;
  }

  .p-streetcred__contents {
    margin-left: 0;
  }

  .p-streetcred__token {
    --trans-x: -5rem;
  }

  .p-limbo {
    --row-span: 6;
    grid-column: 4 / span 2;
  }

  .p-colorme {
    --row-span: 4;
    --row-start: 9;
    grid-column-end: span 3;
  }

  .p-groundwork {
    --row-span: 6;
    --row-start: 8;
    grid-column: 4 / span 2;
  }

  .p-jxa {
    --row-span: 4;
    grid-column-end: span 3;
  }

  .p-experiments {
    --row-span: 5;
    grid-column-end: span 2;
  }
}
