.home__intro,
.home__work {
  max-width: calc(2500 / 16 * 1rem);
  width: 100%;
}

.home__intro {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.intro__contents {
  font-size: min(7.25vw, 2rem);
  font-family: var(--font-proto-bold);
  grid-column: var(--col-start, 1) / var(--col-end, -1);
  letter-spacing: -1px;
  line-height: 2.2;
  padding-top: calc(var(--g-row) * 6);
  text-transform: uppercase;
}

.home__work {
  grid-template-rows: repeat(
    var(--rows, 25),
    minmax(calc(78 / 16 * 1rem), max-content)
  );
  margin: calc(var(--g-row) * var(--margin-top-rows, 4)) auto 0 auto;
  overflow: hidden;
}

.work__title {
  align-items: center;
  display: flex;
}

.work__title h2 {
  font-family: var(--font-proto-regular);
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.home__project {
  --border-color: transparent;
  --border-width: 6px;
  grid-column: var(--col-start, auto) / var(--col-end, auto);
  grid-row: var(--row-start, auto) / var(--row-end, span 4);
}

.p-streetcred__contents::before,
.p-limbo__link::before,
.p-limbo__link::after,
.p-colorme__link::before,
.p-colorme__link::after,
.p-colorme__title::before,
.p-jxa__link::before,
.p-jxa__link::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.p-streetcred,
.p-streetcred__link {
  display: grid;
}

.p-streetcred__link {
  color: var(--color-streetcred-accent);
  padding-top: 0.5rem;
}

.p-streetcred__link:focus,
.p-limbo__link:focus,
.p-colorme__link:focus {
  outline: none;
}

.p-streetcred__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.p-streetcred__contents::before {
  --offset: 2.75rem;
  background: var(--color-streetcred-accent)
    url("/images/projects/streetcred/home-bg-pattern.svg") no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  border-radius: 6px;
  height: calc(100% - var(--offset));
  top: var(--offset);
  transition: 0.1s ease;
}

.p-streetcred__title {
  margin: 2rem auto 2.5rem auto;
  max-width: 22rem;
  position: relative;
  width: 82%;
}

.p-streetcred__link:active .p-streetcred__title,
.p-limbo__link:active .p-limbo__title,
.p-colorme__link:active .p-colorme__title {
  transform: scale3d(0.96, 0.96, 0.96);
}

.p-streetcred__title::after,
.p-limbo__title::after,
.p-colorme__title::after {
  content: "";
  display: block;
  height: 6px;
  transition: 0.1s ease;
  width: 0;
}

.p-streetcred__title::after {
  background-color: white;
  border-radius: 3px;
  margin-left: auto;
}

.p-streetcred__graphic {
  display: block;
  margin: 0 auto;
  max-width: calc(var(--max-width, 260) / 16 * 1rem);
  position: relative;
  transition: 0.15s ease;
  width: 75%;
}

.p-streetcred__link:hover,
.p-streetcred__link:focus {
  --border-color: #ffd33d;
}

.p-streetcred__link:hover .p-streetcred__graphic,
.p-streetcred__link:focus .p-streetcred__graphic,
.p-limbo__link:hover .p-limbo__graphic,
.p-limbo__link:focus .p-limbo__graphic {
  transform: scale3d(1.08, 1.08, 1.08);
}

.p-streetcred__link:hover .p-streetcred__title::after,
.p-streetcred__link:focus .p-streetcred__title::after {
  width: 81.5%;
}

.p-limbo__link {
  color: var(--color-limbo-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.p-limbo__link:focus,
.p-limbo__link:hover {
  --border-color: #1a1a1a;
}

.p-limbo__link::before,
.p-limbo__link::after {
  transition: 0.1s ease;
}

.p-limbo__link::before {
  --offset: 5rem;
  --skew-y: 0.025;
  background: var(--color-limbo-accent)
    url("/images/projects/limbo/limbo-dust.svg") repeat;
  border-radius: 6px;
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  height: calc(100% - var(--offset));
  transform: matrix(1, var(--skew-y), 0, 1, 0, -15);
  top: var(--offset);
}

.p-limbo__link::after {
  background: var(--color-limbo-accent);
  border-radius: 6px 6px 0 0;
  box-shadow: inset 0 var(--border-width) 0 var(--border-color),
    inset var(--border-width) 0 0 var(--border-color),
    inset calc(var(--border-width) * -1) 0 0 var(--border-color);
  height: 12%;
  top: 2rem;
  z-index: 1;
}

.p-limbo__title {
  display: block;
  padding: 0 2.4rem 3.75rem 2.4rem;
  max-width: calc(var(--max-width, 340) / 16 * 1rem);
  position: relative;
  width: 100%;
  z-index: 3;
}

.p-limbo__title::after {
  background-color: #f6f5e4;
}

.p-limbo__link:hover .p-limbo__title::after,
.p-limbo__link:focus .p-limbo__title::after {
  width: 100%;
}

.p-limbo__graphic {
  display: block;
  margin: 0 auto;
  max-width: calc(770 / 16 * 1rem);
  position: relative;
  transition: 0.15s ease;
  transform-origin: 50% 20%;
  width: 80%;
  z-index: 2;
}

.p-colorme {
  display: flex;
}

.p-colorme__link {
  display: flex;
  flex: 1;
  position: relative;
}

.p-colorme__link::before {
  background-color: var(--color-colorme-accent);
  border-radius: 6px;
  box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
  height: calc(100% - 0.5rem);
  transition: 0.1s ease;
  top: 0.5rem;
}

.p-colorme__link::after {
  --mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 690 510'%3E%3Cpath fill='%238C0060' d='M0 0h690S554.7 10.5 414.6 116.2C285.4 213.6 0 510 0 510V0z'/%3E%3C/svg%3E%0A");
  background-color: var(--color-colorme-accent-dark);
  border-radius: 6px 0 0 6px;
  left: 0.75rem;
  -webkit-mask-image: var(--mask);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-image: var(--mask);
  mask-size: 100%;
  mask-repeat: no-repeat;
  top: 0.5rem;
  transform: skewY(-2deg) skewX(1deg);
  width: 93%;
}

.p-colorme__link:hover,
.p-colorme__link:focus {
  --border-color: #610028;
}

.p-colorme__link:hover .p-colorme__title::after,
.p-colorme__link:focus .p-colorme__title::after {
  width: 100%;
}

.p-colorme__title {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2.4rem 2.5rem 2.4rem;
  position: relative;
  width: 100%;
  z-index: 1;
}

.p-colorme__title::after {
  background-color: #f8f8f8;
  max-width: calc(306 / 16 * 1rem);
  margin-top: 0.3rem;
}

.p-colorme__title::before {
  background: transparent url("/images/projects/colorme/colorme-dust.svg")
    repeat;
  left: 0;
  top: 0;
}

.p-colorme__title img {
  display: block;
  max-width: calc(305 / 16 * 1rem);
  position: relative;
}

.p-groundwork {
  background-color: #3b6fd8;
}

.p-jxa__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.p-jxa__link::before {
  background-color: #222121;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  height: 60%;
  left: 10%;
  transform: matrix(1, -0.05, var(--skew-y, -0.06), 1, 0, 0);
  top: 25%;
  width: 85%;
}

.p-jxa__link::after {
  background: transparent url("/images/projects/jxa/jxa-dust.svg") repeat;
}

.p-jxa__graphic {
  margin: 0 auto;
  max-width: calc(var(--max-width, 390) / 16 * 1rem);
  position: relative;
  transform: translateY(1rem);
}

.p-jxa__graphic img,
.p-jxa__title img {
  display: block;
  width: 100%;
}

.p-jxa__title {
  margin: 0 auto -2rem auto;
  max-width: calc(var(--max-width, 415) / 16 * 1rem);
  position: relative;
  transform: translateY(-3rem);
  width: 90%;
}

.p-experiments {
  background-color: #7ade57;
}

@media (min-width: 38.75em) {
  .home__work {
    --margin-top-rows: 0;
    --rows: 15;
    transform: translateY(var(--trans-y, -2.5rem));
  }

  .work__title {
    align-items: flex-end;
    grid-column: 2;
  }

  .p-streetcred {
    --row-start: 1;
    --row-end: span 7;
    padding-right: 1.4rem;
  }

  .p-streetcred__link {
    margin-left: auto;
    max-width: calc(510 / 16 * 1rem);
    width: 100%;
  }

  .p-streetcred__contents::before {
    border-radius: 6px;
    height: 100%;
    top: 0;
    width: 100%;
  }

  .p-streetcred__graphic {
    --max-width: 350;
    --trans-x: -1.2rem;
    --trans-y: 6rem;
    left: var(--trans-x);
    margin: 0;
    top: var(--trans-y);
    width: 75%;
  }

  .p-limbo {
    --col-start: 2;
    --row-start: 2;
    --row-end: span 5;
  }

  .p-limbo__graphic {
    transform: translateX(-6%);
    width: 125%;
  }

  .p-limbo__link:hover .p-limbo__graphic,
  .p-limbo__link:focus .p-limbo__graphic {
    transform: translate3d(-6%, -4%, 0);
  }

  .p-colorme__link {
    margin-left: auto;
    max-width: calc(700 / 16 * 1rem);
  }

  .p-groundwork {
    --col-start: 2;
    --row-start: 7;
  }

  .p-jxa {
    --row-start: 12;
  }
}

@media (min-width: 65em) {
  .intro__contents {
    --col-start: 2;
    transform: translateX(-4.5rem);
  }

  .home__work {
    --rows: 20;
  }

  .work__title {
    grid-column: 4;
  }

  .p-streetcred {
    --col-start: 2;
    --col-end: span 2;
    --row-end: span 9;
    padding-right: 2rem;
  }

  .p-streetcred__contents {
    margin-left: 0;
  }

  .p-streetcred__graphic {
    --trans-x: -5rem;
    --trans-y: 10rem;
  }

  .p-limbo {
    --col-start: 4;
    --col-end: span 3;
    --row-end: span 6;
  }

  .p-colorme {
    --col-end: span 3;
    --row-start: 10;
    --row-end: span 5;
  }

  .p-groundwork {
    --col-start: 4;
    --col-end: span 2;
    --row-start: 8;
    --row-end: span 8;
  }

  .p-jxa {
    --col-end: span 3;
    --row-start: 15;
    --row-end: span 4;
  }

  .p-jxa__link {
    flex-direction: row;
    margin-left: auto;
    max-width: calc(800 / 16 * 1rem);
  }

  .p-jxa__link::before {
    height: 70%;
    left: 7%;
    top: 18%;
    width: 90%;
  }

  .p-jxa__graphic {
    margin: 0;
    position: absolute;
    transform: none;
    width: 52%;
  }

  .p-jxa__title {
    margin: 0;
    margin-left: auto;
    padding-right: 2rem;
    padding-top: 3rem;
    transform: none;
    width: 65%;
  }

  .p-experiments {
    --col-end: span 2;
    --row-end: span 5;
  }
}

@media (min-width: 77.5em) {
  .intro__contents {
    --col-end: span 5;
    font-size: min(3vw, 2.875rem);
  }

  .home__work {
    --trans-y: -3.4rem;
  }

  .work__title {
    align-items: center;
    grid-row-start: 2;
  }

  .p-limbo {
    --col-end: span 4;
    --row-start: 3;
    --row-end: span 5;
  }

  .p-limbo__link {
    justify-content: flex-end;
  }

  .p-limbo__title {
    padding-left: 3rem;
    padding-bottom: 4rem;
  }

  .p-limbo__graphic {
    bottom: -1rem;
    transform: translateX(6rem);
    position: absolute;
    right: 0;
    width: 100%;
  }

  .p-limbo__link:hover .p-limbo__graphic,
  .p-limbo__link:focus .p-limbo__graphic {
    transform: translate3d(4.5rem, 0, 0);
  }

  .p-groundwork {
    --col-end: span 3;
    --row-start: 8;
  }

  .p-experiments {
    --col-start: 4;
  }
}

@media (min-width: 106.25em) {
  .intro__contents {
    --col-start: 2;
    --col-end: span 7;
    transform: none;
  }

  .work__title {
    grid-column: 5;
  }

  .p-streetcred {
    --col-start: 2;
    --col-end: span 3;
  }

  .p-limbo {
    --col-start: 5;
    --col-end: span 5;
  }

  .p-limbo__title {
    --max-width: 420;
    padding-left: 4.5rem;
    padding-bottom: 5rem;
  }

  .p-limbo__graphic {
    bottom: -1.4rem;
    left: 40%;
    right: auto;
    transform: translateX(0);
    width: 75%;
  }

  .p-limbo__link:hover .p-limbo__graphic,
  .p-limbo__link:focus .p-limbo__graphic {
    transform: translate3d(-1.5rem, 0, 0);
  }

  .p-colorme {
    --col-end: span 4;
  }

  .p-groundwork {
    --col-start: 5;
    --col-end: span 4;
  }

  .p-jxa {
    --col-end: span 4;
  }

  .p-jxa__title {
    --max-width: 450;
    padding-right: 3rem;
  }

  .p-experiments {
    --col-start: 5;
    --col-end: span 3;
  }
}

@media (min-width: 137.5em) {
  .intro__contents {
    --col-start: 3;
    --col-end: span 7;
    font-size: 3rem;
  }

  .work__title {
    grid-column: 6;
  }

  .p-streetcred {
    --col-start: 3;
  }

  .p-limbo {
    --col-start: 6;
    --col-end: span 6;
  }

  .p-limbo__graphic {
    bottom: -2rem;
    left: auto;
    right: 4rem;
  }

  .p-colorme {
    --col-start: 2;
  }

  .p-groundwork {
    --col-start: 6;
  }

  .p-jxa {
    --col-end: span 5;
  }

  .p-experiments {
    --col-start: 6;
  }
}
