.resume {
  display: grid;
  font-size: 1.3rem;
  grid-gap: var(--g-gutter);
  grid-template-columns: var(--g-column-template);
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--g-fixed-max);
  padding: 1rem 1.5rem 8rem 1.5rem;
}

.resume h1 {
  font-family: var(--font-proto-bold);
  font-size: 4rem;
  font-size: clamp(2rem, 10vw + 1rem, 8rem);
  letter-spacing: -0.035em;
  line-height: 1.25;
  text-indent: -0.05em;
}

.resume__contents {
  grid-column: 1 / -1;
}

.resume-intro {
  font-size: 1.2em;
  line-height: 1.6;
}

.resume-intro::after {
  background-color: var(--color-accent-secondary);
  content: "";
  display: block;
  height: 0.75rem;
  margin: 1.5em 0 2.4em 0;
  text-align: center;
  width: max(10ch, 30%);
}

.resume p {
  padding-bottom: 1em;
  max-width: 53ch;
}

.resume h2 {
  font-family: var(--font-proto-bold);
  font-size: 0.75em;
  margin: 2.5em 0 0.5em 0;
  text-transform: uppercase;
}

.resume h3 {
  font-family: var(--font-proto-regular);
  font-size: 1.4em;
}

.resume h4 {
  font-size: 1em;
}

.resume h5 {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.resume-experience dd + dt {
  margin-top: 2.6em;
}

.resume-entry-desc {
  margin-top: 1.5em;
}

.resume-entry-desc ul {
  list-style: disc outside;
  padding-left: 1rem;
}

.resume li {
  max-width: 53ch;
}
