<!--REMOVED ON 09/26/2017 because disqus and comments are garbage-->
<div id="disqus_thread"></div>
<script>
    (function() {
      // Just a real garbage exit for local dev so disqus doesn't vomit requests
      // all over the place.
      if (window.location.host === 'dev.tylergaw') {
        return;
      }

      var disqus_shortname  = 'tylergaw',
          disqus_title = '{{ page.title }}',
          disqus_identifier = '{{ page.disqus_id }}',
          disqus_url = 'https://tylergaw.com/articles/{{ page.disqus_id }}',
          dsq = document.createElement('script');

      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
