<div id="disqus_thread"></div>
<script>
    (function() {
        var disqus_shortname  = 'tylergaw',
            disqus_title = '{{ page.title }}',
            disqus_identifier = '{{ page.disqus_id }}',
            disqus_url = 'http://tylergaw.com/articles/{{ page.disqus_id }}',
            dsq = document.createElement('script');

        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
