<header class="g-main g-padded banner">
  <a href="/" class="banner__logo" aria-label="Go to home/work">
    {% include "tylergaw-logo.svg" %}
  </a>
  <nav class="banner__nav">
    <ul>
      <li><a href="/" class="nav-work">Work</a></li>
      <li><a href="/articles" class="nav-blog">Blog</a></li>
      <li><a href="/about" class="nav-about">About</a></li>
    </ul>
  </nav>
</header>
