    </div>
    <footer role="contentinfo">
      <div class="contact">
        <a href="mailto:me@tylergaw.com" rel="me">
          me@tylergaw.com
        </a>
        <a href="https://twitter.com/tylergaw" rel="me">
          @tylergaw
        </a>
        <a href="https://github.com/tylergaw" rel="me">
          GitHub
        </a>
        <a href="https://dribbble.com/tylergaw" rel="me">
          Dribbble
        </a>
        <a href="/purpose">
          /Purpose
        </a>
        <a href="/rss.xml">
          RSS
        </a>
      </div>
    </footer>
