        </div>
        <footer role="contentinfo">
            <ul>
                <li><a href="http://twitter.com/thegaw" rel="me">Twitter</a></li>
                <li><a href="http://github.com/tylergaw" rel="me">Github</a></li>
                <li><a href="/rss.xml">RSS</a></li>
            </ul>
            <div class="contact">
                <a href="mailto:me@tylergaw.com" rel="me">me@tylergaw.com</a>
                <a href="/purpose">Purpose</a>
            </div>
        </footer>

        <script src="/js/viewport-units-buggyfill.js"></script>
        <script src="//use.typekit.net/ysz1fkg.js"></script>

        {% if page.type == 'article' %}
        <script src="/js/prism.js"></script>
        {% endif %}

        <script>
            try{Typekit.load();}catch(e){}
            window.viewportUnitsBuggyfill.init();
        </script>
    </body>
</html>
