        </div>
        <footer role="contentinfo">
            <ul>
                <li><a href="http://twitter.com/thegaw" rel="me">Twitter</a></li>
                <li><a href="http://github.com/tylergaw" rel="me">Github</a></li>
                <li><a href="http://dribbble.com/tylergaw" rel="me">Dribbble</a></li>
                <li><a href="/rss.xml">RSS</a></li>
            </ul>
            <a href="mailto:me@tylergaw.com" rel="me">me@tylergaw.com</a>
        </footer>

        <script src="/js/viewport-units-buggyfill.js"></script>
        <script>window.viewportUnitsBuggyfill.init();</script>

        <script src="//use.typekit.net/ysz1fkg.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </body>
</html>
