<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
    {% if page.title %}
      {{ page.title }} {% if layout.article %}by Tyler Gaw{% endif %}
    {% else %}
      Tyler Gaw - Web Design & Development - New York, New York USA
    {% endif %}
    </title>

    {% include meta.html %}

    <link rel="alternate" href="https://tylergaw.com/rss.xml" type="application/rss+xml" title="Tyler Gaw Occasionally Writes About Web Design and Life">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/tylergaw.css">

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24386968-1']);
      _gaq.push(['_setDomainName', 'tylergaw.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body data-page="{{page.type}}{{layout.type}}">
    <header role="banner">
      <a href="/" class="logo">
        {% include logo-svg.html %}
      </a>
      <nav role="navigation">
        <ul>
          <li><a href="/articles" class="nav-articles">Articles</a></li>
          <li><a href="/projects" class="nav-projects">Projects</a></li>
          <li><a href="/about" class="nav-about">About</a></li>
        </ul>
      </nav>
    </header>
    <div role="main">
