<footer class="footer g-main g-padded">
  <nav class="footer__links g-main__item">
    <ul>
      <li>
        <a href="/">
          Work
        </a>
      </li>
      <li>
        <a href="/blog">
          Blog
        </a>
      </li>
      <li>
        <a href="/about" aria-label="More info about me, my career, and history of this site.">
          About
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/library">
          Library
        </a>
      </li>
      <li>
        <a href="/resume">
          Resume
        </a>
      </li>
      <li>
        <a href="/rss.xml">
          RSS
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="mailto:me@tylergaw.com" rel="me">
          Email
        </a>
      </li>
      <li>
        <a href="https://github.com/tylergaw" rel="me">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://twitter.com/tylergaw" rel="me">
          Twitter
        </a>
      </li>
    </ul>
  </nav>

  <p class="footer__thanks g-main__item">
    Thank you for visiting a personal website.
  </p>

  <div class="scheme-toggle g-main__item">
    <div role="status" class="visually-hidden scheme-toggle-status"></div>
    <button class="scheme-toggle-btn">
      <span class="scheme-toggle-txt"></span>
    </button>
  </div>
</footer>
