<footer class="footer g-main g-padded">
  <nav class="footer__links g-main__item">
    <ul>
      <li>
        <a href="/">
          Work
        </a>
      </li>
      <li>
        <a href="/blog">
          Blog
        </a>
      </li>
      <li>
        <a href="/about" aria-label="More info about me, my career, and history of this site.">
          About
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/library">
          Library
        </a>
      </li>
      <li>
        <a href="/resume">
          Resume
        </a>
      </li>
      <li>
        <a href="/rss.xml">
          RSS
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="mailto:me@tylergaw.com" rel="me">
          Email
        </a>
      </li>
      <li>
        <a href="https://github.com/tylergaw" rel="me">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://twitter.com/tylergaw" rel="me">
          Twitter
        </a>
      </li>
    </ul>
  </nav>

  <p class="footer__thanks g-main__item">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 26 22" width="23" height="19">
      <path fill="#FF1A51" d="M.7 10.2c1.1 6.2 8.3 3.1 13.9 11.4 3.6-9.8 9-5.7 10.3-11.3C26.2 4.6 21.5.3 18.4 0c-5.3-.4-6 5.7-6 5.7s-3-5.2-7-4.5c-2.8.5-5.7 3.4-4.7 9z"/>
    </svg>

    <span>Thank you for visiting a personal website in {{ site.year }}.</span>
  </p>
</footer>
