<link rel="manifest" href="/manifest.webmanifest">
<link
  rel="alternate"
  href="{{ site.url }}/rss.xml"
  type="application/rss+xml"
  title="An account of the work I do as a designer and engineer"
/>
<link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />
<link rel="icon" href="/images/favicon.png" type="image/png" />

<link
  rel="preload"
  href="/fonts/protogroteskweb-light.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/protogroteskweb-bold.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link rel="me" href="https://mastodon.social/@tylergaw" />
<link rel="me" href="https://indieweb.social/@tylergaw" />
