<div class="g-main g-padded work-nav-container">
  <div class="g-main__item work-nav">
    <h2 class="heading--special">Select work</h2>
    <ul class="work-nav__items">
      <li>
        <a href="/work/streetcred" class="nav-streetcred {% if project === 'streetcred' %}nav--current{% endif %}">
          <img src="/images/work/streetcred/streetcred-logo-mini.svg" 
            alt="StreetCred">
        </a>
      </li>
      <li>
        <a href="/work/limbo" class="nav-limbo {% if project === 'limbo' %}nav--current{% endif %}">
          <img src="/images/work/limbo/limbo-logo.svg" 
            alt="Limbo">
        </a>
      </li>
      <li>
        <a href="/work/colorme" class="nav-colorme {% if project === 'colorme' %}nav--current{% endif %}">
          <img src="/images/work/colorme/colorme-logo.svg" 
            alt="ColorMe">
        </a>
      </li>
      <li>
        <a href="/work/thegroundwork" class="nav-thegroundwork {% if project === 'thegroundwork' %}nav--current{% endif %}">
          <img src="/images/work/thegroundwork/gw-logo.svg" alt="The Groundwork">
        </a>
      </li>
      <li>
        <a href="/work/osx-apps-with-js" class="nav-jxa {% if project === 'jxa' %}nav--current{% endif %}">
          <img src="/images/work/jxa/building-osx-apps-with-javascript-logo-mini.svg"
            alt="Building OS X Apps with JavaScript">
        </a>
      </li>
      <li>
        <a href="/work/archive" class="nav-archive {% if project === 'archive' %}nav--current{% endif %}"><div>Archive</div></a>
      </li>
    </ul>
  </div>
</div>