.poster-limbo {
  background-color: transparent;
  color: var(--limbo-red);
  margin-top: -24vw;
  position: relative;
  overflow: visible;
}

.poster-limbo ::selection {
  background-color: var(--limbo-red);
  color: var(--color-eggshell);
}

.limbo-header {
  margin: 15vw auto -15vw auto;
  position: relative;
  padding: 0 1rem;
  pointer-events: none;
  width: 95%;
}

.limbo-header h2 {
  position: relative;
  z-index: 3;
}

.limbo-header::before {
  background: transparent url("/images/limbo-owl.png") no-repeat center;
  background-size: contain;
  content: "";
  display: block;
  left: calc(50% - 30%);
  padding-top: 100%;
  position: absolute;
  top: -51vw;
  width: 60%;
  z-index: 2;
}

.webp .limbo-header::before {
  background-image: url("/images/limbo-owl.webp");
}

.poster-limbo a {
  color: var(--limbo-red);
}

.poster-limbo a:hover,
.poster-limbo a:focus {
  color: var(--limbo-dark);
}

.poster-fill-limbo {
  background: var(--color-eggshell) url("/images/home-limbo-bg-tile.svg") repeat;
  background-size: 1100px;
  --limbo-poster-clip: polygon(0 0, 100% 1.2rem, 100% 100%, 0 100%);
  -webkit-clip-path: var(--limbo-poster-clip);
  clip-path: var(--limbo-poster-clip);
  padding-top: 18vw;
  width: 100%;
}

.limbo-project-contents {
  padding-bottom: 0;
}

@media (min-width: 70em) {
  .limbo-header {
    margin: 10vw auto -10vw auto;
  }

  .poster-fill-limbo {
    padding-top: 13vw;
  }

  .limbo-header h2 {
    width: 75%;
  }

  .limbo-header::before {
    left: calc(100% - 38%);
    top: -45vw;
    width: 40%;
  }
}

@media (min-width: 117.5em) {
  .limbo-header {
    margin: 11.75rem auto -11.75rem auto;
    max-width: 114rem;
  }

  .poster-fill-limbo {
    padding-top: 15.25rem;
  }
}
