#page-about {
  background: #091d2a url(/images/body-bg-navy.png) fixed repeat 20% top;
  
  & > div {
    background: #ffef69 url(/images/content-bg-yellow.png) repeat 20% top;
    color: #514a3e;
  }
}