.hentry {
  margin-bottom: 1em;
  overflow: hidden;
  
  h1 {
    color: #8e46d1;
    font-size: 2.2em;
    letter-spacing: 0.25em;
    line-height: 1;
  }
  
  header {
    margin: 1em 0;
  }
  
  time {
    font-size: 1.1em;
    @extend .inconsolata;
  }
  
  @media screen and (min-width: 620px) {
    h1 {
      font-size: 3.3em;
      line-height: 1.1;
    }
    
    time {
      display: inline-block;
      font-size: 1.25em;
      margin-top: 1.1em;
    }
  }
}

.entry-author {
  display: none;
}

// Extra specificity needed here due to styles in _articles.scss
#page-article .entry-content h2 {
  color: #514820;
  font-family: 'chaparral-pro', times, serif;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1;
  padding: 0.8em 0 0.2em 0;
  text-transform: none;
}

.entry-content {
  color: #716738;
  font-size: 1.2em;
  line-height: 1.4;
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  p {
    padding-bottom: 0.8em;
  }
  
  figure {
    margin: 0.2em 0 0.9em 0;
  }
  
  figcaption {
    color: #433f1e;
    font-size: 0.8em;
    font-style: italic;
  }
  
  ul {
    padding: 0 0.2em 1em 0.2em;
  }
  
  li {
    font-size: 0.95em;
    list-style: square inside;
  }
  
  pre {
    background-color: #f9f6f0;
    border: 1px solid #e8dbc1;
    border-right-color: #fbf0d9;
    border-bottom-color: #fbf0d9;
    color: #191919;
    font-family: 'inconsolata', courier, monospace;
    font-size: 0.85em;
    margin-bottom: 0.8em;
    white-space: pre-wrap;
    
    code {
      display: inline-block;
      padding: 0.4em 0.6em;
    }
  }
  
  @media screen and (min-width: 620px) {
    
    font-size: 1.3em;
    margin-top: -2em;
    
    h2, p, ul, figure, pre {
      clear: right;
      float: right;
      margin-right: 7.9701121%;
      width: 68.4931507%
    }
    
    .entry-intro, figure, pre {
      margin-right: 0;
      width: 76.3387298%;
    }
    
    .entry-intro {
      line-height: 1.5;
    }
  }
}

.entry-intro {
  color: #433f1e;
  font-size: 1.1em;
  line-height: 1.4;
}