.hentry {
    margin-bottom: 1em;
    overflow: hidden;

    header {
        margin: 1.4em 0 3.2em 0;
        text-align: center;
    }

    .published {
        font-size: 1.1em;
        @extend .inconsolata;
    }

    .entry-title {
        color: #8e46d1;
        font-size: 1.8em;
        letter-spacing: 0.25em;
        line-height: 1;
    }

    .short-title,
    .med-title {
        font-size: 2.1em;
    }

    blockquote {
        border-left: 4px solid #564e26;
        padding: 0.4em 0.3em 0 1em;
        margin-bottom: 1em;
        font-size: 0.9em;
    }

    @media screen and (min-width: 420px) {
        .entry-title {
            font-size: 2.2em;
        }

        .short-title {
            font-size: 3.2em;
        }

        .med-title {
            font-size: 2.8em;
        }
    }

    @media screen and (min-width: 730px) {
        .entry-title {
            font-size: 3.8em;
            line-height: 1.1;
        }

        .short-title {
            font-size: 5.6em;
        }

        .med-title {
            font-size: 4.4em;
        }

        .long-title {
            font-size: 3.2em;
        }

        .published {
            display: inline-block;
            font-size: 1.2em;
        }
    }
}

.entry-author {
    display: none;
}

.rdbWrapper {
    display: block;
    height: 21px;
    margin: 0.2em auto 0 auto;
    overflow: hidden;
    width: 160px;
}

// Extra specificity needed here due to styles in _articles.scss
#page-article .entry-content h2 {
    color: #514820;
    font-family: 'chaparral-pro', times, serif;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1;
    padding: 0.8em 0 0.2em 0;
    text-transform: none;
}

.entry-content {
    color: darken(#564e26, 10);
    font-size: 1.3em;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 710px;
    width: 92%;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    h3, h4, h5, h6 {
        font-family: 'chaparral-pro', times, serif;
        font-weight: 600;
        text-transform: none;
    }

    p {
        padding-bottom: 1.4em;

        code {
            background-color: #f9f6f0;
            color: #191919;
            font-family: 'inconsolata', courier, monospace;
            font-size: 0.85em;
        }
    }

    p:last-child {
        padding-bottom: 0.4em;

        i {
            background: transparent url(/images/articles-thanks.png) no-repeat left top;
            display: inline-block;
            height: 51px;
            margin-top: 0.5em;
            text-indent: -300em;
            width: 219px;
        }
    }

    figure {
        margin: 0.2em 0 1.8em 0;

        img {
            box-shadow: 0 1px 1px rgba(#000, 0.4);
        }
    }

    figcaption {
        text-align: center;
    }

    figcaption,
    .note {
        color: #433f1e;
        font-size: 0.8em;
        font-style: italic;
    }

    ul {
        padding: 0 0.2em 1em 0.2em;
    }

    li {
        font-size: 0.95em;
        list-style: square inside;
    }

    pre {
        background-color: #f9f6f0;
        border: 1px solid #e8dbc1;
        border-right-color: #fbf0d9;
        border-bottom-color: #fbf0d9;
        color: #191919;
        font-family: 'inconsolata', courier, monospace;
        font-size: 0.85em;
        margin-bottom: 0.8em;
        white-space: pre-wrap;

        code {
            display: inline-block;
            padding: 0.4em 0.6em;
        }
    }

    @media screen and (min-width: 730px) {
        font-size: 1.5em;

        .entry-intro {
            line-height: 1.5;
        }
    }
}

.entry-intro {
    color: #433f1e;
    font-size: 1.1em;
    line-height: 1.4;

    &::after {
        background-image: url(/images/nav-divider-green.png);
        content: "";
        display: block;
        margin: 0.8em auto 0 auto;
        text-align: center;
        width: 46px;
        height: 14px;
    }
}

.entry-update {
    font-size: 0.9em;
    font-style: italic;
}