[role='banner'] {
  
  margin: 0 auto;
  overflow: hidden;
  padding-top: 1em;
  position: relative;
  width: 90%;
  
  & > a {
    background: transparent url(/images/logo-white-red.png) no-repeat center;
    display: block;
    height: 110px;
    margin: 0 auto;
    width: 142px;
  }
  
  h1, h2 {
    display: none;
  }
  
  @media screen and (min-width: 620px) {
    & > a {
      float: left;
    }
  }
}

#page-home [role="banner"] {
  @media screen and (min-width: 768px) {
    & > a {
      background: transparent url(/images/logo-large.png) no-repeat right top;
      @include background-size(100%);
      height: auto;
      padding-top: 57%;
      width: 100%;
    }
  }  
}

#page-articles [role='banner'] {
  & > a {
    background-image: url(/images/logo-grey-purple.png);
  }
}

#page-projects [role='banner'] {
  & > a {
    background-image: url(/images/logo-white.png);
  }
}

#page-about [role='banner'] {
  & > a {
    background-image: url(/images/logo-navy-red.png);
  }
}