[role='banner'] {
  
  margin: 0 auto;
  overflow: hidden;
  padding-top: 1em;
  position: relative;
  width: 95%;
  
  & > a {
    background: transparent url(/images/logo-white-red.png) no-repeat center;
    display: block;
    height: 110px;
    margin: 0 auto;
    width: 142px;
  }
  
  h1, h2 {
    display: none;
  }
  
  @media screen and (min-width: 575px) {
    & > a {
      float: left;
    }
  }
}

#page-articles [role='banner'] {
  & > a {
    background-image: url(/images/logo-grey-purple.png);
  }
}

#page-projects [role='banner'] {
  & > a {
    background-image: url(/images/logo-white.png);
  }
}

#page-about [role='banner'] {
  & > a {
    background-image: url(/images/logo-navy-red.png);
  }
}