#disqus_thread {
    background: transparent url(/images/articles-section-divider.png) repeat-x left top;
    font-size: 1.1em;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 740px;
    overflow: hidden;
    padding-top: 2.5em;
    width: 92%;

    img {
        width: auto;
    }

    a {
        color: #1e86d7;
        text-decoration: none;

        &:hover {
            color: #1872B6;
        }
    }
}