[role='contentinfo'] {
    background: transparent url(/images/footer-border-navy-yellow.png) repeat-x 20% top;
    font-size: 1.3em;
    padding: 0.9em 0 0.5em 0;

    h1 {
        color: #3f2d05;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        margin-bottom: 0.6em;
        max-width: 11em;
    }

    section {
        margin: 1.2em auto;
        max-width: $max-width;
        width: 90%;
    }

    li {
        display: inline-block;
        margin-bottom: 0.5em;
        width: 45.4245283%;
    }

    a {
        background: transparent url(/images/footer-icons-color.png) no-repeat left 0.35em;
        color: #3c362c;
        display: inline-block;
        font-weight: 400;
        padding: 0.2em 0;
        text-decoration: none;
        text-indent: 1.2em;

        &:hover {
            color: #111;
        }

        &[href*='dribbble'] {
            background-position: left -1.63em;
        }

        &[href*='github'] {
            background-position: left -3.58em;
        }

        &[href*='readability'] {
            background-position: left -5.5em;
        }

        &[href*='rss'] {
            background-position: left -9.5em;
        }

        &[href*='mailto'] {
            background-image: none;
            text-indent: 0;
        }
    }

    @media screen and (min-width: 481px) {
        font-size: 1.2em;

        li {
            width: 26.4716981%;
        }

        a {
            background-position: left 0.32em;

            &[href*='dribbble'] {
                background-position: left -1.8em;
            }

            &[href*='github'] {
                background-position: left -3.9em;
            }

            &[href*='readability'] {
                background-position: left -5.9em;
            }

            &[href*='rss'] {
                background-position: left -10.3em;
            }
        }
    }

    @media screen and (min-width: 600px) {
        h1 {
            display: inline-block;
            margin: 0.3em 0 0 0;
            vertical-align: top;
            width: 25.6687422%;
        }

        ul {
            display: inline-block;
            width: 73.8019925%;
        }

        li {
            width: 28.4716981%;
        }
    }
}

#page-articles [role='contentinfo'], #page-article [role='contentinfo'] {
    background-image: url(/images/footer-border-tan-green.png);
}

#page-projects [role='contentinfo'] {
    background-image: url(/images/footer-border-charcoal-white.png);

    h1 {
        color: #575757;
    }

    a {
        background-image: url(/images/footer-icons-grayscale.png);
        color: #575757;

        &:hover {
            color: #191919;
        }

        &[href*='mailto'] {
            background-image: none;
        }
    }
}

#page-about [role='contentinfo'] {
    background-image: url(/images/footer-border-yellow-navy.png);

    h1 {
        color: #8a8a8a;
    }

    a {
        color: #a3a3a3;

        &:hover {
            color: #e3e3e3;
        }
    }
}