[role='contentinfo'] {
  background: transparent url(/images/footer-border-navy-yellow.png) repeat-x 20% top;
}

#page-articles [role='contentinfo'] {
  background-image: url(/images/footer-border-tan-green.png);
}

#page-projects [role='contentinfo'] {
  background-image: url(/images/footer-border-charcoal-white.png);
}

#page-about [role='contentinfo'] {
  background-image: url(/images/footer-border-yellow-navy.png);
}