#page-home {
  background: #ffb900 url(/images/body-bg-yellow.png) fixed repeat 20% top;
  
  ::selection {
    background-color: #ffe400;
    color: #081516;
  }
  
  & > div {
    background: #081516 url(/images/content-bg-navy.png) repeat 20% top;
    @include border-image('home');
    color: #b3b3b3;
  }
  
  time {
    color: #cfbfa6;
  }
  
  [role='main'] {
    
    @media screen and (min-width: 768px) and (min-height: 500px) {
      padding-top: 1.5em;
    }
    
    h2, a {
      color: #fff;
    }
    
    p {
      a {
        color: #d7c31e;

        &:hover {
          border-bottom-color: #d7c31e;
        }
      }
    }
  }
}