#page-home {
  background: #ffb900 url(/images/body-bg-yellow.png) fixed repeat 20% top;
  
  & > div {
    background: #081516 url(/images/content-bg-navy.png) repeat 20% top;
    color: #b3b3b3;
  }
  
  time {
    color: #cfbfa6;
  }
  
  [role='main'] {
    h2, a {
      color: #fff;
    }
    
    p {
      a {
        color: #d7c31e;

        &:hover {
          border-bottom-color: #d7c31e;
        }
      }
    }
  }
}