#page-home {
  background: #ffb900 url(/images/body-bg-yellow.png) fixed repeat 20% top;
  
  & > div {
    background: #081516 url(/images/content-bg-navy.png) repeat 20% top;
    color: #b3b3b3;
  }
  
  time {
    @extend .inconsolata;
    color: #cfbfa6;
  }
  
  [role='main'] {
    h1 {
      display: none;
    }
    
    h2 {
      color: #fff;
      font-size: 1.6em;
      letter-spacing: 0.25em;
      line-height: 1;
      margin-bottom: 0.5em;
    }
    
    li {
      overflow: hidden;
      padding: 1.3em 0 1.8em 0;
    }
    
    img {
      display: block;
      margin-bottom: 0.5em;
    }
    
    p {
      a {
        border-bottom: 2px solid transparent;
        color: #d7c31e;
        display: inline-block;
        font-style: italic;
        margin-top: 0.6em;
        text-decoration: none;

        &:hover {
          border-bottom-color: #d7c31e;
        }
      }
    }
    
    @media screen and (min-width: 420px) {
      h2 + a {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 51.2544379%;
        
        img {
          width: auto;
        }
      }
      
      p {
        display: inline-block;
        padding-left: 0.8em;
        vertical-align: top;
        width: 44.0828402%;
      }
    }
    
    @media screen and (min-width: 760px) {
      li.project time {
          background-image: url(/images/latest-project-time-border.png);
      }
      
      time {
        background: transparent url(/images/latest-article-time-border.png) no-repeat left top;
        float: left;
        font-size: 1.1em;
        margin-top: 0.4em;
        padding: 0.4em 0 0 0.2em;
        width: 3.8em;
        
        b {
          letter-spacing: 0.33em;
        }
      }
      
      li {
        div {
          float: right;
          width: 84.1843088%;
        }
      }
      
      p {
        font-size: 1.1em;
      }
      
      h2 + a {
        img {
          width: 100%;
        }
      }
      
    }
  }
}