#page-projects {
  background: #ededed url(/images/body-bg-white.png) fixed repeat 20% top;
  
  & > div {
    background: #191919 url(/images/content-bg-charcoal.png) repeat 20% top;
    color: #bfbfbf;
  }
  
  [role='main'] {
    
    font-size: 1.1em;
    
    h3 {
      color: #fefefe;
      font-size: 1.6em;
      letter-spacing: 0.25em;
      line-height: 1;
    }
    
    p {
      padding: 0.6em 0 0.8em 0;
    }
    
    div {
      font-size: 1.1em;
      text-align: left;
      
      &:after {
        clear: both;
        content: " ";
        display: block;
      }
    }
    
    a {
      text-decoration: none;
    }
    
    section:first-child {
      background: transparent url(/images/projects-section-divider.png) repeat-x left bottom;
      
      h1 {
        display: none;
      }
      
      h3 {
        margin-bottom: 26%;
      }
      
      li {
        @include background-size(100%);
        padding: 1.8em 0;
      }
      
      a {
        clear: right;
        color: #fefefe;
        display: inline-block;
        float: right;
        margin-bottom: 0.3em;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        &[href*='github'] {
          color: #9a9a9a;
          font-size: 0.9em;
          font-style: italic;

          b {
            color: #d4d4d4;
            font-style: italic;
          }
        }

        &:hover {
          color: #c4c4c4;
        }
      }
    }
    
    section:last-child {
      padding-top: 1.2em;
      
      h1 {
        color: #fff;
        font-size: 1.1em;
        letter-spacing: 0.8em;
        text-align: center;
        text-indent: 0.8em;
      }
      
      h2 {
        color: #bfbfbf;
        font-family: 'chaparral-pro', times, serif;
        font-size: 0.95em;
        font-style: italic;
        margin: 0 auto;
        text-align: center;
        text-transform: none;
      }
      
      h3 {
        font-size: 1.2em;
      }
      
      li {
        margin: 1.8em 0 2.2em 0;
      }
      
      p {
        padding: 0.4em 0 0 0;
      }
      
      a {
        display: block;
        
        &:hover h3 {
          color: #c4c4c4;
        }
      }
      
      @media screen and (min-width: 420px) {
        h1 {
          font-size: 1.6em;
          text-indent: 0.2em;
        }
        
        h2 {
          width: 80%;
        }
        
        ul {
          overflow: hidden;
        }
        
        li {
          clear: left;
          display: block;
          float: left;
          vertical-align: top;
          width: 44.9564134%;
          
          &:nth-child(2n) {
            clear: right;
            float: right;
          }
        }
        
        a {
          overflow: hidden;
        }
        
        img {
          width: auto;
        }
      }
    
      @media screen and (min-width: 640px) {
        h1 {
          font-size: 2em;
          letter-spacing: 1em;
          text-indent: 0.7em;
        }
        
        ul {
          margin-top: 1em;
        }
      }
      
      @media screen and (min-width: 887px) {
        img {
          width: 100%;
        }
      }
    }
  }
}

#project-mfh {
  background: transparent url(/images/project-mfh-small.png) no-repeat center 29%;
}

#project-jribbble {
  background: transparent url(/images/project-jribbble-small.png) no-repeat center 21%;
}

#project-fcs {
  background: transparent url(/images/project-fcs-small.png) no-repeat center 21%;
}