#page-projects {
  background: #ededed url(/images/body-bg-white.png) fixed repeat 20% top;
  
  & > div {
    background: #191919 url(/images/content-bg-charcoal.png) repeat 20% top;
    color: #bfbfbf;
  }
  
  [role='main'] {
    
    font-size: 1.1em;
    
    li {
      @include background-size(100%);
      padding: 1.6em 0;
    }
    
    h3 {
      color: #fefefe;
      font-size: 1.6em;
      letter-spacing: 0.25em;
      line-height: 1;
      margin-bottom: 26%;
    }
    
    p {
      padding: 0.6em 0 0.8em 0;
    }
    
    div {
      font-size: 1.1em;
      text-align: right;
      
      &:after {
        clear: both;
        content: " ";
        display: block;
      }
    }
    
    a {
      clear: right;
      color: #fefefe;
      display: inline-block;
      float: right;
      margin-bottom: 0.3em;
      text-decoration: none;
      
      &[href*='github'] {
        color: #9a9a9a;
        font-size: 0.9em;
        font-style: italic;
        
        b {
          color: #d4d4d4;
          font-style: italic;
        }
      }
      
      &:hover {
        color: #fff;
      }
    }
    
    section:first-child {
     h1 {
       display: none;
     }
    }
  }
}

#project-mfh {
  background: transparent url(/images/project-mfh-small.png) no-repeat center 29%;
}

#project-jribbble {
  background: transparent url(/images/project-jribbble-small.png) no-repeat center 19%;
}

#project-fcs {
  background: transparent url(/images/project-fcs-small.png) no-repeat center 19%;
}