@import "compass/css3";

@mixin border-image ($pageName) {
  -moz-border-image: url('/images/content-border-#{$pageName}.png') 3 3 3 3 repeat;
  -webkit-border-image: url('/images/content-border-#{$pageName}.png') 3 3 3 3 repeat;
  -o-border-image: url('/images/content-border-#{$pageName}.png') 3 3 3 3 repeat;
}

@import "reset", "general", "banner", "navigation", "contentinfo";
@import "home", "articles", "article", "articlenavigation", "comments";
@import "projects", "about", "listings";