<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Tyler Gaw is working with the Web</title>
	<meta name="description" content="Tyler Gaw is a web designer and developer in New York City, New York">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/dist/core.css">
	<script type="text/javascript" src="http://use.typekit.com/qpd2vla.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
	<body id="page-<%- activeId %>">
	<header role="banner">
		<a href="/">
			<hgroup>
				<h1>Tyler Gaw</h1>
				<h2>Designer ++++++++ Developer</h2>
			</hgroup>
		</a>
		<nav>
			<ul>
				<li><a href="/projects">projects</a></li>
				<li><a href="/articles">articles</a></li>
				<li><a href="/info">info</a></li>
			</ul>
		</nav>
	</header>
	
	<div id="content" role="main">
		<%- body %>
	</div>
	
	<footer role="authorinfo">
		<ul>
			<li><a href="http://twitter.com/thegaw">Twitter</a></li>
			<li><a href="http://dribbble.com/tylergaw">Dribbble</a></li>
			<li><a href="http://readability.com/tylergaw">Readability</a></li>
		</ul>
	</footer>
</body>
</html>