[data-page="about"] {
    h2,
    h3,
    .design-to-me {
        @extend %futura-heading;
    }
}

$leftPadding: 2%;
$rightPadding: 4%;

.big-talker {
    align-self: center;
    @include flex;
    @include flex-wrap(wrap);
    overflow: hidden;
    padding-top: 1.6em;
    position: relative;

    h2 {
        font-size: 8.2vw;
        margin-bottom: 0.2em;
        text-align: center;
        width: 100%;
    }

    h3 {
        font-size: 1.4em;
        padding: 0 $rightPadding 0.4em 4%;
    }

    p {
        color: $darkerwhite;
        font-size: 1.4em;
        line-height: 1.5;
        padding: 0 $rightPadding 1.1em $leftPadding;
    }

    .number-one {
        color: $offwhite !important;
        font-size: 1.7em;
        font-style: italic;
        margin-top: 0.3em;

        strong {
            display: inline-block;
            @extend %futura-heading;
            font-style: normal;
        }

        // Yellow divider
        &::after {
            background-color: $yellow;
            content: "";
            display: block;
            margin: 1em auto 0 auto;
            text-align: center;
            width: 25%;
            height: 0.4em;
        }
    }
}

.number-one + p:first-letter {
    @extend %drop-cap;
}

.more-on {
    align-self: center;
    @include flex;
    @include flex-wrap(wrap);
    padding: 1.1em $rightPadding 2em $leftPadding;

    div {
        box-sizing: border-box;
        width: 50%;
    }

    h3 {
        padding: 0 0 0.4em 0;
    }

    p {
        font-size: 1.2em;
        padding: 0 0 1em 0;
    }
}

.on-design {
    padding-right: 3%;
}

.on-development {
    padding-left: 3%;
}

.all-about-me {
    box-sizing: border-box;
    padding-top: 0.8em;
    width: 60%;
}

.my-big-dumb-faces {
    background: transparent url(../images/tmp-portraits.png) no-repeat center top;
    background-size: 95%;
    box-sizing: border-box;
    padding: 0 1.5%;
    width: 40%;
}

.design-to-me {
    border-top: 8px solid $offwhite;
    border-bottom: 8px solid $offwhite;
    box-sizing: border-box;
    color: $offwhite;
    font-size: 5.2vw;
    line-height: 1.3 !important;
    margin: 0 auto;
    padding: 0.3em 0;
    position: relative;
    text-align: center;
    width: 98%;
}

.things-i-do {
    align-self: center;
    @include flex;
    @include flex-wrap(wrap);
    margin: 1.5em auto 0 auto;
    width: 98%;
}

.services {
    $width: 85%;
    @include align-items(center);
    background-color: $yellow;
    color: $grey;
    @extend %futura;
    @include flex;
    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    width: 45%;

    .big-bad-words {
        font-size: 2.7vw;
        padding: 0.5em 0;

        h2 {
            font-size: 4vw;
            font-weight: 700;
        }
    }

    .boastin {
        border-bottom: 4px solid $grey;
        margin: 0 auto;
        padding: 0.3em 0 0.6em 0;
        width: $width;

        p {
            display: inline-block;
            text-align: center;
            width: 48%;
        }
    }

    .listed {
        border-bottom: 4px solid $grey;
        border-top: 4px solid $grey;
        box-sizing: border-box;
        font-size: 1.3em;
        line-height: 1.3;
        margin: 0 auto;
        padding: 0.6em 8%;
        text-align: center;
        width: $width;
    }

    .no-bullshit {
        font-size: 1.3em;
        padding: 0.6em 0;
    }
}

.skills {
    font-size: 1.1em;
    width: 55%;
}

.the-site {
    display: none;
}
