[data-page="about"] {
    h2,
    h3,
    .design-to-me {
        @extend %futura-heading;
    }
}

$leftPadding: 2%;
$rightPadding: 4%;

.big-talker {
    align-self: center;
    @include flex;
    @include flex-wrap(wrap);
    overflow: hidden;
    padding-top: 1.5em;
    position: relative;

    h2 {
        font-size: 8vw;
        margin-bottom: 0.1em;
        text-align: center;
        width: 100%;
    }

    h3 {
        font-size: 1.4em;
        padding: 0 $rightPadding 0.4em 4%;
    }

    p {
        color: $darkerwhite;
        font-size: 1.4em;
        line-height: 1.5;
        padding: 0 $rightPadding 1.1em $leftPadding;
    }

    .number-one {
        color: $offwhite !important;
        font-size: 1.7em;
        font-style: italic;
        margin-top: 0.3em;

        strong {
            display: inline-block;
            @extend %futura-heading;
            font-style: normal;
        }

        // Yellow divider
        &::after {
            background-color: $yellow;
            content: "";
            display: block;
            margin: 1em auto 0 auto;
            text-align: center;
            width: 25%;
            height: 0.4em;
        }
    }
}

.number-one + p:first-letter {
    @extend %drop-cap;
}

.more-on {
    align-self: center;
    @include flex;
    @include flex-wrap(wrap);
    padding: 1.1em $rightPadding 0 $leftPadding;

    div {
        box-sizing: border-box;
        width: 50%;
    }

    h3 {
        padding: 0 0 0.4em 0;
    }

    p {
        font-size: 1.2em;
        padding: 0;
    }
}

.on-design {
    padding-right: 3%;
}

.on-development {
    padding-left: 3%;
}

.all-about-me {
    box-sizing: border-box;
    width: 60%;
}

.my-big-dumb-faces {
    background: transparent url(../images/tmp-portraits.png) no-repeat right top;
    background-size: 97%;
    box-sizing: border-box;
    padding-left: 1%;
    width: 40%;

    // img {
    //     display: block;
    //     width: 100%;
    // }
}

.design-to-me {
    box-sizing: border-box;
    color: $offwhite;
    font-size: 5.3vw;
    line-height: 1.3 !important;
    padding: 0.2em 1%;
    position: relative;
    text-align: center;
    z-index: 2;
}
