[data-page="about"] {
    h2, h3, h4, .design-to-me {
        @extend %futura-heading;
    }
}

$leftPadding: 2%;
$rightPadding: 4%;

.gaw-gives-a-shit {
    font-size: 2.9em;
    margin-bottom: 0.2em;
    text-align: center;
    width: 98%;
}

.big-talker {
    align-self: center;
    @include flex;
    @include flex-wrap(wrap);
    overflow: hidden;
    padding-top: 1.6em;
    position: relative;

    h3 {
        font-size: 1.2em;
        padding: 0.6em 0 0.1em 0;
    }

    p {
        color: $darkerwhite;
        padding-bottom: 1.4em;
    }

    // Intro
    .number-one {
        color: $offwhite !important;
        font-size: 1.2em;
        font-style: italic;
        line-height: 1.4;
        margin-top: 0.3em;
        text-align: center;

        strong {
            @extend %futura-heading;
            font-style: normal;
        }

        &::after {
            @extend %yellow-divider;
            margin: 1em auto 0 auto;
        }
    }
}

.all-about-me {
    box-sizing: border-box;
    font-size: 1.2em;
    margin: 0 auto;
    line-height: 1.5;
    padding-top: 0.8em;
    width: 93%;
}

.number-one + p:first-letter {
    @extend %drop-cap;
}

.my-big-dumb-faces {
    background: transparent url(../images/tyler-gaw-portraits-horizontal.jpg) no-repeat center top;
    background-size: 97%;
    box-sizing: border-box;
    padding-top: 66%;
    width: 100%;
}

.design-to-me {
    border-top: 8px solid $offwhite;
    border-bottom: 8px solid $offwhite;
    box-sizing: border-box;
    color: $offwhite;
    font-size: 1.55em;
    line-height: 1.3 !important;
    margin: 0 auto;
    padding: 0.3em 0;
    position: relative;
    text-align: center;
}

.things-i-do {
    align-self: center;
    @include flex;
    @include flex-wrap(wrap);
    margin: 1.2em auto 0 auto;
}

.services {
    $width: 88%;
    @include align-items(center);
    background-color: $yellow;
    color: $grey;
    @extend %futura;
    @include flex;
    padding: 0.8em 0 0.4em 0;
    text-align: center;
    text-transform: uppercase;

    // Extra containing element
    & > div {
        width: 100%;
    }

    .boastin {
        border-bottom: 4px solid $grey;
        font-size: 1em;
        margin: 0 auto;
        padding: 0.3em 0 0.6em 0;
        width: $width;

        p {
            display: inline-block;
            text-align: center;
            width: 48%;
        }
    }

    .listed {
        border-bottom: 4px solid $grey;
        border-top: 4px solid $grey;
        box-sizing: border-box;
        font-size: 1em;
        line-height: 1.3;
        margin: 0 auto;
        padding: 0.3em 3%;
        width: $width;
    }

    .no-bullshit {
        font-size: 1.3em;
        padding: 0.6em 0;
    }
}

.big-bad-words {
    font-size: 1.2em;
    padding: 0.8em 0 0.4em 0;

    h2 {
        font-size: 1.6em;
        font-weight: 700;
    }
}

.skills {
    box-sizing: border-box;
    color: $darkerwhite;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0.5em auto 0 auto;
    width: 93%;
}

.skill-type  {
    & + li {
        margin-top: 1em;
    }

    h3 {
        color: $offwhite;
        font-size: 1.2em;
        padding: 0.6em 0 0.1em 0;
    }

    h4 {
        color: $yellow;
        font-size: 0.9em;
        padding-bottom: 0.1em;
    }

    p {
        font-size: 0.9em;
        line-height: 1.4;
    }

    li {
        padding: 0.6em 0;
    }
}

@media screen and (min-width: 390px) {
    .gaw-gives-a-shit {
        font-size: 12vw;
    }
}

@media screen and (min-width: 440px) {
    .big-bad-words {
        font-size: 1.7em;
    }
}

@media screen and (min-width: 500px) {
    .design-to-me {
        font-size: 5.2vw;
        width: 98%;
    }

    .services {
        margin: 0 auto;
        width: 98%;

        .listed {
            font-size: 1.2em;
        }

        .no-bullshit {
            font-size: 1.6em;
        }
    }

    .big-bad-words h2 {
        font-size: 9vw;
    }
}

@media screen and (min-width: 555px) {
    .skill-type {
        li {
            @include flex;
        }

        h4 {
            padding-top: 0.25em;
            width: 20%;
        }

        p {
            width: 80%;
        }
    }
}

@media screen and (min-width: 570px) {
    .gaw-gives-a-shit {
        font-size: 8.3vw;
        width: 100%;
    }

    .all-about-me {
        font-size: 1.4em;
    }

//////////////////////////////

    // .things-i-do {
    //     margin-top: 1.5em;
    //     width: 98%;
    // }

    // .skills {
    //     padding-top: 0;
    //     width: 55%;
    // }

    // .skill-type {
    //     li {
    //         @include flex;
    //
    //         strong {
    //             padding-top: 0.5em;
    //             width: 20%;
    //         }
    //
    //         p {
    //             width: 80%;
    //         }
    //     }
    // }
}

@media screen and (min-width: 650px) {
    .more-on {
        align-self: center;
        @include flex;
        @include flex-wrap(wrap);
        font-size: 0.8em;

        div {
            box-sizing: border-box;
            width: 50%;
        }
    }

    .on-design {
        padding-right: 3%;
    }

    .on-development {
        padding-left: 3%;
    }
}

@media screen and (min-width: 720px) {
    .big-talker .number-one {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 820px) {
    .my-big-dumb-faces {
        background-size: 95%;
        background-image: url(../images/tyler-gaw-portraits.jpg);
        padding-top: 0;
        width: 40%;
    }

    .all-about-me {
        padding-right: $rightPadding;
        padding-left: $leftPadding;
        padding-bottom: 1.2em;
        width: 60%;
    }

    .big-talker .number-one {
        font-size: 1.3em;
        text-align: left;
    }

    .more-on div {
        width: 100%;
    }

    .on-design, .on-development {
        padding: 0;
    }

    .skills {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 910px) {
    .more-on div {
        width: 50%;
    }

    .on-design {
        padding-right: 3%;
    }

    .on-development {
        padding-left: 3%;
    }
}

@media screen and (min-width: 1500px) {
    .all-about-me {
        font-size: 1.6em;
    }

    .more-on {
        font-size: 0.9em;
    }
}

.the-site {
    display: none;
}
