$contentWidth: 93%;
$maxContentWidth: 850px;
$maxTextWidth: 790px;

%maxedText {
    margin: 0 auto;
    max-width: $maxTextWidth;
}

.hentry {
    overflow: hidden;

    header {
        margin: 1.8em 0 2.3em 0;
        text-align: center;
    }

    .entry-title {
        @extend %futura;
        color: $offwhite;
        font-size: 2.5em;
        line-height: 1.1;
        margin: 0 auto;
        text-transform: uppercase;
        max-width: 95%;
    }

    .published {
        color: $yellow;
        display: block;
        font-size: 1.2em;
        font-variant: small-caps;
        margin-top: 0.4em;

        &::before,
        &::after {
            color: rgba($offwhite, 0.3);
            content: "–";
        }
    }

    @media screen and (min-width: 620px) {
        .entry-title {
            font-size: 6.5vw;
        }
    }
}

.entry-author {
    display: none;
}

.entry-content {
    color: $darkerwhite;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto;
    max-width: $maxContentWidth;
    width: $contentWidth;

    h2, h3, h4, h5, h6 {
        color: $offwhite;
        @extend %maxedText;
        font-weight: 600;
    }

    h2 {
        @extend %futura;
        font-weight: 700;
        font-size: 1.2em;
        padding: 0.6em 0 0.1em 0;
        text-transform: uppercase;
    }

    p:not(.entry-intro) {
        padding-bottom: 1.4em;
        @extend %maxedText;
    }

    p:last-child {
        padding-bottom: 0.4em;

        i {
            background: transparent url(/images/articles-thanks.png) no-repeat left top;
            display: inline-block;
            height: 51px;
            margin-top: 0.5em;
            text-indent: -300em;
            width: 219px;
        }
    }

    figure {
        margin: 0.2em 0 1.8em 0;

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }

    figcaption {
        margin-top: 0.4em;
        text-align: center;
    }

    figcaption,
    .note {
        font-size: 0.8em;
        font-style: italic;
    }

    ul {
        padding: 0 0.2em 1.4em 0.2em;
        @extend %maxedText;
    }

    li {
        font-size: 0.95em;
        list-style: disc inside;
    }

    blockquote {
        border-left: 4px solid $yellow;
        padding: 0.4em 0.3em 0 1em;
        margin-bottom: 1em;
        font-size: 0.9em;
    }
}

.entry-intro {
    color: $offwhite;
    font-size: 1.1em;
    font-style: italic;
    line-height: 1.4;
    text-indent: 1em;

    // Yellow divider
    &::after {
        background-color: $yellow;
        content: "";
        display: block;
        margin: 1.5em auto 1.5em auto;
        text-align: center;
        width: 25%;
        height: 0.4em;
    }
}

.entry-intro + h2 {
    padding-top: 0;
}

// Drop cap
.entry-intro + p:first-letter,
.entry-intro + h2 + p:first-letter {
    @extend %futura;
    color: $yellow;
    font-size: 350%;
    font-weight: 700;
    float: left;
    line-height: 0.85;
    padding-right: 0.08em;
}

@media screen and (min-width: 620px) {
    .entry-content {
        font-size: 1.4em;
    }
}

.entry-update {
    font-size: 0.9em;
    font-style: italic;
}

#disqus_thread {
    @extend %maxedText;
    margin-top: 3.5em;
    width: $contentWidth;
}
