.article-list {
    margin: 0 auto;
    padding-top: 1em;

    @include flex;
    @include flex-wrap(wrap);
    width: 95%;

    li {
        box-sizing: border-box;
        margin: 0.6em 1.2%;
        padding: 1em;
        width: 30.33%;
    }

    .section-title,
    .potential {
        @include align-items(flex-end);
        background-color: $yellow;
        color: $grey;
        @include flex;
    }

    .section-title {
        p {
            color: $grey;
        }

        h2 {
            @extend %futura;
            font-size: 2.2em;
            text-transform: uppercase;
        }
    }

    .potential {
        @extend %futura;
        text-transform: uppercase;
    }

    time {
        color: $yellow;
        display: block;
        font-variant: small-caps;
        margin-bottom: 0.4em;
    }

    a {
        @extend %futura;
        color: $offwhite;
        display: inline-block;
        font-size: 2.2em;
        text-decoration: none;
        text-transform: uppercase;
        @include transition(color 0.2s);

        &:hover,
        &:focus {
            color: $yellow;
        }
    }

    p {
        color: darken($offwhite, 15);
        font-size: 1.1em;
        line-height: 1.4;
        margin-top: 0.5em;
    }
}
