.article-list {
    margin: 0 auto;
    padding-top: 0.5em;

    li {
        border-bottom: 1px solid rgba($offwhite, 0.1);
        box-sizing: border-box;
        margin: 0.5em 0;
        padding: 1.2em 1em;
    }

    .section-title,
    .potential {
        @include align-items(flex-end);
        background-color: $yellow;
        color: $grey;
    }

    .section-title {
        @include flex;

        p {
            color: $grey;
        }

        h2 {
            @extend %futura-heading;
            font-size: 2.2em;
        }
    }

    .potential {
        @extend %futura-heading;
        display: none;
    }

    time {
        color: $yellow;
        display: block;
        font-variant: small-caps;
        margin-bottom: 0.4em;
    }

    a {
        @extend %futura-heading;
        color: $offwhite;
        display: inline-block;
        font-size: 2.2em;
        max-width: 100%;
        text-decoration: none;
        @include transition(color 0.2s);
        word-wrap: break-word;

        &:hover,
        &:focus {
            color: $yellow;
        }
    }

    p {
        color: darken($offwhite, 15);
        font-size: 1.1em;
        line-height: 1.4;
        margin-top: 0.5em;
    }

    @media screen and (min-width: 650px) {
        align-self: center;
        @include flex;
        @include flex-wrap(wrap);

        li {
            border-bottom: 0;
            margin: 0.5em 1%;
            padding: 1em;
            width: 48%;
        }

        .potential.first-block {
            @include flex;
        }
    }

    @media screen and (min-width: 1080px) {
        li {
            width: 31.33%
        }
    }

    @media screen and (min-width: 1600px) {
        li {
            width: 23%
        }

        .potential {
            @include flex;
        }
    }
}
