[role="banner"] {
    text-align: center;
    overflow: hidden;
    // padding: 0.8em 0;

    h1, h2 {
        display: none;
    }

    .logo {
        display: block;
        margin: 0 auto;
        // max-width: 320px;

        max-width: 200px;
    }

    svg {
        width: 100%;
    }
}
