[role="banner"] {
    text-align: center;
    overflow: hidden;
    padding-top: 0.6em;

    .logo {
        display: block;
        margin: 0 auto;
        height: 165px;
        width: 240px;
        @include transition(max-width 0.1s);
    }

    svg {
        height: 100%;
        width: 95%;
    }
}

.logo:hover,
.logo:focus {
    .logo-title {
        fill: #F9F9F9;
    }
}

.logo-title {
    fill: #FFB400;
    @include transition(fill 0.2s);
}
