[role="banner"] {
    text-align: center;
    overflow: hidden;
    padding-top: 0.6em;

    h1, h2 {
        display: none;
    }

    .logo {
        display: block;
        margin: 0 auto;
        max-width: 250px;
        @include transition(max-width 0.1s);
    }

    svg {
        height: 100%;
        width: 95%;
    }

    @media screen and (min-width: 450px) {
        .logo {
            max-width: 320px;
        }
    }
}
