[role="contentinfo"] {
    border-top: 8px solid $yellow;
    margin: 1em auto 2em auto;
    max-width: 720px;
    padding: 1.2em 0 1em 0;
    text-align: center;

    li {
        display: inline-block;
    }

    .contact {
        line-height: 2;
        margin-top: 1em;

        a {
            @extend %futura-heading;
            font-size: 1.2em;
            text-decoration: none;

            &:hover {
                color: $offwhite;
            }

            &:first-child::after {
                content: "";
                display: block;
            }
        }
    }
}
