body {
    background: $grey url("../images/bg-crud.png") repeat-y center top;
    background-size: 100%;
    color: $offwhite;
    font-family: georgia, times, serif;

    @media screen and (min-width: 480px) {
        background-size: 55%;
    }

    @media screen and (min-width: 1600px) {
        background-size: 25%;
    }
}

a {
    color: $yellow;
}

%futura-heading {
    @extend %futura;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}

%drop-cap {
    @extend %futura;
    color: $yellow;
    font-size: 350%;
    font-weight: 700;
    float: left;
    line-height: 0.85;
    padding-right: 0.08em;
}

%yellow-divider {
    background-color: $yellow;
    content: "";
    display: block;
    text-align: center;
    width: 25%;
    height: 0.4em;
}
