.the-color-of {
    color: #65e12e;
}

.bold-statements {
    @extend %futura;
    font-size: 3.8vw;
    font-weight: 700;
    padding-top: 0.8em;
    text-align: center;
    text-transform: uppercase;

    a {
        display: inline-block;
        border-bottom: 8px solid $yellow;
        position: relative;
        text-decoration: none;
        @include transition(color 0.2s);

        &::after {
            background-color: $offwhite;
            bottom: -8px;
            content: "";
            display: inline-block;
            left: 0;
            position: absolute;
            height: 8px;
            @include transition(width 0.2s);
            width: 0;
        }

        &:hover,
        &:focus {
            color: $offwhite;

            &::after {
                width: 100%;
            }
        }
    }

    p {
        margin-bottom: 0.5em;
    }
}
