[role="navigation"] {
    @extend %futura;
    border-top: 1px solid rgba($offwhite, 0.1);
    border-bottom: 8px solid $yellow;
    font-size: 1.4em;
    margin: 0 auto;
    max-width: 720px;
    text-align: center;

    ul {
        display: table;
        width: 100%;
    }

    li {
        display: table-cell;
    }

    a {
        display: inline-block;
        padding: 0.7em 0.2em;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: $offwhite;
        }
    }
}
