.projects-list {
    align-self: center;
    @include flex;
    @include flex-wrap(wrap);
    padding-top: 1em;

    li {
        @include align-items(center);
        border-right: 2px solid $grey;
        border-bottom: 2px solid $grey;
        box-sizing: border-box;
        @include flex;
        padding: 1.8em 3%;
        position: relative;
        text-align: center;

        // fuuuckkkk youuuu
        // &::after {
        //     content: "";
        //     display: block;
        //     left: 0;
        //     position: absolute;
        //     height: 100%;
        //     top: 0;
        //     @include transition(opacity 0.1s);
        //     width: 100%;
        // }
        //
        // &:hover::after {
        //     opacity: 0;
        // }

        background-image: url("../images/bg-crud.png");
        background-size: 100%;
        background-blend-mode: screen;

        div {
            position: relative;
            z-index: 2;
        }

        a {
            background-color: $offwhite;
            border-radius: 2px;
            display: inline-block;
            @extend %futura;
            font-size: 1em;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom: 0.2em;
            padding: 0.4em 0.6em 0.35em 0.6em;
            text-decoration: none;
            text-transform: uppercase;
            @include transition(background-color 0.15s);
        }
    }

    .potential {
        @include align-items(flex-end);
        background-color: $yellow;
        background-image: none;
        color: $grey;
        display: none;

        &::after {
            display: none;
        }
    }

    .potential,
    h2 {
        @extend %futura;
        font-weight: 700;
        text-transform: uppercase;
    }

    h2 {
        font-size: 2.4em;
    }

    p {
        font-size: 1.1em;
        line-height: 1.4;
        margin: 0.5em 0 0.9em 0;
    }

    @media screen and (min-width: 620px) {
        li {
            width: 50%;
        }
    }

    @media screen and (min-width: 1050px) {
        li {
            width: 33.33%
        }

        .potential {
            @include flex;
        }
    }

    @media screen and (min-width: 1460px) {
        li {
            width: 25%
        }
    }
}

@mixin project-block ($c) {
    background-color: $c;

    a {
        color: $c;

        &:hover {
            background-color: $grey;
            color: $offwhite;
        }
    }
}

.p-jribbble,
.p-jribbble::after {
    @include project-block(#ff0066);
}

.p-true-titles,
.p-true-titles::after {
    @include project-block(#008ea2);
}

.p-tmfh,
.p-tmfh::after {
    @include project-block(#8c132b);
}

.p-css-shaky,
.p-css-shaky::after {
    @include project-block(#3ca335);
}

.p-css-write-on,
.p-css-write-on::after {
    @include project-block(#ff00ae);
}

.p-papersaver,
.p-papersaver::after {
    @include project-block(#6b4ba0);
}

.p-slenderman,
.p-slenderman::after {
    @include project-block(#0b7daa);
}

.p-fcs,
.p-fcs::after {
    @include project-block(#f77200);
}

.p-css-slideshows,
.p-css-slideshows::after {
    @include project-block(#346f6e);
}

.p-css-sprites,
.p-css-sprites::after {
    @include project-block(#dd6364);
}
