<ul id="articles">
	<li class="all-talkie-talkie">
		<a href="/articles/i-less-than-three-ie6">
			<time datetime="2009-05-27 10:00:00-0400"><span>May, 27 2010</span></time>
			<h2>All Talkie Talkie</h2>
			<p>
				I take a different look at it and try to find a silver lining. Like every other web developer I’ve had my fair share of tangles with "that" browser. Internet Explorer 6 with its many. 
			</p>
			<b>Read on&hellip;</b>
		</a>
	</li>
	<li class="you-did-what-with-what">
		<a href="/articles/i-less-than-three-ie6">
			<time datetime="2009-05-27 10:00:00-0400"><span>April, 6 2010</span></time>
			<h2>You Did What With What?</h2>
			<p>
				I’ve had my fair share of tangles with "that" browser. Internet Explorer 6 with its many flaws and seemingly infinite lifespan has caused scores of headaches during its reign. I take a different look at it and try to find a silver lining.
			</p>
			<b>Read on&hellip;</b>
		</a>
	</li>
	<li class="i-less-than-three-ie6">
		<a href="/articles/i-less-than-three-ie6">
			<time datetime="2009-05-27 10:00:00-0400"><span>July, 27 2009</span></time>
			<h2>I Less-Than-Three IE6</h2>
			<p>
				Like every other web developer I’ve had my fair share of tangles with "that" browser. Internet Explorer 6 with its many flaws and seemingly infinite lifespan has caused scores of headaches during its reign. I take a different look at it and try to find a silver lining.
			</p>
			<b>Read on&hellip;</b>
		</a>
	</li>
</ul>

<!--
<% for(var i=0; i < articles.length; i++) { %>
	<li>
		<a href="/articles/<%= articles[i].slug %>"><%= articles[i].title %></a>
	</li>
<% } %>
-->