#page-projects {
    background: #ededed url(/images/body-bg-white.png) fixed repeat 20% top;

    ::selection {
        background-color: #fff;
        color: #191919;
    }

    .containing-element {
        background: #191919 url(/images/content-bg-charcoal.png) repeat 20% top;
        @include border-image('projects');
        color: #bfbfbf;
    }

    [role='main'] {
        font-size: 1.1em;

        h3 {
            color: #fefefe;
            font-size: 1.3em;
            letter-spacing: 0.2em;
            line-height: 1;
            padding-top: 0.2em;
        }

        a {
            text-decoration: none;
        }

        section {
            li {
                margin: 1.8em 0 2em 0;
            }

            p {
                padding: 0.4em 0 0 0;
            }

            a {
                display: block;

                &:hover h3 {
                    color: #c4c4c4;
                }
            }

            @media screen and (min-width: 420px) {
                ul {
                    overflow: hidden;
                }

                li {
                    clear: left;
                    display: block;
                    float: left;
                    vertical-align: top;
                    width: 44.9564134%;

                    &:nth-child(2n) {
                        clear: right;
                        float: right;
                    }
                }

                a {
                    overflow: hidden;
                }

                img {
                    width: auto;
                }
            }

            @media screen and (min-width: 887px) {
                img {
                    width: 100%;
                }
            }
        }
    }
}
