---
layout: default
---

<article class="hentry">
    <header>
        <time class="published" datetime="{{ page.date }}">
            {{ page.date | date: '%d %b %Y' }}
        </time>
        <h1 class="entry-title {{ page.title_size }}-title">{{ page.title }}</h1>
        <p class="entry-author author vcard">
            By <span class="fn">Tyler Gaw</span>
        </p>
    </header>
    <div class="entry-content">
        {{ content }}
    </div>
</article>

{% include article-comments.html %}
