<!doctype html>
<html lang="en" class="no-js" data-page="{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">

  <head>
    {% include "head-contents.njk" %}

    {% if site.environment === "production" -%}
      {% set inlineCSS -%}
        {% include "../../css/tylergaw.njk" %}
      {%- endset %}

      <style>
        {{ inlineCSS | cssmin | safe }}
      </style>

    {% else %}
      <link rel="stylesheet" href="/css/tylergaw.css">
    {%- endif %}
  </head>
  <body>
    {% include "scheme.njk" %}
    {% include "banner.njk" %}

    <main class="g-main">
      {% block main %}{% endblock %}
    </main>

    {% include "footer.njk" %}
    {% include "scripts.njk" %}
  </body>
</html>