<!doctype html>
<html lang="en" class="no-js" data-page="{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">

  <head>
    {% include "head-contents.njk" %}

    {% set inlineCSS %}
      {% include "../../css/tylergaw-critical.css" %}
    {% endset %}
    <style>
      {{ inlineCSS | cssmin | safe }}
    </style>
  </head>
  <body>
    {% include "scheme.njk" %}
    {% include "banner.njk" %}

    <main>
      {% block main %}{% endblock %}
    </main>

    {% include "footer.njk" %}
    <link rel="stylesheet" href="/css/tylergaw.css">
    {% include "scripts.njk" %}
  </body>
</html>