<!doctype html>
<html lang="en" class="no-js" data-page="{% if pageType %}{{ pageType }}{% else %}{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}{% endif %}">

  <head>
    {% include "components/head-meta.njk" %}
    {% include "components/head-contents.njk" %}

    <script>document.getElementsByTagName("html")[0].classList.replace("no-js", "js");</script>

    {% if site.environment === "production" -%}
      {% set inlineCSS -%}
        {% include "../../css/tylergaw.njk" %}
      {%- endset %}

      <style>
        {{ inlineCSS | cssmin | safe }}
      </style>

    {% else %}
      <link rel="stylesheet" href="/css/tylergaw.css">
    {%- endif %}
  </head>
  <body>
    {% include "components/scheme.njk" %}
    {% include "components/banner.njk" %}

    <main>
      {% block main %}{% endblock %}
    </main>

    {% include "components/footer.njk" %}
    {% include "components/scripts.njk" %}
  </body>
</html>