#article
{
	#i-less-than-three-ie6
	{
		@mixin bigTextShadow($baseColor) {
			text-shadow: $baseColor 1px 1px 0px, 
						darken($baseColor, 5%) 2px 2px 0px, 
						darken($baseColor, 8%) 3px 3px 0px, 
						darken($baseColor, 9%) 4px 4px 0px, 
						darken($baseColor, 10%) 5px 5px 0px;
		}

		background: transparent url(/c/images/entryAssets/i-less-than-three-ie6/ie6Logo.png) no-repeat 5% top;
		@include background-size('55%');
		overflow: hidden;

		.entry-title
		{
			color: #0490da;
			@include atrament(5em);
			font-weight: 600;
			letter-spacing: 0.05em;
			padding: 40px 0 30px 0;
			text-align: center;
			@include bigTextShadow(#054f76);

			&::-moz-selection
			{
				background-color: #d20d24;
				color: #fff;
				text-shadow: none;
			}

			&::selection
			{
				background-color: #d20d24;
				color: #fff;
				text-shadow: none;
				-webkit-text-fill-color: #fff;
			}

			span
			{
				color: #f40b27;
				@include bigTextShadow(#860000);

				&::-moz-selection
				{
					background-color: #d20d24;
					color: #fff;
					text-shadow: none;
				}

				&::selection
				{
					background-color: #d20d24;
					color: #fff;
					text-shadow: none;
					-webkit-text-fill-color: #fff;
				}
			}
		}

		.dropCap
		{
			color: #0490da;
			display: inline-block;
			font-size: 4.2em;
			font-style: normal;
			line-height: 0.75em;
			text-align: left;
			@include bigTextShadow(#054f76);
			vertical-align: top;
			float: left;
			width: 48px;
			padding-top: 10px;
		}
	}
}