#article
{
	clear: both;
	margin: 0 auto;
	max-width: 900px;
	overflow: hidden;
	padding: 0 10px 15px 10px;
}

.hentry
{
	footer 
	{
		background: transparent url(/images/yellow_border.png) no-repeat 110% top;
		clear: both;
		float: right;
		font-size: 0.8em;
		padding-top: 14px;
		width: 70%;
		
		strong
		{
			background: transparent url(/images/article_thanks.png) no-repeat left top;
			display: inline-block;
			height: 56px;
			position: relative;
			text-indent: -300em;
			top: -18px;
			left: -15px;
			width: 239px;
		}
		
		a
		{
			float: right;
			margin-right: 14px;
		}
	}
}

.entry-title
{
	clear: both;
	font-size: 3.8em;
	margin-bottom: 20px;
	padding: 14px 0 10px 30%;
}

.entry-content
{
	
	float: right;
	width: 70%;
	
	p
	{
		font-size: 1.08em;
		line-height: 1.25em;
		padding-bottom: 1.4em;
		text-shadow: #080808 0px 0px 2px;
		
		&:last-child
		{
			padding-bottom: 0.8em;
		}
		
		img
		{
			width: 100%;
		}
	}
	
	p strong
	{
		color: #fff;
		font-weight: 700;
	}
	
	p.intro
	{
		color: #f1f1f1;
		font-size: 1.22em;
		font-style: italic;
		padding-bottom: 1.6em;
	}
}

.entry-meta
{
	float: left;
	font-size: 0.75em;
	margin-top: 10px;
	width: 30%;
	
	i
	{
		color: #9e9b8b;
		font-style: italic;
		font-weight: 400;
		display: inline-block;
		width: 75px;
	}
	
	li
	{
		padding-bottom: 3px;
		font-weight: 600;
	}
	
	#rdbWrapper
	{
		background: transparent url(/images/horizontal_divider.png) repeat-x left top;
		margin-top: 4px;
		min-width: 160px;
		padding-top: 15px;
		width: 65%;
	}
}

@media all and (max-width: 690px)
{
	.entry-meta
	{
		background-image: url(/images/horizontal_divider.png), url(/images/horizontal_divider.png);
		background-repeat: repeat-x;
		background-position: left top, left bottom;
		float: none;
		margin-bottom: 20px;
		overflow: hidden;
		padding: 15px 0 8px 0;
		width: 95%;
		
		li
		{
			padding: 0 0 0 15px;
		}
		
		#rdbWrapper
		{
			background: none;
			margin-top: 6px;
			min-width: auto;
			padding-top: 0;
			width: auto;
		}
	}
	
	.entry-content
	{

		float: none;
		margin: 0 auto;
		width: 95%;
	}
	
	.hentry
	{
		footer 
		{
			background: transparent url(/images/yellow_border.png) no-repeat 110% top;
			float: none;
			margin: 0 auto;
			width: 95%;
		}
	}
}

@media all and (max-width: 480px)
{
	.hentry
	{
		footer 
		{
			strong
			{
				@include background-size('100%');
				top: -8px;
				width: 200px;
			}
		}
	}
}

@import 'article-*';