@mixin sharedSmallScreen
{
	header[role="banner"]
	{
		
		
	}
}

@media all and (max-width: 480px)
{
	@include sharedSmallScreen;
}

@media only screen and (max-device-width: 480px) and (orientation:portrait)
{
	@include sharedSmallScreen;
	
	header[role="banner"]
	{
		
	}
}

header[role="banner"]
{	
	background-color: transparent;
	background-image: url(/images/banner_btm_border.png), url(/images/body_bg_tile_02.png), url(/images/banner_bg_tile.png);
	background-repeat: repeat-x, repeat, repeat;
	background-position: 90% 105%, 70%, 90%;
	color: #f0e9d7;
	font-family: helvetica, arial, sans-serif;
	
	& > a
	{
		display: block;
		margin: 0 auto;
		max-width: 900px;
		opacity: 0.9;
		padding: 10px;
		text-align: center;
		
		&:hover
		{
			opacity: 1;
		}
	}
	
	hgroup
	{
		background: transparent url(/images/banner.png) no-repeat center top;
		@include background-size('100%');
		padding-top: 8.9%;
	}
	
	h1, h2
	{
		text-indent: -3000em;
	}
}