@mixin sharedSmallScreen
{
	header[role="banner"]
	{
		
		h2
		{
			background-image: url(/images/title_compact.png);
			padding-top: 8%;
		}
		
		h1
		{		
			a
			{
				padding-top: 18.5%;
			}
		}
	}
}

header[role="banner"]
{	
	color: #f0e9d7;
	font-family: helvetica, arial, sans-serif;
	
	padding: 0 30px;
	
	hgroup
	{
		font-weight: bold;
		margin: 0 auto;
		max-width: 738px;
		text-align: center;
		text-transform: uppercase;
	}
	
	h2
	{
		background: transparent url(/images/title.png) no-repeat center top;
		@include background-size('100%');
		font-size: 0px;
		opacity: 0.93;
		text-indent: -3000em;
		padding-top: 7%;
	}
	
	h1
	{		
		a
		{
			background: transparent url(/images/tylergaw.png) no-repeat center top;
			@include background-size('100%');
			display: block;
			font-size: 0px;
			opacity: 0.93;
			overflow: hidden;
			padding-top: 18%;
			text-decoration: none;
			text-indent: -3000em;
			&:hover
			{
				opacity: 1;
			}
		}
	}
}

@media all and (max-width: 480px)
{
	@include sharedSmallScreen;
}

@media only screen and (max-device-width: 480px) and (orientation:portrait)
{
	@include sharedSmallScreen;
	
	header[role="banner"]
	{
		padding: 0 15px;
	}
}