#content
{
	clear: both;
	@include chaparral(1.3em);
	-webkit-font-smoothing: antialiased;
	
	a
	{
		color: #fdec33;
		text-decoration: none;
		
		&:visited
		{
			//color: lighten(#fdec33, 20%);
		}
		
		&:hover
		{
			text-decoration: underline;
			text-shadow: none;
		}
		
		&.disabled
		{
			color: #757575;
			cursor: default;
			
			&:hover
			{
				background-color: transparent;
			}
		}
	}
}

h1
{	
	color: #fdec33;
	@include atrament(3.2em);
	text-transform: uppercase;
}