@mixin linkBg ($color)
{
	background: -moz-radial-gradient(center 45deg, circle closest-side, $color 20px, transparent 21px);
	background: -webkit-gradient(radial, center center, 20, center center, 21, from($color), to(transparent));
}

@media only screen and (max-device-width: 480px) and (orientation:portrait)
{
	footer
	{
		
	}
}

footer
{
	background: fade-out(#0e0e0d, 0.9) url(/images/footer_top_border.png) repeat-x 90% top;
	@include border-bottom-radius(6px);
	padding: 15px 0;
	text-align: center;
	
	ul
	{
		margin: 0 auto;
		max-width: 900px;
	}
	
	li
	{
		background: transparent url(/images/footer_item_divider.png) no-repeat right center;
		display: inline-block;
		padding-right: 55px;
		
		&:last-child
		{
			background-image: none;
			padding-right: 0;
		}
	}
	
	a
	{
		@include linkBg(fade-out(#5aa9db, 0.8));
		color: #f0f1f2;
		display: inline-block;
		@include atrament(2.1em);
		opacity: 0.85;
		padding: 6px 0px 9px 0px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: fade-out(#000, 0.8) 0px 1px 1px;
		
		&:hover
		{
			opacity: 1;
		}
		
		&[href*='twitter']
		{
			@include linkBg(fade-out(#5aa9db, 0.7));
		}
		
		&[href*='dribbble']
		{
			@include linkBg(fade-out(#f64dc0, 0.7));
		}
		
		&[href*='rss']
		{
			@include linkBg(fade-out(#ff8227, 0.7));
		}
	}
}