::-moz-selection
{
	background-color: #fce704;
	color: #201f1e;
}

::selection
{
	background-color: #fce704;
	color: #201f1e;
	-webkit-text-fill-color: #201f1e;
}

html
{
	background-color: #f1e3d2;
	background-image: url(/images/html_bg_tile_01.png);
	background-repeat: repeat;
	background-position: 95%;
	padding: 1.5% 2% 2% 2%;
}

body
{
	background-color: #252423;
	background-image: url(/images/html_bg_tile_01.png), url(/images/body_bg_tile_01.png);
	background-repeat: repeat;
	background-position: 90%, 90%;
	border: 7px solid transparent;
	-moz-border-image: url(/images/body_border.png) 15 11 20 18 repeat repeat;
	-webkit-border-image: url(/images/body_border.png) 15 11 20 18 repeat repeat;
	border-image: url(/images/body_border.png) 15 11 20 18 repeat repeat;
	color: #f1e3d2;
}