::-moz-selection
{
	background-color: #aa5b2e;
	color: #efe9ca;
}

::selection
{
	background-color: #aa5b2e;
	color: #efe9ca;
}

body
{
	background: #f0e8d6 url(/images/body_bg_tile.png) repeat 90% -20px;
	color: #554a34;
	padding: 2%;
}