@mixin sharedSmallScreen 
{

}

@media all and (max-width: 480px)
{
	@include sharedSmallScreen;
}

@media only screen and (max-device-width: 480px) and (orientation:portrait)
{
	@include sharedSmallScreen;
}

#info
{
	background: transparent url(/images/tylergaw_portrait.png) no-repeat 34% top;
	clear: both;
	margin: 26px auto 0 auto;
	max-width: 900px;
	overflow: hidden;
	padding: 0 10px;
	@include transition-property(background-position);
	@include transition-duration(0.2s);
	
	h1
	{
		background-color: #ff0368;
		clear: both;
		color: #1d1d1d;
		display: inline-block;
		float: left;
		line-height: 0.82em;
		margin-bottom: 14px;
	}
	
	.column-one
	{
		clear: left;
		float: left;
		width: 35%;
	}
	
	.column-two
	{
		clear: right;
		float: right;
		width: 46%;
		
		p
		{
			clear: both;
			float: right;
			width: 75%;
		}
		
		h3
		{
			background-color: #f2e517;
			clear: both;
			color: #2b2a29;
			font-size: 1.1em;
			font-weight: 600;
			padding: 6px 4px 7px 4px;
			text-align: right;
			
			a
			{
				color: #e82573;
				text-decoration: none;
				
				&:hover
				{
					color: black;
				}
			}
		}
	}
	
	p
	{
		line-height: 1.3em;
		padding-bottom: 16px;
		text-shadow: #000 0px 1px 1px;
	}
}

@media all and (max-width: 810px)
{
	#info
	{
		background-position: 35% 4%;
		@include background-size('78%');
	}
}

@media all and (max-width: 615px)
{
	#info
	{	
		background-position: 180% 4%;
		
		h1
		{
			font-size: 2.5em;
		}
		
		.column-one
		{
			
		}
		
		.column-one p:first-child
		{
			width: 65%;
		}
		
		.column-one, 
		.column-two,
		.column-two p
		{
			clear: both;
			float: none;
			width: 100%;
		}
		
		.column-two h3
		{
			text-align: center;
		}
	}
}

@media all and (max-width: 480px)
{
	#info
	{
		h1
		{
			font-size: 2.1em;
			margin-bottom: 8px;
		}
	}
}