@mixin sharedSmallScreen
{
	nav
	{		

	}
}

@media screen and (max-width: 560px)
{
	nav
	{		

	}
}

@media screen and (max-width: 480px)
{
	@include sharedSmallScreen;
}

@media only screen and (max-device-width: 480px) and (orientation:portrait)
{
	@include sharedSmallScreen;
}

nav
{
	margin: 0 auto;
	max-width: 900px;
	padding-right: 12px;

	ul
	{
		background: #efe62f url(/c/images/header_text_bg_01.jpg) repeat left bottom;
		border-bottom: 1px solid fade-out(#1d1d1d, 0.5);
		display: inline-block;
		float: right;
		margin-bottom: -20px;
		padding: 1px 8px 1px 8px;
		position: relative;
		top: -21px;
		@include rotate(-0.4deg);
	}
	
	li
	{
		display: inline-block;
		margin-right: 16px;
		
		&:last-child
		{
			margin-right: 0;
		}		
	}
	
	a
	{
		border-bottom: 4px solid transparent;
		color: #2e2e2e;
		display: inline-block;
		@include atrament(2.3em);
		text-decoration: none;
		text-transform: uppercase;
		
		&:hover
		{
			border-bottom-color: #d45415;
			color: #000;
		}
	}
}

#page-projects nav a[href*='projects'],
#page-articles nav a[href*='articles'],
#page-info nav a[href*='info']
{
	border-bottom-color: #d45415;
	color: #000;
	cursor: default;
}