#projects
{
	margin: 0 auto;
	max-width: 900px;
	overflow: hidden;
	padding: 40px 0;
	width: 95%;
	
	li
	{
		margin-bottom: 30px;
		overflow: hidden;
	}
	
	h1
	{
		background: transparent url(/images/fuzzy_grain.png) repeat 90%;
		color: #000;
		display: inline-block;
		font-size: 4em;
	}
	
	p
	{
		line-height: 1.3;
		width: 51%;
	}
	
	footer
	{
		background: transparent url(/images/horizontal_divider.png) repeat-x left top;
		line-height: 1.3;
		margin-top: 12px;
		padding-top: 12px;
		text-align: right;
		width: 50%;
		
		a:first-child
		{
			font-size: 1.12em;
			font-weight: 600;
		}
		
		a:last-child
		{
			color: #8b8a88;
			font-size: 0.9em;
			font-style: italic;
			
			mark
			{
				background-color: transparent;
				color: #fffde3;
			}
		}
	}
}

.alternate-layout
{
	p, footer
	{
		clear: right;
		float: right;
	}
}

#fullcourtshots
{
	@extend .alternate-layout;
	background: transparent url(/images/project_fcs_bg_full.png) no-repeat 40% 18%;
	@include background-size('94%');
	padding: 125px 0 80px 0;
	
	h1
	{
		background-color: desaturate(#f78104, 10%);
		clear: both;
		float: right;
		font-size: 5.8em;
		line-height: 0.8;
		margin-bottom: 18px;
	}
}

#themanfromhollywood
{
	background: transparent url(/images/project_mfh_bg_full.png) no-repeat center 5%;
	@include background-size('96%');
	padding: 125px 0 0px 0;
	
	h1
	{
		background-image: none;
		clear: both;
		font-size: 5.8em;
		line-height: 0.85;
		margin-bottom: 14px;
		
		span
		{
			background: #a8194b url(/images/fuzzy_grain.png) repeat 90%;
			display: inline-block;
			
			&:first-child
			{
				font-size: 0.85em;
			}
		}
	}
}