.tester
{
	color: #a13247;
	font-size: 4em;
}
@mixin sharedSmallScreen 
{
	#projects
	{
		li
		{
			padding: 20px 0 35px 0;
		}
		
		section.project-description
		{
			padding-top: 0;
			width: 100%;
		}
		
		time
		{
			background-position: 100% 40%;
		}
		
		a
		{
			margin-top: 10px;
			float: none;
			width: 100%;
		}
	}
}

#projects
{
	margin: 0 auto;
	max-width: 850px;
	overflow: hidden;
	width: 95%;
	
	li
	{
		overflow: hidden;
		padding: 35px 0;
	}
	
	section.project-description
	{
		display: inline-block;
		padding-top: 6px;
		width: 44%;
	}
	
	time
	{
		background: transparent url(/images/heading_border_tile.png) no-repeat 210% 40%;
		color: #836e1a;
		display: block;
		font-style: italic;
	}
	
	h1
	{
		font-size: 36px;
		margin-bottom: 0px;
		padding: 0 0 4px 0;
	}
	
	p
	{
		font-size: 20px;
		line-height: 1.3;
	}
	
	a
	{
		display: inline-block;
		float: right;
		width: 54%;
		
		img
		{
			max-width: 415px;
			width: 100%;
		}
	}
}

@media all and (max-width: 480px)
{
	@include sharedSmallScreen;
}

@media all and (max-width: 600px)
{
	#projects
	{
		h1
		{
			font-size: 30px;
			padding: 0 0 0 0;
		}
		
		p
		{
			font-size: 18px;
			line-height: 1.1;
		}
	}
}

@media only screen and (max-device-width: 480px) and (orientation:portrait)
{
	@include sharedSmallScreen;
	
	#projects
	{
		h1
		{
			font-size: 30px;
			padding: 0 0 0 0;
		}
		
		p
		{
			font-size: 18px;
			line-height: 1.1;
		}
	}
}