:root {
  color-scheme: light dark;

  /* Accent colors */
  --color-accent-toxic: #00eb9b;
  --color-accent-wine: #c01458;
  --color-accent-boo: #9db4ff;
  --color-accent-pank: #f2c0ea;
  --color-accent-boogers: #c2d838;
  --color-accent-mellow: #f1f68e;
  --color-accent-orange: #e9b581;

  /* Project and page colors */
  --color-streetcred-accent: #8e42f5;
  --color-streetcred-accent-dark: #400099;
  --color-streetcred-accent-light: #dcc2ff;

  --color-limbo-accent: #dd3535;
  --color-limbo-accent-dark: #800000;
  --color-limbo-accent-light: #f9c5c5;

  --color-colorme-accent: #b42e8a;
  --color-colorme-accent-dark: #8c0060;

  --color-groundwork-accent: #3b6fd8;
  --color-groundwork-accent-dark: #1a4293;
  --color-groundwork-accent-light: #a4bff4;

  --color-jxa-accent: #151414;
  --color-jxa-accent-light: #5b5757;

  --color-archive-accent: #66fa32;
  --color-archive-accent-dark: #2d8f22;

  --color-about-accent: #c91c33;
  --color-about-accent-dark: #871222;
  --color-about-accent-light: #f58998;

  --color-blog-accent: #ff902b;
  --color-blog-accent-dark: #b35600;

  /* Common colors */
  --color-charcoal: #292929;
  --color-mud: #3f3d31;
  --color-offwhite: #fcfcfc;
  --color-white: #fff;
  --color-eggshell: #f6f5e4;

  --color-accent-primary: light-dark(
    var(--color-accent-wine),
    var(--color-accent-toxic)
  );
  --color-accent-secondary: light-dark(
    var(--color-accent-boogers),
    var(--color-accent-boo)
  );
  --color-bg: light-dark(var(--color-offwhite), var(--color-charcoal));
  --color-bg-offset: light-dark(white, #1f1f1f);
  --color-text: light-dark(var(--color-mud), var(--color-offwhite));
}

[data-page="home"] {
  --color-accent-primary: color(display-p3 1 0 0);
}

[data-page="blog"] {
  --color-accent-primary: color(display-p3 1 0.4 0);
}

[data-page="about"] {
  --color-accent-primary: color(display-p3 0 0 0);
}

[data-page="books"] {
  --color-accent-primary: color(display-p3 0 0 1);
}

[data-page="work-streetcred"] {
  --color-accent-primary: var(--color-streetcred-accent);
}

[data-page="work-limbo"] {
  --color-accent-primary: var(--color-limbo-accent);
}

[data-page="work-groundwork"] {
  --color-accent-primary: var(--color-groundwork-accent);
}

[data-page="work-jxa"] {
  --color-accent-primary: light-dark(
    var(--color-jxa-accent),
    var(--color-jxa-accent-light)
  );
}

[data-page="work-colorme"] {
  --color-accent-primary: var(--color-colorme-accent);
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
}
