:root {
  --g-row: calc(10 / 16 * 1rem);
  --g-gutter: calc(21 / 16 * 1rem);
}

.g-main {
  --g-col: calc(var(--g-col-target, 156) / 16 * 1rem);
  display: grid;
  gap: var(--g-gutter);
  grid-template-columns: repeat(var(--num-cols, 1), 1fr);
}

.g-main__item {
  grid-column: var(--col-start, auto) / var(--col-end, auto);
  grid-row: var(--row-start, auto) / var(--row-end, auto);
}

.g-fixed-max {
  max-width: calc(var(--g-col) * 9);
}

.g-padded {
  padding-left: var(--g-gutter);
  padding-right: var(--g-gutter);
}

@media (min-width: 620px) {
  .g-main {
    --num-cols: 2;
  }

  .g-standard-a {
    --num-cols: 3;
  }

  .g-standard-a__item {
    --col-start: 2;
    --col-end: span 2;
  }
}

@media (min-width: 1040px) {
  .g-main,
  .g-standard-a {
    --num-cols: 5;
  }

  .g-standard-a__item {
    --col-end: span 3;
  }
}

@media (min-width: 1240px) {
  .g-main {
    --num-cols: 6;
  }

  .g-standard-a {
    --num-cols: 5;
  }
}

@media (min-width: 1700px) {
  .g-main,
  .g-standard-a {
    --num-cols: 9;
  }

  .g-standard-a__item {
    --col-start: 3;
    --col-end: span 5;
  }
}

@media (min-width: 2200px) {
  .g-main:not(.g-standard-a) {
    --num-cols: 11;
  }
}
