:root {
  --g-row: calc(10 / 16 * 1rem);
  --g-col: calc(140 / 16 * 1rem);
  --g-gutter: calc(21 / 16 * 1rem);
  --g-padding-h: 2rem;

  --g-max-1: calc(var(--g-col) * 1);
  --g-max-2: calc(var(--g-col) * 2 + var(--g-gutter) * 1);
  --g-max-3: calc(var(--g-col) * 3 + var(--g-gutter) * 2);
  --g-max-4: calc(var(--g-col) * 4 + var(--g-gutter) * 3);
  --g-max-5: calc(var(--g-col) * 5 + var(--g-gutter) * 4);
  --g-max-6: calc(var(--g-col) * 6 + var(--g-gutter) * 5);
  --g-max-7: calc(var(--g-col) * 7 + var(--g-gutter) * 6);
  --g-max-8: calc(var(--g-col) * 8 + var(--g-gutter) * 7);
  --g-max-9: calc(var(--g-col) * 9 + var(--g-gutter) * 8);
  --g-max-10: calc(var(--g-col) * 10 + var(--g-gutter) * 9);
}

.g-main {
  display: grid;
  gap: var(--g-gutter);
  grid-template-columns: repeat(var(--num-cols, 1), 1fr);
}

.g-main__item {
  grid-column: var(--col-start, auto) / var(--col-end, auto);
  grid-row: var(--row-start, auto) / var(--row-end, auto);
}

.g-padded {
  padding-left: var(--g-padding-h);
  padding-right: var(--g-padding-h);
}

@media (min-width: 620px) {
  .g-main {
    --num-cols: 2;
  }

  .g-standard-a {
    --num-cols: 3;
  }

  .g-standard-a__item {
    --col-start: 2;
    --col-end: span 2;
  }
}

@media (min-width: 1040px) {
  .g-main,
  .g-standard-a {
    --num-cols: 5;
  }

  .g-standard-a__item {
    --col-end: span 3;
  }
}

@media (min-width: 1240px) {
  .g-main {
    --num-cols: 6;
  }

  .g-standard-a {
    --num-cols: 5;
  }
}

@media (min-width: 1660px) {
  .g-main,
  .g-standard-a {
    --num-cols: 10;
  }

  .g-standard-a__item {
    --col-start: 3;
    --col-end: span 5;
  }
}

@media (min-width: 2200px) {
  .g-main:not(.g-standard-a) {
    --num-cols: 11;
  }
}
