@font-face {
  font-display: swap;
  font-family: "protogrotesk-bold";
  src: url("/fonts/protogroteskweb-bold.woff2");
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-extralight";
  src: url("/fonts/protogroteskweb-extralight.woff2");
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-light";
  src: url("/fonts/protogroteskweb-light.woff2");
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-regular";
  src: url("/fonts/protogroteskweb-regular.woff2");
}

html,
body {
  --font-proto-extralight: "protogrotesk-extralight", helvetica, sans-serif;
  --font-proto-light: "protogrotesk-light", helvetica, sans-serif;
  --font-proto-regular: "protogrotesk-regular", helvetica, sans-serif;
  --font-proto-bold: "protogrotesk-bold", helvetica, sans-serif;
  --font-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  --font-size-16: 1rem;
  --font-size-18: calc(18 / 16 * 1rem);
  --font-size-20: calc(20 / 16 * 1rem);
  --font-size-24: calc(24 / 16 * 1rem);
  --font-size-30: calc(30 / 16 * 1rem);
  --font-size-34: calc(34 / 16 * 1rem);
  --font-size-36: calc(36 / 16 * 1rem);
  --font-size-44: calc(44 / 16 * 1rem);

  font-family: var(--font-proto-light);
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
}

b,
strong,
.font--regular {
  font-family: var(--font-proto-regular);
  font-weight: normal;
}

a {
  color: var(--color-accent-primary);
}

a:focus {
  outline: 3px solid currentColor;
}

.heading--special {
  font-family: var(--font-proto-regular);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0;
  text-transform: uppercase;
}
