@font-face {
  font-display: swap;
  font-family: "protogrotesk-bold";
  src: url("/fonts/protogroteskweb-bold.woff2");
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-extralight";
  src: url("/fonts/protogroteskweb-extralight.woff2");
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-light";
  src: url("/fonts/protogroteskweb-light.woff2");
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-regular";
  src: url("/fonts/protogroteskweb-regular.woff2");
}

html,
body {
  --font-proto-extralight: "protogrotesk-extralight", helvetica, sans-serif;
  --font-proto-light: "protogrotesk-light", helvetica, sans-serif;
  --font-proto-regular: "protogrotesk-regular", helvetica, sans-serif;
  --font-proto-bold: "protogrotesk-bold", helvetica, sans-serif;
  --font-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-family: var(--font-proto-light);
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
}

b,
strong {
  font-family: var(--font-proto-regular);
}

a {
  color: var(--color-accent-primary);
}

a:focus {
  outline: 3px solid currentColor;
}
