<style>
  .container {
    display: flex;
    height: 80vh;
    position: relative;
    z-index: 2;
  }

  .container:nth-of-type(2) {
    height: auto;
  }

  .container > div {
    overflow: hidden;
    flex: 1;
  }

  .container .primary {
    flex: 1.6;
  }

  .primary video {
    transform: translateX(-10%);
    width: 120%;
  }

  .container > div:nth-child(1) {
    filter: brightness(0.6) contrast(140%);
  }

  .container > div:nth-child(2) {
    flex: 0.6;
    filter: brightness(0.8) contrast(110%);
    transform: translateY(1rem);
  }

  .container > div:nth-child(4) {
    filter: brightness(0.65) contrast(135%);
    flex: 0.7;
    transform: translateY(1.1rem);
  }

  .container > div:nth-child(5) {
    filter: brightness(0.7) contrast(130%);
    flex: 1.1;
    transform: translateY(1.5rem);
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .intro {
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .info {
    background-color: #3EFF03;
    height: 100%;
    position: absolute;
    mix-blend-mode: hard-light;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
  }

  .intro video {
    transform: translateY(-35%);
  }
</style>

<div class="container">
  <div>
    <video muted autoplay playsinline loop src="./about-1.mp4#t=14"></video>
  </div>

  <div>
    <video muted autoplay playsinline loop src="./about-2.mp4"></video>
  </div>

  <div class="primary">
    <video muted autoplay playsinline loop src="./about-1.mp4"></video>
  </div>

  <div>
    <video muted autoplay playsinline loop src="./about-1.mp4#t=11"></video>
  </div>

  <div>
    <video muted autoplay playsinline loop src="./about-1.mp4#t=2"></video>
  </div>
</div>

<div class="intro">
  <div class="container">
    <div>
      <video muted autoplay playsinline loop src="./about-1.mp4#t=14"></video>
    </div>

    <div>
      <video muted autoplay playsinline loop src="./about-2.mp4"></video>
    </div>

    <div class="primary">
      <video muted autoplay playsinline loop src="./about-1.mp4"></video>
    </div>

    <div>
      <video muted autoplay playsinline loop src="./about-1.mp4#t=11"></video>
    </div>

    <div>
      <video muted autoplay playsinline loop src="./about-1.mp4#t=2"></video>
    </div>
  </div>

  <div class="info"></div>
</div>