[data-page='purpose'] [role='main'] {
  padding-top: 1em;

  & h1 {
    @apply --futura-heading;
    font-size: 4.3em;
    text-align: center;
    word-wrap: break-word;
  }

  & h1 + p {
    margin-top: 1.1em;
  }

  & p {
    color: var(--darkerwhite);
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 720px;
    padding-bottom: 1.4em;
    width: 93%;
  }

  & .linkback {
    font-size: 0.9em;
    font-style: italic;
  }

  @media (min-width: 480px) {
    & h1 {
      font-size: 13.5vw;
    }
  }

  @media (min-width: 620px) {
    & p {
      font-size: 1.4em;
    }
  }

  @media (min-width: 1260px) {
    & h1 {
      font-size: 10.7em;
    }
  }
}
