.banner {
  padding-top: calc(var(--g-gutter) * 1.25);
  position: relative;
  z-index: 100;
}

.banner__logo {
  color: var(--color-text);
  grid-column: span 3;
  margin: 0 auto;
  max-width: 12.5rem;
  position: relative;
}

.logo__title {
  fill: var(--color-accent-primary);
}

.logo__amp,
.logo__title {
  display: none;
}

[data-page="home"] .logo__amp,
[data-page="home"] .logo__title,
[data-page="resume"] .logo__amp,
[data-page="resume"] .logo__title {
  display: initial;
}

[data-page="home"] .banner__logo,
[data-page="resume"] .banner__logo {
  max-width: 17.5rem;
}

@keyframes rotate {
  to {
    transform: rotate3d(0, 0, 1, 1turn);
  }
}

.banner__logo::after {
  --size: 2.75rem;
  --top: 0;
  --right: -1rem;
  animation: rotate 12s linear infinite;
  background-color: var(--color-accent-secondary);
  content: "";
  display: block;
  right: var(--right);
  -webkit-mask-image: var(--crud-bubble);
  mask-image: var(--crud-bubble);
  position: absolute;
  height: var(--size);
  top: var(--top);
  width: var(--size);
}

.logo__base,
.banner__logo:hover .logo__title,
.banner__logo:focus .logo__title {
  fill: currentColor;
}

.banner__nav {
  grid-column: span 3 / -1;
  font-size: 1.2rem;
  text-align: center;
  transform: translateY(-1.2rem);
}

.banner__nav li {
  display: inline-block;
  padding-bottom: 3px;
}

.banner__nav a {
  display: block;
  font-family: var(--font-proto-bold);
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
}

.banner__nav a:hover,
.banner__nav a:focus,
[data-page="blog"] .nav-blog,
[data-page="home"] .nav-work,
[data-page="about"] .nav-about {
  color: var(--color-text);
}

@media (min-width: 37.5em) {
  .banner__logo {
    grid-column: span 2;
    margin: 0;
  }

  .banner__logo::after {
    --size: 4.5rem;
    --top: -0.75rem;
    --right: -3rem;
  }

  .banner__nav {
    grid-column-start: span 1;
    font-size: 1.5rem;
    text-align: right;
    transform: none;
  }

  .banner__nav li {
    display: block;
  }
}

@media (min-width: 50em) {
  .banner__nav {
    grid-column-start: span 2;
  }

  .banner__nav li {
    display: inline-block;
  }
}

@media (min-width: 123.75em) {
  .banner {
    position: sticky;
    top: 0;
  }
}
