.banner {
  --padding-h: 0.75rem;
  padding: 1.2rem var(--padding-h) 0 var(--padding-h);
  position: relative;
  text-align: center;
  z-index: 100;
}

.logo {
  color: var(--color-text);
  display: block;
  margin: 0 auto;
  max-width: 260px;
  position: relative;
  width: 100%;
}

.logo__base {
  fill: currentColor;
}

.logo__title {
  fill: var(--color-accent-primary);
}

@keyframes rotate {
  to {
    transform: rotate3d(0, 0, 1, 1turn);
  }
}

.logo::after {
  --size: 2.25rem;
  --top: -1rem;
  --left: calc(100% - 1.75rem);
  animation: rotate 12s linear infinite;
  background-color: var(--color-accent-secondary);
  content: "";
  display: block;
  left: var(--left);
  -webkit-mask-image: var(--crud-bubble);
  mask-image: var(--crud-bubble);
  position: absolute;
  height: var(--size);
  top: var(--top);
  width: var(--size);
}

@media (min-width: 30em) {
  .logo::after {
    --size: 4.5rem;
    --top: -0.75rem;
    --left: calc(100% - 1.5rem);
  }
}

.logo:hover .logo__title,
.logo:focus .logo__title {
  fill: currentColor;
}

.navigation {
  font-size: 1.2rem;
}

.navigation li {
  display: inline-block;
  padding-bottom: 3px;
}

.navigation a {
  display: block;
  font-family: var(--font-proto-bold);
  font-weight: bold;
  padding: 0.5rem 0.45rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation a:hover,
.navigation a:focus,
[data-page="blog"] .nav-blog,
[data-page="home"] .nav-work,
[data-page="about"] .nav-about {
  color: var(--color-text);
}

@media (min-width: 46.875em) {
  .banner {
    --padding-h: 1.25rem;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 0;
  }

  .navigation {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .navigation li {
    margin-left: 1rem;
  }
}

@media (min-width: 123.75em) {
  .banner {
    position: sticky;
    top: 0;
  }

  .listed-items {
    font-size: 1.6em;
  }
}
