.footer {
  --rows: 3;
}

.footer__links {
  display: flex;
}

.footer__links ul {
  flex: 1 1 50%;
  max-width: calc(280 / 16 * 1rem);
}

.footer__links li {
  margin: 0.8rem 0;
}

.footer a {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  font-family: var(--font-proto-regular);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer a:hover,
.footer a:focus {
  color: var(--color-text);
}

.footer__thanks {
  align-self: center;
  font-family: var(--font-proto-regular);
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.no-js .theme-toggle {
  display: none;
}

.scheme-toggle-btn {
  background-color: var(--color-accent-primary);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  color: var(--color-bg);
  font-family: var(--font-proto-regular);
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
}

.scheme-toggle-btn:hover,
.scheme-toggle-btn:focus {
  background-color: var(--color-bg);
  color: var(--color-text);
  outline: 3px solid currentColor;
}

@media (min-width: 38.75em) {
  .footer .g-main__item {
    --col-start: 2;
  }
}

@media (min-width: 65em) {
  .footer .g-main__item {
    --col-start: 4;
    --col-end: -1;
  }
}

@media (min-width: 106.25em) {
  .footer .g-main__item {
    --col-start: 6;
  }
}

@media (min-width: 137.5em) {
  .footer .g-main__item {
    --col-start: 7;
  }
}
