.no-js .scheme-toggler {
  display: none;
}

.scheme-toggler {
  padding-left: 0.3rem;
}

.scheme-toggler__btn {
  --size: 1.5rem;
  background-color: var(--color-bg);
  border: 0;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
  display: flex;
  height: var(--size);
  padding: var(--padding, 2px);
  place-items: center;
  width: var(--size);
}

.scheme-toggler__btn svg {
  width: 100%;
}

[data-scheme="light"] #sun,
[data-scheme="dark"] #moon {
  display: none;
}

.scheme-toggler__btn:hover,
.scheme-toggler__btn:focus {
  box-shadow: 0 0 0 3px var(--color-accent-primary);
  outline: none;
}

@media (min-width: 38.75em) {
  .scheme-toggler__btn {
    --size: 2.2rem;
    --padding: 4px;
  }
}
