---
title: An archive of the many projects Tyler Gaw starts and sometimes finishes
pageType: work
project: archive
---

{% extends "layouts/base.njk" %}

{% block main %}
<div class="page-intro g-main g-padded">
  <div class="page-intro__contents g-main__item">
    <h1 class="heading--special">Archive</h1>
    <div class="page-intro__body">
      <p>
        Over the years I’ve been lucky to do a ton of work. Mountains of design and code for
        businesses, products, and failed start-ups. And on top of that, an ever-growing 
        list of personal projects, experiments, and silly art projects that I sometimes actually finish.
      </p>
      <p>
        This isn’t everything. Some work I’ve lost to time. This is a semi-organized 
        dumping ground for anything I still have that doesn’t fit somewhere else.
      </p>
    </div>
  </div>
</div>

<ul class="listed-items g-main g-padded">

  <li class="g-main__item listed-items__heading" id="2016">
    <h2>2016</h2>
  </li>
  <li class="g-main__item listed-item">
    <time datetime="2016-11">November 2016 - Forever</time>
    <a class="listed-item__link" href="https://leela.dog" target="_blank" rel="noopener noreferrer">
      Leela.dog
    </a>
    <p>
      The best website ever for the best dog ever.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2015">
    <h2>2015</h2>
  </li>
  <li class="g-main__item listed-item">
    <time datetime="2015-06">June 2015</time>
    <a class="listed-item__link" href="https://lab.tylergaw.com/overawe" target="_blank" rel="noopener noreferrer">
      Overawe
    </a>
    <p>
      Experiments in strange with CSS, and the JS Audio API. I also <a href="/blog/overawe/">wrote
      about it</a>.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2014">
    <h2>2014</h2>
  </li>
  <li class="g-main__item listed-item">
    <time datetime="2014-02">February 2014</time>
    <a class="listed-item__link" href="https://lab.tylergaw.com/css-true-titles" target="_blank" rel="noopener noreferrer">
      CSS True Titles
    </a>
    <p>
      A experimental CSS animations, masking, and pacing. And just a lot of fun. 
      I also <a href="/blog/css-true-titles/">wrote about it</a>.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2013">
    <h2>2013</h2>
  </li>
  <li class="g-main__item listed-item">
    <time datetime="2013-07">July 2013</time>
    <a class="listed-item__link" href="https://lab.tylergaw.com/slenderman" target="_blank" rel="noopener noreferrer">
      Slenderman
    </a>
    <p>
      I’d never made a font before, so I made a font. Was fun A++
      would make a font again. I also <a href="/blog/slenderman/">wrote about it</a>.
    </p>
  </li>

  <li class="g-main__item listed-item">
    <time datetime="2013-04">April 2013 - Now</time>
    <a class="listed-item__link" href="https://againwiththis.com/" target="_blank" rel="noopener noreferrer">
      Again with This
    </a>
    <p>
      Little reminders to myself in graphic form. There’s so many more
      I need to learn.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2012">
    <h2>2012</h2>
  </li>
  <li class="g-main__item listed-item">
    CSS Squigglevision
  </li>
  <li class="g-main__item listed-item">
    CSS Write On
  </li>

  <li class="g-main__item listed-items__heading" id="2011">
    <h2>2011</h2>
  </li>
  <li class="g-main__item listed-item">
    CSS Slideshows
  </li>
  <li class="g-main__item listed-item">
    CSS Animated Sprites
  </li>

  <li class="g-main__item listed-items__heading" id="2010">
    <h2>2010</h2>
  </li>
  <li class="g-main__item listed-item">
    Jribbble
  </li>
  <li class="g-main__item listed-item">
    The Man from Hollywood
  </li>
</ul>

{% include "components/work-nav.njk" %}

{% endblock %}