---
title: An archive of the many projects Tyler Gaw starts and sometimes finishes
pageType: work
project: archive
---

{% extends "layouts/base.njk" %}

{% block main %}
<div class="page-intro g-main g-padded">
  <div class="page-intro__contents g-main__item">
    <h1 class="heading--special">Archive</h1>
    <div class="page-intro__body">
      <p>
        Over the years I’ve been lucky to do a ton of work. Mountains of design and code for
        businesses, products, and failed start-ups. And on top of that, an ever-growing 
        list of personal projects, experiments, and silly art projects that I sometimes actually finish.
      </p>
      <p>
        This is no where near everything. This is only my personal projects, none
        of the work I’ve been lucky to do for agencies or when freelancing. 
        Some work I’ve lost to time. This is a semi-organized dumping ground for anything I still have that 
        doesn’t fit somewhere else.
      </p>
    </div>
  </div>
</div>

<ul class="listed-items g-main g-padded">

  <li class="g-main__item listed-items__heading" id="2016">
    <h2>2022</h2>
  </li>
  <li class="g-main__item listed-item">
    <time datetime="2022-06">June 2022 - Ongoing</time>
    <a class="listed-item__link" href="https://colormix.site" target="_blank" rel="noopener noreferrer">
      ColorMix.site
    </a>
    <p>
      An MVP UI for seeing the results of CSS color-mix. And a <a href="/blog/colormix-mvp/">blog post</a> to go with it.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2016">
    <h2>2016</h2>
  </li>
  <li class="g-main__item listed-item">
    <time datetime="2016-11">November 2016 - Forever</time>
    <a class="listed-item__link" href="https://leela.dog" target="_blank" rel="noopener noreferrer">
      Leela.dog
    </a>
    <p>
      The best website ever for the best dog ever.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2015">
    <h2>2015</h2>
  </li>
  <li class="g-main__item listed-item">
    <time datetime="2015-06">June 2015</time>
    <a class="listed-item__link" href="https://archive.tylergaw.com/overawe" target="_blank" rel="noopener noreferrer">
      Overawe
    </a>
    <p>
      Experiments in strange with CSS, and the JS Audio API. I also <a href="/blog/overawe/">wrote
      about it</a>.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2014">
    <h2>2014</h2>
  </li>
  <li class="g-main__item listed-item">
    <time datetime="2014-02">February 2014</time>
    <a class="listed-item__link" href="https://archive.tylergaw.com/css-true-titles" target="_blank" rel="noopener noreferrer">
      CSS True Titles
    </a>
    <p>
      A experiment with CSS animations, masking, and pacing. And just a lot of fun. 
      I also <a href="/blog/css-true-titles/">wrote about it</a>.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2013">
    <h2>2013</h2>
  </li>
  <li class="g-main__item listed-item">
    <time datetime="2013-07">July 2013</time>
    <a class="listed-item__link" href="https://archive.tylergaw.com/slenderman" target="_blank" rel="noopener noreferrer">
      Slenderman
    </a>
    <p>
      I’d never made a font before, so I made a font. Was fun A++
      would make a font again. I also <a href="/blog/slenderman/">wrote about it</a>.
    </p>
  </li>

  <li class="g-main__item listed-item">
    <time datetime="2013-04">April 2013 - Now</time>
    <a class="listed-item__link" href="https://againwiththis.com/" target="_blank" rel="noopener noreferrer">
      Again with This
    </a>
    <p>
      Little reminders to myself in graphic form. There’s so many more
      I need to learn.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2012">
    <h2>2012</h2>
  </li>

  <li class="g-main__item listed-item">
    <time datetime="2012-09">September 2012</time>
    <a class="listed-item__link" href="https://archive.tylergaw.com/css-shaky-animation" target="_blank" rel="noopener noreferrer">
      CSS Squigglevision
    </a>
    <p>
      More CSS fun. Using sprite interpolation to create a squigglevision effect.
    </p>
  </li>

  <li class="g-main__item listed-item">
    <time datetime="2012-02">February 2012</time>
    <a class="listed-item__link" href="https://archive.tylergaw.com/css-write-on" target="_blank" rel="noopener noreferrer">
      CSS Write On
    </a>
    <p>
      A technique I took from motion graphics and ported to CSS. A fancy use
      of CSS masking and animation interpolation.
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2011">
    <h2>2011</h2>
  </li>

  <li class="g-main__item listed-item">
    <time datetime="2011-10">October 2011</time>
    <a class="listed-item__link" href="https://archive.tylergaw.com/css-slideshows" target="_blank" rel="noopener noreferrer">
      CSS Slideshows
    </a>
    <p>
      Revolving image galleries with CSS Animations and a bit of trickery. 
    </p>
  </li>

  <li class="g-main__item listed-item">
    <time datetime="2011-08">August 2011</time>
    <a class="listed-item__link" href="https://archive.tylergaw.com/css-animated-sprites" target="_blank" rel="noopener noreferrer">
      CSS Animated Sprites
    </a>
    <p>
      Single image “animated gifs” by stepping CSS animation interpolation. 
    </p>
  </li>

  <li class="g-main__item listed-items__heading" id="2010">
    <h2>2010</h2>
  </li>

  <li class="g-main__item listed-item">
    <time datetime="2011-08">August 2011</time>
    <a class="listed-item__link" href="https://jribbble.com" target="_blank" rel="noopener noreferrer">
      Jribbble
    </a>
    <p>
      A JavaScript library for the Dribbble API. I’ve written about this project
      twice. <a href="/blog/a-small-redesign-with-a-little-sugar">A Small Redesign with a Little Sugar</a> (awful title and out-of-date post) and
      <a href="/blog/jribbble-three-and-oauth/">Jribbble Three and Helping People OAuth</a>.
    </p>
  </li>

  <li class="g-main__item listed-item">
    <time datetime="2010-04">April 2010</time>
    <a class="listed-item__link" href="https://archive.tylergaw.com/themanfromhollywood" target="_blank" rel="noopener noreferrer">
      The Man from Hollywood
    </a>
    <p>
      The one that got me started on the experimental path. Kinetic type with CSS.
      This was before CSS animations existed. At the time, only transitions were
      available, and only behind the webkit prefix. Long enough ago that it has
      started to fall apart due to CSS implementation changes. Old enough that
      <a href="https://web.archive.org/web/20100619092723/http://ajaxian.com/archives/the-man-from-hollywood-says-yes" target="_blank" rel="noopener noreferrer">Ajaxian wrote about it</a>.
    </p>
  </li>
</ul>

{% include "components/work-nav.njk" %}

{% endblock %}
