---
title: ColorMe. A project by Tyler Gaw
pageType: work
project: colorme
specs: [
  {
    "title": "Hats worn", 
    "desc": "Research, design, front-end"
  },
  {
    "title": "Code used", 
    "desc": "React, ServiceWorker, Web manifest, bad bash scripting"
  },
  {
    "title": "Continuum", 
    "desc": "The Web"
  },
  {
    "title": "Timeframe", 
    "desc": "2017-Present(ish)"
  },
  {
    "title": "Repo", 
    "desc": "<a href='https://github.com/tylergaw/colorme' target='_blank' rel='noopener noreferrer'>tylergaw/colorme</a>"
  }
]
---

{% extends "layouts/base.njk" %}

{% block hero %}
<div class="hero--colorme hero--before-standard hero--after-standard">
  {{ super() }}

  <div class="hero__contents">
    <h1 class="colorme__title">
      <img src="/images/work/colorme/colorme-logo.svg" alt="ColorMe">
    </h1>
  </div>
</div>
{% endblock %}

{% block main %}

<div class="g-main g-padded project project--colorme">
  <div class="g-main__item project__intro">
    <div class="project__intro__main">
      <a href="https://colorme.io" class="project__link font--regular" target="_blank" rel="noopener noreferrer">
        colorme.io
      </a>
      <h2 class="project__intro__opening font--regular">
        Can we really do this with CSS?
      </h2>
      <p class="project__intro__body">
        ColorMe was originally a tool to visualize a previous version of 
        CSS color manipulation functions. Today, it’s just a fun little color picker.
        Tomorrow, it might again be a tool to visualize in progress CSS color functions.
      </p>
    </div>

    {% include "components/project-specs.njk" %}
  </div>

  <div class="g-main__item project__graphics">
    <figure class="project__figure figure--browser">
      <picture>
        <source srcset="/images/work/colorme/colorme-screenshot-main.avif" type="image/avif" />
        <source srcset="/images/work/colorme/colorme-screenshot-main.webp" type="image/webp" />
        <img
          src="/images/work/colorme/colorme-screenshot-main.jpg"
          width="1282"
          height="650"
          alt="A screenshot of colorme.io"
        />
      </picture>
    </figure>
  </div>

  <div class="g-main__item project__body">
    <p>
      I’d read about the potential of Sass-like color manipulation coming to
      CSS. I was also familiar with SassMe–built by a friend and former
      Co-worker–that made working with color manipulation functions easier.
      I had a bit of time off from work and wanted a project to tinker with,
      so I set to build a tool for working with the possible future CSS
      color functions.
    </p>
    <p>
      In the weeks following the release I added a number features like;
      rrggbbaa support, a color picker, and a few other things I forgot. For
      me, the color function aspect has become secondary. ColorMe has turned
      into my go-to color picker. That wasn’t intended, but is a fun
      side-effect.
    </p>

    <h3>CSS Spec Discussions and OSS contributions</h3>
    <p>
      In January 2017, color() was part of an editor’s draft CSS spec
      (link). Since then, that has changed. It’s unclear what the fate of
      color modification in CSS is, but the syntax will not be color().
      That’s being developed in a different specification.
    </p>
    <p>
      I made use of Ian Storm’s css-color-function package for ColorMe. I
      discovered a couple bugs and needed tweaks to it during development
      and contributed back to the library. Ian made me a contributor in late
      2017 to help shephard the project along. After a few lengthy
      discussions about the library’s future, work as paused for while. It’s
      not dead, we’re just holding off for a while since the CSS spec is in
      flux.
    </p>

    <h3>Blog posts</h3>
    <ul>
      <li><a href="/blog/introducing-colorme">Introducing: ColorMe</a></li>
      <li><a href="/blog/new-colorme-features">New ColorMe Features</a></li>
      <li><a href="/blog/building-my-first-pwa">Building My First PWA</a></li>
    </ul>
    <h3>Recognition</h3>
    <ul>
      <li>
        <a href="https://css-tricks.com/colorme-css-color-level-4" target="_blank" rel="noopener noreferrer">
          Got a nod from CSS Tricks
        </a>
      </li>
      <li>
        <a href="https://sidebar.io/date/2017-01-10" target="_blank" rel="noopener noreferrer">
          Sidebar.io January 9, 2017
        </a>
      </li>
      <li>
        <a href="https://tympanus.net/codrops/collective/collective-278" target="_blank" rel="noopener noreferrer">
          Codrops #278 January 7, 2017
        </a>
      </li>
      <li>
        <a href=" https://news.ycombinator.com/item?id=13331968" target="_blank" rel="noopener noreferrer">
          Hacker News front paged 🤔
        </a>
      </li>
    </ul>
  </div>
</div>

{% include "components/work-nav.njk" %}

{% endblock %}
