---
title: Building OS X Apps with JavaScript Project Details by Tyler Gaw
---

{% extends "layouts/base.njk" %}

{% block main %}

<section class="poster-jxa project" id="jxa">
  <header class="jxa-header">
    <h2>
      {% include "../images/work/jxa/jxa-logo.svg" %}
    </h2>
  </header>
  <div class="poster-fill-jxa">
    <div class="project-contents">
      <div class="project-specs">
        <ul>
          <li><b>Personal / OSS</b></li>
          <li>Research / Engineering / Writing / Speaking</li>
          <li>2014</li>
          <li class="project-specs-links">
            <a href="/blog/building-osx-apps-with-js/">
              Blog post
            </a>
            <br /><a href="https://github.com/tylergaw/js-osx-app-examples">
              Examples Repo
            </a>
            <br /><a href="https://github.com/tylergaw/starstuff">
              Starstuff
            </a>
          </li>
        </ul>
      </div>

      <div class="project-body">
        <p class="project-intro">
          “<strong>You can’t do this.</strong>” This was something I got a
          glimpse of and got excited. At the WWDC in 2014, Apple made a tiny
          announcement that JavaScript would be supported as a native scripting
          language. I spent events and weekends over the next couple months
          researching what was possible, learning the basics of Objective-C, and
          building demos and writing about what was possible with the new
          technology.
        </p>
        <p>
          After I proved to myself that I could produce a working native app
          with JavaScript I set out to share what I found with other people. For
          the most part, the results were met with enthusiasm and positive
          feedback. I couldn’t have asked for a better outcome from something
          that was just a fun thing to do.
        </p>
        <p>
          I didn’t do much with it for while. Then, I got word that my talk
          proposal on the topic was accepted by MidwestJS 2015. In the months
          leading up to the conference I dove back and learned how all the
          pieces worked together again to put together a talk. During that time
          I also experiemented with a build process for it using webpack and
          started a jQuery-esque UI library for JXA called Starstuff.
        </p>

        <h3>Speaking</h3>
        <div>
          <h4>MidwestJS 2015</h4>
          <p>
            This was my first conference talk. I’ve had plenty of proposals
            rejected over the years, but this one made it in.
          </p>

          <div class="jxa-midwestjs-figures">
            <figure class="project-figure">
              <a
                href="https://www.youtube.com/watch?v=UcU2VqRs6DA"
                class="project-img-link"
              >
                <picture>
                  <source
                    srcset="/images/jxa-video-thumb.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="/images/jxa-video-thumb.png"
                    type="image/png"
                  />
                  <img
                    src="/images/jxa-video-thumb.png"
                    alt="A screenshot of a YouTube video of my talk on Building OS X Apps with JavaScript at JerseyScript November 2014."
                  />
                </picture>
              </a>
              <figcaption>
                <a href="https://www.youtube.com/watch?v=UcU2VqRs6DA"
                  >Video of the talk</a
                >
              </figcaption>
            </figure>

            <figure class="project-figure">
              <a
                href="https://www.youtube.com/watch?v=UcU2VqRs6DA"
                class="project-img-link"
              >
                <picture>
                  <source
                    srcset="/images/jxa-midwestjs-slides.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="/images/jxa-midwestjs-slides.png"
                    type="image/png"
                  />
                  <img
                    src="/images/jxa-midwestjs-slides.png"
                    alt="A collage of slides from my talk at MidwestJS 2015 Building OS X Apps with JavaScript at JerseyScript November 2014."
                  />
                </picture>
              </a>
              <figcaption>
                <a
                  href="https://speakerdeck.com/tylergaw/building-os-x-apps-with-javascript-1"
                  >Slides on Speaker Deck</a
                >
              </figcaption>
            </figure>
          </div>

          <h4>JeseryScript, November 2014</h4>
          <p>
            In the early days of Jenn’s
            <a
              href="https://twitter.com/jerseyscriptusa/status/532337129050099712"
              >EXTREMELY CHILL social gathering</a
            >, she invited folks to give short talks. I used that as an excuse
            to make Springsteen-themed slides.
          </p>

          <figure class="project-figure">
            <a
              href="https://speakerdeck.com/tylergaw/building-os-x-apps-with-javascript"
              class="project-img-link"
            >
              <picture>
                <source
                  srcset="/images/jxa-jerseyscript-slides.webp"
                  type="image/webp"
                  media="(min-width: 650px)"
                />
                <source
                  srcset="/images/jxa-jerseyscript-slides.png"
                  type="image/png"
                  media="(min-width: 650px)"
                />
                <source
                  srcset="/images/jxa-jerseyscript-slides-narrow.webp"
                  type="image/webp"
                />
                <source
                  srcset="/images/jxa-jerseyscript-slides-narrow.png"
                  type="image/png"
                />
                <img
                  src="/images/jxa-jerseyscript-slides.png"
                  alt="A collage of Bruce Springsteen-themed slides from my talk on Building OS X Apps with JavaScript at JerseyScript November 2014."
                />
              </picture>
            </a>
            <figcaption>
              <a
                href="https://speakerdeck.com/tylergaw/building-os-x-apps-with-javascript"
                >Slides on Speaker Deck</a
              >
            </figcaption>
          </figure>
        </div>

        <h3>Recognition</h3>
        <ul class="project-recognition">
          <li>
            An email from former Apple automation product manager,
            <a href="https://en.wikipedia.org/wiki/Sal_Soghoian">Sal</a>. He
            sent me a short note to say he saw the post and thought it was cool
            and thanks for working with the technology. Of all the recognition I
            got for this project, this felt the best.
          </li>
          <li>
            Got
            <a href="https://twitter.com/horse_js/status/516264252332470273"
              >horse_js’d</a
            >
          </li>
          <li>
            <a href="https://news.ycombinator.com/item?id=8379247">
              Hacker News front paged 🤔
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
