---
title: The Tall Tale of Building OS X Apps with JavaScript by Tyler Gaw
pageType: work
specs: [
  {
    "title": "Hats worn", 
    "desc": "Research, development, design, writing, speaking"
  },
  {
    "title": "Code used", 
    "desc": "JavaScript, Objective-C, Cocoa"
  },
  {
    "title": "Platform", 
    "desc": "Mac OS X"
  },
  {
    "title": "Timeframe", 
    "desc": "2014, 2015"
  },
  {
    "title": "Repo", 
    "desc": "<a href='https://github.com/tylergaw/js-osx-app-examples' target='_blank' rel='noopener noreferrer'>tylergaw/js-osx-app-examples</a>"
  }
]
---

{% extends "layouts/base.njk" %}

{% block hero %}
<div class="hero--jxa hero--before-standard">
  {{ super() }}

  <div class="hero__contents">
    <picture class="jxa__graphic">
      <source srcset="/images/work/jxa/jxa-chip-mini.avif" type="image/avif" />
      <source srcset="/images/work/jxa/jxa-chip-mini.webp" type="image/webp" />
      <img
        src="/images/work/jxa/jxa-chip-mini.png"
        alt="A photo illustration of ram in a suit that's all skewed, blurred, and melty looking. I call him; 'Chip'"
      />
    </picture>

    <h1 class="jxa__title">
      <img src="/images/work/jxa/building-osx-apps-with-javascript-logo.svg" 
        alt="Building OS X Apps with JavaScript">
    </h1>
  </div>
</div>
{% endblock %}

{% block main %}
<div class="g-main g-padded project project--jxa">
  <div class="g-main__item project__intro">
    <div class="project__intro__main">
      <a href="/blog/building-osx-apps-with-js/" class="project__link font--regular">
        The Blog Post
      </a>
      <h2 class="project__intro__opening font--regular">
        Can this be a new way to build?
      </h2>
      <p class="project__intro__body">
        This is what happens when I get excited about something. At WWDC in 2014, 
        Apple announced that JavaScript would be supported as a native scripting 
        language. That nugget of information got stuck in my brain. I spent evenings 
        and weekends over the next months researching what the change meant. And
        what new things were possible.
      </p>
    </div>

    {% include "components/project-specs.njk" %}
  </div>

  <div class="g-main__item project__body">
  {# FIXME <a href="https://github.com/tylergaw/starstuff">
    Starstuff
  </a> #}

    <p>
      FIXME: Learning the basics of Objective-C, and
      building demos and writing about what was possible with the new
      technology.
    </p>
    <p>
      After I proved to myself that I could produce a working native app
      with JavaScript I set out to share what I found with other people. For
      the most part, the results were met with enthusiasm and positive
      feedback. I couldn’t have asked for a better outcome from something
      that was just a fun thing to do.
    </p>
    <p>
      I didn’t do much with it for while. Then, I got word that my talk
      proposal on the topic was accepted by MidwestJS 2015. In the months
      leading up to the conference I dove back and learned how all the
      pieces worked together again to put together a talk. During that time
      I also experiemented with a build process for it using webpack and
      started a jQuery-esque UI library for JXA called Starstuff.
    </p>

        <h3>Speaking</h3>
        <p>
          I was able to take my show on the road with this one. What I enjoyed
          most about developing these talks was getting the chance to revisit
          the topic. Each time I’m back to the project I could see it with
          fresh eyes and come up with new things I couldn’t before because I
          was too deep in.
        </p>
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=UcU2VqRs6DA">MidwestJS 2015</a>
            <p>
              This was my first proper conference talk. I’ve had plenty of proposals
              rejected over the years, but this one made it in.
            </p>

            <figure class="project__figure">
              <a href="https://www.youtube.com/watch?v=UcU2VqRs6DA">
                <picture>
                  <source srcset="/images/jxa-video-thumb.webp" type="image/webp"/>
                  <source srcset="/images/jxa-video-thumb.png" type="image/png"/>
                  <img
                    src="/images/jxa-video-thumb.png"
                    alt="A screenshot of a YouTube video of my talk on Building OS X Apps with JavaScript at JerseyScript November 2014."
                  />
                </picture>
              </a>
              <figcaption>
                <a href="https://www.youtube.com/watch?v=UcU2VqRs6DA">Video of the talk</a>
              </figcaption>
            </figure>

            <figure class="project__figure">
              <a href="https://www.youtube.com/watch?v=UcU2VqRs6DA"
              >
                <picture>
                  <source
                    srcset="/images/jxa-midwestjs-slides.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="/images/jxa-midwestjs-slides.png"
                    type="image/png"
                  />
                  <img
                    src="/images/jxa-midwestjs-slides.png"
                    alt="A collage of slides from my talk at MidwestJS 2015 Building OS X Apps with JavaScript at JerseyScript November 2014."
                  />
                </picture>
              </a>
              <figcaption>
                <a href="https://speakerdeck.com/tylergaw/building-os-x-apps-with-javascript-1">Slides on Speaker Deck</a>
              </figcaption>
            </figure>
          </li>

          <li>
            <a href="https://twitter.com/jerseyscriptusa/status/532337129050099712">JeseryScript, November 11 2014</a>
            <p>
              In the early days of Jenn’s EXTREMELY CHILL social gathering, 
              she invited folks to give short talks. I used that as an excuse to 
              make Springsteen-themed slides.
            </p>

            <figure class="project__figure">
              <a href="https://speakerdeck.com/tylergaw/building-os-x-apps-with-javascript">
                <picture>
                  <source
                    srcset="/images/jxa-jerseyscript-slides.webp"
                    type="image/webp"
                    media="(min-width: 650px)"
                  />
                  <source
                    srcset="/images/jxa-jerseyscript-slides.png"
                    type="image/png"
                    media="(min-width: 650px)"
                  />
                  <source
                    srcset="/images/jxa-jerseyscript-slides-narrow.webp"
                    type="image/webp"
                  />
                  <source
                    srcset="/images/jxa-jerseyscript-slides-narrow.png"
                    type="image/png"
                  />
                  <img
                    src="/images/jxa-jerseyscript-slides.png"
                    alt="A collage of Bruce Springsteen-themed slides from my talk on Building OS X Apps with JavaScript at JerseyScript November 2014."
                  />
                </picture>
              </a>
              <figcaption>
                <a href="https://speakerdeck.com/tylergaw/building-os-x-apps-with-javascript">
                  Slides on Speaker Deck
                </a>
              </figcaption>
            </figure>
          </li>
        </ul>

        <h3>Recognition</h3>
        <ul>
          <li>
            An email from former Apple automation product manager,
            <a href="https://en.wikipedia.org/wiki/Sal_Soghoian">Sal</a>. He
            sent me a short note to say he saw the post and thought it was cool
            and thanks for working with the technology. Of all the recognition I
            got for this project, this felt the best.
          </li>
          <li>
            <a href="https://twitter.com/horse_js/status/516264252332470273">Got horse_js’d</a>
          </li>
          <li>
            <a href="https://news.ycombinator.com/item?id=8379247">
              Hacker News front paged 🤔
            </a>
          </li>
        </ul>

  </div>
</div>

{% endblock %}
