---
title: StreetCred from the foggy memory of Tyler Gaw
---

{% extends "layouts/base.njk" %}

{% block hero %}
<div class="hero--streetcred hero--before-standard">
  {{ super() }}

  <div class="hero__contents">
    {# FIXME <div class="about__portrait">
      <img src="/images/tyler-gaw-portrait-2020.svg" alt="An illustration portrait of Tyler" width="1100">
    </div> #}

    <h1>
      {% include "../images/work/streetcred/streetcred-logo.svg" %}
    </h1>
  </div>
</div>
{% endblock %}

{% block main %}
StreetCred
{% endblock %}