<!doctype html>
<html lang="en" data-page="blog">
  <head>
    {{> head-contents }}
    <link rel="stylesheet" href="/css/{{stylesheet}}.css">
  </head>
  <body class="poster-default">
    <div class="poster-fill-default">
      <div class="article-hero">
        {{> banner }}

        <header class="e-header">
          <time class="dt-published" datetime="{{ date }}">
            {{dateFormat date}}
          </time>
          <h1 class="p-name">
            {{ title }}
          </h1>
          <p class="p-author h-card">
            By Tyler Gaw
          </p>
        </header>
      </div>

      <div role="main">
        <article class="h-entry">
          <div class="e-content">
            {{{contents}}}
          </div>
        </article>
      </div>
    </div>
    {{> footer }}
    {{> scripts }}
  </body>
</html>
