<!doctype html>
<html lang="en" {{#if type}}data-page="{{type}}"{{/if}}>
  <head>
    {{> head-contents }}
  </head>
  <body>
    <div class="a-container-for-style-purposes home-intro-container">
      {{> banner }}

      <section class="home-intro">
        <div class="home-intro-contents">
          <img class="home-intro-shape" src="images/the-work-shape-outside.svg" alt="" />
          <p>
            Since 2006 I’ve made a living creating experiences for humans
            as a Designer and Software Engineer.
          </p>
          <p>
            In that time I’ve been fortunate to work alongside excellent
            people at three small companies, as a freelancer, and as a business
            co-founder.
          </p>
          <p>
            This site is an ongoing attempt to document my work and
            myself.
          </p>
        </div>
        <div class="home-intro-graphic">
          {{> the-work-graphic.svg }}
        </div>
      </section>
    </div>
    <div class="a-container-for-style-purposes limbo-container">
      <section>
        <h1>Limbo</h1>
        <ul>
          <li>Product Hunt</li>
          <li>In NET Magazine</li>
        </ul>
      </section>
    </div>

        <div hidden>


        <section class="home-groundwork-container">
          <p>We had one goal: Help Hillary Clinton get to the White House.</p>
          <p>We failed</p>
          <h1>The Groundwork</h1>

          <ul>
            <li>Developer Center</li>
            <li>React / Admin</li>
            <li>Interviewing</li>
          </ul>
        </section>

        <section class="home-colorme-container">
          <h1>ColorMe</h1>
          <ul>
            <li>Blog post</li>
            <li>PWA Post</li>
            <li>CSS-Tricks post</li>
          </ul>
        </section>

        <section class="home-jxa-container">
          <h1>Building OS X Apps with JavaScript</h1>
          <ul>
            <li>Jerseyscript Slides</li>
            <li>MidwestJS Slides & Video</li>
            <li>Recognition from applescript creator</li>
          </ul>
        </section>

        <section class="home-jxa-container">
          <h1>Jribbble</h1>
        </section>

        <h2>The Readers</h2>

        <section class="home-readability-container">
          <h1>Readability</h1>
        </section>

        <section class="home-readlists-container">
          <h1>Readlists</h1>

          <ul>
            <li>In NET Magazine</li>
          </ul>
        </section>

        <section class="home-longform-container">
          <h1>Longform</h1>
        </section>

        <section class="home-css-exp-container">
          <h1>The CSS Experiments</h1>
          <h2>The Man From Hollywood</h2>
          <h2>CSS True Titles</h2>
          <h3>Squigglevision</h3>
          <h3>Overawe</h3>
          <h3>Write-On</h3>
          <h3>Slideshows</h3>
          <h3>Sprites</h3>
        </section>

        <div>
          <p>Unhinged</p>
          <p>Vocal</p>
          <p>A force</p>
          <p>Not held together very tight</p>
          <p>Stubborn as a mule</p>
          <p>No tact</p>
          <p>Lowest lows highest highs</p>
          <p>And</p>
          <p>Regrets</p>
          <p>Shame</p>
          <p>Missed Carreers</p>
          <p>Self-reflection</p>
          <p>Introspection</p>
          <p>Proud</p>
          <p>Powerless</p>
          <p>Self-doubt</p>
          <p>Uncertainty</p>
          <p>Nostalgia</p>
          <p>Simple is boring</p>
          <p>Complicated</p>
          <p>Messy</p>
          <p>But</p>
          <p>More ambition than talent</p>
          <p>Big in Japan</p>
          <p>I miss my dog</p>
        </div>
        </div>
      </div>

      {{> footer }}
    </div>
    {{> scripts }}
  </body>
</html>
