<ul id="projects">
	<li>
		<section class="project-description">
			<time datetime="2010-06-15">June 15, 2010</time>
			<h1>Full Court Shots</h1>
			<p>
				Are you a fan of Dribbble? Sure you are. Full Court Shots gives you an at-a-glance view of all the latest and greatest shots.
			</p>
		</section>
		<a href="/projects/full-court-shots">
			<img src="images/project-cover-fullcourtshots.jpg" alt="">
		</a>
	</li>
	
	<li>
		<section class="project-description">
			<time datetime="2010-04-06">April 6, 2010</time>
			<h1>The Man from Hollywood</h1>
			<p>
				Would it possible to create a kinetic type piece using only web standards technologies? I thought so.
			</p>
		</section>
		<a href="/projects/the-man-from-hollywood">
			<img src="images/project-cover-themanfromhollywood.jpg" alt="">
		</a>
	</li>
	<li>
		<section class="project-description">
			<time datetime="2010-06-15">June 15, 2010</time>
			<h1>Full Court Shots</h1>
			<p>
				Are you a fan of Dribbble? Sure you are. Full Court Shots gives you an at-a-glance view of all the latest and greatest shots.
			</p>
		</section>
		<a href="/projects/full-court-shots">
			<img src="images/project-cover-fullcourtshots.jpg" alt="">
		</a>
	</li>
	
	<li>
		<section class="project-description">
			<time datetime="2010-04-06">April 6, 2010</time>
			<h1>The Man from Hollywood</h1>
			<p>
				Would it possible to create a kinetic type piece using only web standards technologies? I thought so.
			</p>
		</section>
		<a href="/projects/the-man-from-hollywood">
			<img src="images/project-cover-themanfromhollywood.jpg" alt="">
		</a>
	</li>
</ul>