<ul id="projects">
	<li id="fullcourtshots">
		<h1>
			Full Court Shots
		</h1>
		<p>
			I wanted a way to get an at-a-glance view of all the latest and greatest design snapshots from the design-a-thon that is Dribbble.com. This weekend project of mine continues to be a source of design inspiration for me and the handful of other design lovers that frequent it.
		</p>
		<footer>
			<a href="http://fullcourtshots.com">http://fullcourtshots.com</a>
			<br>
			<a href="http://github.com/tylergaw/fullcourtshots">Fork it on <mark>GitHub</mark></a>
		</footer>
	</li>
	<li id="themanfromhollywood">
		<h1>
			<span>The Man</span><br><span>from Hollywood</span>
		</h1>
		<p>
			Would it be possible to create a kinetic type animation using only CSS transitions and a whole lot of elbow grease? I thought so. TMFH is a first-of-its kind demo of how far CSS animation can be taken.
		</p>
		<footer>
			<a href="http://tylergaw.com/lab/themanfromhollywood">/lab/themanfromhollywood</a>
			<br>
			<a href="http://github.com/tylergaw/themanfromhollywood">Fork it on <mark>GitHub</mark></a>
		</footer>
	</li>
</ul>