<ul id="projects">
	<li id="fullcourtshots">
		<h1>
			Full Court Shots
		</h1>
		<p>
			I wanted a way to get an at-a-glance view of all the latest and greatest design snapshots from the design-a-thon that is Dribbble.com. This weekend project of mine continues to be a source of design inspiration for me and the handful of other design lovers that frequent it.
		</p>
		<footer>
			<a href="http://fullcourtshots.com">http://fullcourtshots.com</a>
			<br>
			<a href="http://github.com/tylergaw/fullcourtshots">Fork it on <mark>GitHub</mark></a>
		</footer>
	</li>
</ul>