@layer pages {
  .hero--about {
    color: var(--color-offwhite);
    position: relative;
  }

  .hero--about::before {
    background: var(--color-about-accent) url("/images/about-dust.svg") repeat;
    height: var(--height, 70%);
  }

  .hero--about a {
    color: var(--color-about-accent-dark);
  }

  .hero--about .banner__nav a:hover,
  .hero--about .banner__nav a:focus,
  .hero--about .nav-about {
    color: var(--color-about-accent-light);
  }

  .hero--about .banner__logo::after {
    background-color: var(--color-about-accent-light);
  }

  .about__hero-contents {
    margin: 0 auto;
    max-width: calc(2500 / 16 * 1rem);
    overflow: hidden;
    position: relative;
  }

  .about__bio {
    font-size: 1.6em;
    line-height: 1.6;
    position: relative;
  }

  .about__bio,
  .about-section {
    max-width: calc(2400 / 16 * 1rem);
  }

  .about__bio p,
  .about-section p {
    padding-bottom: 1.6em;
  }

  .about__bio h2,
  .about-section h2 {
    font-family: var(--font-proto-bold);
    font-size: var(--font-size-34);
    letter-spacing: -0.025em;
    margin: 0;
    padding: 0.7em 0 0 0;
  }

  .bio__intro,
  .bio__outro {
    --col-start: 1;
    --col-end: -1;
  }

  .bio__intro p:first-child::first-line {
    font-size: 75%;
    font-family: var(--font-proto-bold);
    text-transform: uppercase;
  }

  .bio__design,
  .bio__eng {
    font-size: 82%;
  }

  .about-section__intro {
    font-size: 1.3em;
    line-height: 1.6;
    margin-top: calc(var(--g-row) * 8);
  }

  @media (min-width: 620px) {
    .hero--about::before {
      --height: 65%;
    }

    .about__hero-contents {
      --trans-y: -5%;
      margin-bottom: var(--trans-y);
      transform: translateY(var(--trans-y));
    }

    .about-section__intro {
      --col-end: span 2;
    }
  }

  @media (min-width: 750px) {
    .about__bio {
      font-size: 1.8em;
    }
  }

  @media (min-width: 1040px) {
    .bio__intro,
    .bio__outro {
      --col-start: 2;
      --col-end: span 4;
      padding-right: 3em;
    }

    .bio__design,
    .about-section__intro {
      --col-start: 2;
    }

    .bio__design,
    .bio__eng {
      --col-end: span 2;
    }

    .about-section__intro {
      --col-end: span 3;
    }
  }

  @media (min-width: 1240px) {
    .about__bio {
      font-size: 2em;
    }

    .bio__intro,
    .bio__outro {
      --col-end: span 5;
    }

    .about-section__intro {
      --col-end: span 4;
    }
  }

  @media (min-width: 1440px) {
    .hero--about::before {
      --height: 60%;
    }

    .about__hero-contents {
      --trans-y: -10%;
      margin-bottom: -4rem;
    }
  }

  @media (min-width: 1700px) {
    .about__hero-contents {
      max-width: 1835px;
    }

    .bio__intro,
    .bio__outro {
      --col-end: span 6;
    }

    .bio__design,
    .bio__eng {
      --col-end: span 3;
    }
  }

  @media (min-width: 2200px) {
    .about__bio {
      font-size: 2.2em;
    }

    .bio__intro,
    .bio__outro,
    .bio__design,
    .about-section__intro {
      --col-start: 3;
    }

    .bio__design,
    .bio__eng {
      --col-end: span 4;
      padding-right: 2.5em;
    }
  }
}
