@layer pages {
  .hero--colorme {
    position: relative;
  }

  .hero--colorme::before {
    background: var(--color-colorme-accent)
      url("/images/work/colorme/colorme-dust.svg") repeat;
    clip-path: polygon(0 0, 100% 0.3rem, 100% 98.5%, 0 100%);
    height: 95%;
    top: 0.5rem;
    width: calc(99% - var(--gutter) * 2);
  }

  .hero--colorme::after {
    background: var(--color-colorme-accent-dark)
      url("/images/work/colorme/colorme-dust.svg") repeat;
    border-radius: 6px;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      3rem var(--path-point, 62%)
    );
    height: 100%;
    left: initial;
    right: var(--gutter);
    top: 0;
    transform: rotate(1deg);
    width: calc(var(--width-target, 62%) - var(--gutter) * 2);
  }

  .colorme__title {
    margin: 0 auto;
    max-width: calc(550 / 16 * 1rem);
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;
    width: 70%;

    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  @media (min-width: 620px) {
    .hero--colorme::before {
      width: calc(99% - var(--gutter) * 6);
    }

    .hero--colorme::after {
      --path-point: 53%;
      right: calc(var(--gutter) * 3);
      width: calc(52% - var(--gutter) * 3);
    }

    .colorme__title {
      padding-bottom: min(19vw, 23rem);
      padding-top: min(13vw, 16rem);
      width: 65%;
    }
  }
}
