@layer pages {
  .hero--limbo {
    color: var(--color-eggshell);
    position: relative;
  }

  .hero--limbo::before,
  .hero--limbo::after {
    background-color: var(--color-accent-primary);
  }

  .hero--limbo::before {
    height: calc(90% - var(--offset-v));
  }

  .hero--limbo::after {
    bottom: 2rem;
    height: 30%;
    transform: skewY(1.75deg);
  }

  .hero--limbo .hero__contents {
    margin: 0 auto;
    max-width: calc(1720 / 16 * 1rem);
    padding-top: 0.5rem;
    z-index: 1;
  }

  .limbo__title {
    bottom: var(--pos-bottom, 15%);
    position: absolute;
    text-align: center;
    view-transition-name: limbo-title;
    width: 100%;

    img {
      max-width: calc(var(--max-width, 260) / 16 * 1rem);
      width: 80%;
    }
  }

  .limbo__graphic {
    overflow: hidden;
    position: relative;
    view-transition-name: limbo-graphic;
    width: 100%;

    img {
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: calc(var(--max-width, 1200) / 16 * 1rem);
      position: relative;
      width: 98%;
    }
  }

  ::view-transition-old(limbo-title),
  ::view-transition-old(limbo-graphic) {
    display: none;
  }

  @keyframes limboTitleSmall {
    0%,
    80% {
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes limboTitleLarge {
    0%,
    60% {
      opacity: 0;
      transform: translateX(100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes limboGraphic {
    0%,
    40% {
      opacity: 0;
      transform: translateX(50%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    ::view-transition-new(limbo-title) {
      animation: limboTitleSmall 1s ease;
    }

    ::view-transition-new(limbo-graphic) {
      animation: limboGraphic 0.8s ease;
    }
  }

  @media (min-width: 730px) {
    .limbo__title {
      --pos-bottom: 10%;
      text-align: left;
      text-indent: 13%;
    }

    ::view-transition-new(limbo-title) {
      animation-name: limboTitleLarge;
    }

    .limbo__graphic img {
      left: var(--pos-left, 25%);
      margin: 0;
      width: 87%;
    }
  }

  @media (min-width: 1170px) {
    .hero--limbo::after {
      bottom: 2.75rem;
    }

    .limbo__title {
      --pos-bottom: 15%;
      text-indent: 10%;

      img {
        --max-width: 330;
      }
    }

    .limbo__graphic img {
      --pos-left: 29%;
      width: 80%;
    }
  }
}
