body {
  --color-charcoal: #272727;
  --accent: #ff3030;
  --color-offwhite: #ff3030;
  --darkerwhite: #ff3030;
  --red-light: #ff8d8d;
  background-color: var(--eggshell);
  padding: 0;
}

.logo-base,
.logo-title {
  fill: var(--color-offwhite);
}

.logo:hover .logo-base,
.logo:focus .logo-base {
  fill: var(--color-charcoal);
}

.navigation a:hover,
.navigation a:focus,
[data-page="blog"] .nav-blog {
  color: var(--color-charcoal);
}

@media (min-width: 780px) {
  .e-header .p-name {
    font-size: 6.1vw;
  }
}

[role="contentinfo"] .contact a {
  color: var(--color-accent-primary);

  &:hover,
  &:focus {
    color: var(--color-charcoal);
  }
}
