/*
  Hello. These inline styles are considered critical for page load so we put
  them directly in the markup instead of blocking page load for the entire
  stylesheet.
*/

body {
  --lightgrey: #CCC;
  --grey: #292929;
  --accent: #8A7A9C;
  --offwhite: #F8F8F8;
  --darkerwhite: #D3D3D3;
  --font-aktiv: "aktiv-grotesk", sans-serif;
  --font-aktiv-ex: "aktiv-grotesk-extended", sans-serif;
  --eggshell: #FCFBF2;
}

html, body {
  background-color: var(--lightgrey);
}

body {
  color: var(--offwhite);
  font-family: var(--font-aktiv);
}

a {
  color: var(--accent);
}

.poster-fill-default {
  background-color: var(--grey);
}

[role="banner"] {
  margin: 0 auto;
  max-width: 109em;
  overflow: hidden;
  padding-top: 1.4rem;
  position: relative;
  text-align: center;
  z-index: 100;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 210px;
  width: 82%;
}

.logo-base {
  fill: var(--lightgrey);
}

.logo-title {
  fill: var(--accent);
}

.navigation {
  font-size: 1.1rem;
  margin: 0 auto;
  width: 83%;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: inline-block;
  font-family: "aktiv-grotesk-extended";
  font-weight: 900;
  padding: 0.5rem 0.45rem;
  text-decoration: none;
}

.banner-detail,
.home-intro-graphic,
.home-intro-shape,
.about-portrait,
.about-portrait-shape {
  display: none;
}
