/*
  Hello 👋 These inline styles are considered critical for the first meaningful
  paint. So we put them directly in the markup instead of blocking page
  load for the entire stylesheet. The main stylesheet loads after the document.
*/
html,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
small,
strike,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

b,
strong {
  font-family: var(--font-proto-regular);
}

i,
em {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-bold";
  src: url("/fonts/protogroteskweb-bold.woff2");
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-extralight";
  src: url("/fonts/protogroteskweb-extralight.woff2");
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-light";
  src: url("/fonts/protogroteskweb-light.woff2");
}

@font-face {
  font-display: swap;
  font-family: "protogrotesk-regular";
  src: url("/fonts/protogroteskweb-regular.woff2");
}

html,
body {
  --scheme-system: "dark";

  /* Accent colors */
  --color-accent-toxic: #00eb9b;
  --color-accent-wine: #c01458;
  --color-accent-boo: #9db4ff;
  --color-accent-pank: #f2c0ea;
  --color-accent-boogers: #c2d838;

  /* Common colors */
  --color-charcoal: #292929;
  --color-mud: #3f3d31;
  --color-offwhite: #f8f8f8;
  --color-white: #fff;
  --color-eggshell: #f6f5e4;

  /*
    Scheme color variables: We use these general names to switch colors
    based on preferred color scheme
  */
  --color-accent-primary: var(--color-accent-toxic);
  --color-accent-secondary: var(--color-accent-boo);
  --color-bg: var(--color-charcoal);
  --color-text: var(--color-offwhite);

  /* Crud */
  --crud-bubble: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Cpath fill="%23000" fill-rule="evenodd" d="M32.533 3.432C12.033 10.596 1 32.789 1 46.508c0 13.718 7.54 47.877 33.467 52.73 25.926 4.85 61.048-14.262 63.743-33.996 2.695-19.733-1.652-38.632-10.834-48.82C78.194 6.234 53.033-3.732 32.533 3.432z"/%3E%3C/svg%3E');

  --font-proto-extralight: "protogrotesk-extralight", helvetica, sans-serif;
  --font-proto-light: "protogrotesk-light", helvetica, sans-serif;
  --font-proto-regular: "protogrotesk-regular", helvetica, sans-serif;
  --font-proto-bold: "protogrotesk-bold", helvetica, sans-serif;
  --font-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Grid */
  --g-row: 0.625rem;
  --g-col: 9.75rem;
  --g-gutter: 1.625rem;
  --g-column-template: repeat(auto-fill, minmax(var(--g-col), 1fr));
  --g-fixed-max: calc(var(--g-col) * 9);

  --bg-img: url(/images/noise-tile-dark.svg);
  background: var(--color-bg) var(--bg-img) repeat;
  background-size: 950px;
  color: var(--color-text);
  font-family: var(--font-proto-light);
  line-height: 1;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  color: var(--color-accent-primary);
}

a:focus {
  outline: 3px solid currentColor;
}

.the-work-graphic {
  --base: #222;
  --the-work: #f8f8f8;
  --so-far: #f0b67b;
}

@media (prefers-color-scheme: light) {
  html,
  body {
    --scheme-system: "light";
  }

  html:not([data-user-color-scheme]),
  body:not([data-user-color-scheme]) {
    --bg-img: url(/images/noise-tile-light.svg);
    --color-accent-primary: var(--color-accent-wine);
    --color-accent-secondary: var(--color-accent-boogers);
    --color-bg: var(--color-offwhite);
    --color-text: var(--color-mud);
  }

  html:not([data-user-color-scheme]) .the-work-graphic {
    --base: #4d352e;
    --the-work: #fff;
    --so-far: #e7f097;
  }
}

[data-user-color-scheme="light"] {
  --bg-img: url(/images/noise-tile-light.svg);
  --color-accent-primary: var(--color-accent-wine);
  --color-accent-secondary: var(--color-accent-boogers);
  --color-bg: var(--color-offwhite);
  --color-text: var(--color-mud);
}

[data-user-color-scheme="light"] .the-work-graphic {
  --base: #4d352e;
  --the-work: #fff;
  --so-far: #e7f097;
}

.poster-default {
  padding: 0.25rem;
}

.banner {
  --padding-h: 0.75rem;
  padding: 1.2rem var(--padding-h) 0 var(--padding-h);
  position: relative;
  text-align: center;
  z-index: 100;
}

.logo {
  color: var(--color-text);
  display: block;
  margin: 0 auto;
  max-width: 260px;
  position: relative;
  width: 100%;
}

.logo__base {
  fill: currentColor;
}

.logo__title {
  fill: var(--color-accent-primary);
}

.navigation {
  font-size: 1.2rem;
}

.navigation li {
  display: inline-block;
  padding-bottom: 3px;
}

.navigation a {
  display: block;
  font-family: var(--font-proto-bold);
  font-weight: bold;
  padding: 0.5rem 0.45rem;
  text-decoration: none;
  text-transform: uppercase;
}

.home-intro-graphic,
.home-intro-shape,
.about-portrait,
.about-portrait-shape {
  display: none;
}

.poster-intro {
  padding: 0.25rem 0.25rem 0 0.25rem;
}

.home-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -6vw;
  padding-bottom: 140vw;
  position: relative;
  z-index: 1;
}

.home-intro::after {
  background-color: currentColor;
  bottom: 35vw;
  --line-clip: polygon(
    0 5px,
    100% 0,
    40% 25%,
    100% 50%,
    30% 75%,
    100% 100%,
    0 99.8%
  );
  -webkit-clip-path: var(--line-clip);
  clip-path: var(--line-clip);
  content: "";
  height: 105vw;
  left: 50%;
  position: absolute;
  transform: rotate(-1deg);
  width: 4px;
}

@media (min-width: 70em) {
  .home-intro::after {
    bottom: 1rem;
    height: 140vw;
  }
}

.home-intro-contents {
  font-size: 1.3rem;
  line-height: 1.5;
  max-width: 40ch;
  padding: 0 2.5rem 7rem 7vw;
}

.home-intro-contents ::selection {
  background-color: var(--color-accent-primary);
  color: var(--color-offwhite);
}

/* On narrow screens this is the diagonal shape of the intro copy. */
.home-intro-contents::before {
  float: left;
  display: block;
  content: "";
  shape-outside: polygon(0 0, 20% 0, 100% 100%);
  height: 120%;
  width: 15%;
}

.home-intro-contents p + p {
  margin-top: 1.3em;
}

.home-intro-graphic {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@supports (writing-mode: vertical-lr) {
  .home-intro-graphic::before {
    bottom: 3%;
    color: #ba7f44;
    content: "Where do you even start?";
    font-size: 0.8em;
    left: 20%;
    position: absolute;
    transform: rotate(-11deg);
    transform-origin: 50%;
    max-height: 50%;
    writing-mode: vertical-lr;
  }
}

@supports ((writing-mode: vertical-lr) and (text-orientation: upright)) {
  .home-intro-graphic::before {
    letter-spacing: -0.1em;
    text-orientation: upright;
  }
}

.listed-items {
  display: grid;
  grid-gap: 0 var(--g-gutter);
  grid-template-columns: var(--g-column-template);
  margin: 0 auto;
  max-width: var(--g-fixed-max);
  padding: 1.5rem 0 6rem 0;
}

.listed-item {
  box-sizing: border-box;
  grid-column: 1 / -1;
  margin: 0.5em 0;
  padding: 1.3rem 1.5rem;
}

.listed-item:first-child {
  margin-top: 0;
}

.listed-item time,
.book-current {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.4em;
}

.listed-item__link {
  border-bottom: 1px solid currentColor;
  color: var(--color-accent-primary);
  display: inline-block;
  font-size: 1.6em;
  line-height: 1.1;
  max-width: 100%;
  text-decoration: none;
  word-wrap: break-word;
}

.listed-item__link:hover,
.listed-item__link:focus {
  color: var(--color-text);
}

.listed-item p,
.listed-item h4 {
  font-size: 1.1em;
  line-height: 1.5;
  margin-top: 0.5em;
}

.listed-item p {
  max-width: 53ch;
}

.listed-item h4 {
  display: inline-block;
}

.listed-items-heading {
  grid-column: 1 / -1;
  font-family: var(--font-proto-regular);
  font-size: 2em;
}

.listed-items-heading h3 {
  padding: 0 1.5rem;
  position: relative;
}

.listed-item + .listed-items-heading h3 {
  padding-top: 2em;
}

/* About critical styles */
[data-page="about"] h2,
[data-page="about"] h3 {
  font-family: var(--font-proto-bold);
}

.about-intro {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.about-intro-heading {
  font-size: 20.25vw;
  letter-spacing: -0.035em;
  line-height: 1.1;
  text-align: left;
}

.about-intro-opening {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;
}

.about-intro-opening p + p {
  margin-top: 1.2em;
}

.about-intro-body {
  padding: 0 1.5rem 2rem 1.5rem;
  position: relative;
}

.about-intro-body p {
  line-height: 1.6;
}

.about-intro-body h3 {
  font-size: 1.4rem;
  margin: 1.75em 0 0.25em 0;
}

.about-portrait {
  display: block;
  margin-bottom: -105%;
  order: -1;
  width: 100%;
}

.about-intro-outro {
  font-size: 1.5rem;
  padding: 2.5rem 1.5rem;
}

@media (min-width: 26em) {
  .about-intro-opening {
    padding: 0.75rem 2rem 1.2rem 19%;
  }
}

@media (min-width: 40em) {
  .poster-default {
    padding: 0.4rem;
  }

  .poster-intro {
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  }
}

@media (min-width: 46.875em) {
  .banner {
    --padding-h: 1.25rem;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 0;
    max-width: 320px;
  }

  .navigation {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .navigation li {
    margin-left: 1rem;
  }

  .listed-items {
    padding: 0 0 7rem 0;
  }

  .home-intro {
    margin: -7.5rem auto 0 auto;
    overflow: hidden;
  }
}

@media (min-width: 47em) {
  .about-intro {
    display: block;
    font-size: 1.5rem;
    margin-top: -7vw;
  }

  .about-portrait-shape {
    float: left;
    display: block;
    opacity: 0;
    shape-outside: url("../images/portrait-shape-outside.svg");
    width: 50%;
  }

  .about-intro-heading {
    font-size: 10vw;
    padding-top: 8vw;
  }

  .about-intro-opening {
    font-size: 1.6rem;
    padding-left: 12%;
    padding-right: 4rem;
  }

  .about-intro-body {
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    padding-left: 12%;
    padding-right: 6rem;
    width: 100%;
  }

  .about-intro-body div p {
    font-size: 1.1rem;
  }

  .about-portrait {
    margin-bottom: 0;
    position: absolute;
    top: 1.2rem;
    width: 45%;
    z-index: -1;
  }
}

@media (min-width: 54em) {
  .home-intro-graphic {
    padding: 0;
    position: absolute;
    top: 0;
    transform: translateX(-1vw);
    width: 98%;
  }

  .home-intro-graphic::before {
    bottom: 6%;
    left: 30%;
    font-size: 0.9em;
    letter-spacing: -0.35em;
  }

  .home-intro-contents {
    font-size: 2vw;
    max-width: 100%;
    padding: 0 3rem 0 4rem;
    width: 100%;
    z-index: 2;
  }

  .home-intro-contents::before {
    display: none;
  }

  .home-intro-shape {
    float: left;
    display: block;
    opacity: 0;
    shape-outside: url("../images/the-work-shape-outside.svg");
    visibility: hidden;
    width: 100%;
  }
}

@media (min-width: 72.5em) {
  .home-intro {
    margin-top: -9rem;
  }

  .listed-items {
    font-size: 1.2em;
  }
}

@media (min-width: 76em) {
  .about-intro {
    margin: -12vw auto 0 auto;
    max-width: 113.75rem;
  }

  .about-intro-heading {
    font-size: 9vw;
    padding-top: 10.5vw;
    text-indent: -0.2em;
  }

  .about-intro-opening {
    font-size: 1.8rem;
    padding-right: 5rem;
    max-width: 110rem;
  }

  .about-intro-body {
    display: block;
    max-width: 103rem;
    padding-left: 22%;
    padding-right: 7rem;
  }

  .about-intro-body div p {
    font-size: 1.4rem;
  }

  .about-portrait {
    max-width: 52rem;
    top: 3.2rem;
    width: 53%;
  }

  .about-portrait-shape {
    max-width: 56rem;
    width: 59%;
  }
}

@media (min-width: 87.5em) {
  .home-intro {
    padding-bottom: 110vw;
  }

  .home-intro::after {
    height: 100vw;
  }
}

@media (min-width: 94em) {
  .about-intro {
    margin-top: -12.8rem;
  }

  .about-intro-heading {
    font-size: 7rem;
    padding-top: 12rem;
  }
}

/*
  At ~1880px we want to stop using viewport-relative units. This way
  elements won't scale beyond the proportions we want.
*/
@media (min-width: 117.5em) {
  .home-intro {
    margin-top: -9.4rem;
    padding-bottom: 105.7rem;
    width: 115.75rem;
  }

  .home-intro::after {
    height: 117.44rem;
  }

  .home-intro-contents {
    font-size: 2.6rem;
    margin-top: 0;
  }
}

@media (min-width: 123.75em) {
  .banner {
    position: sticky;
    top: 0;
  }

  .listed-items {
    font-size: 1.6em;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
