---
title: About Tyler Gaw and This Site
---

{% extends "layouts/base.njk" %}

{% block main %}

<div>
  <h1>
    Still trying.
  </h1>
</div>

<div>
  <p>
    The ethical, political, and moral implications of the work I choose is
    everything. Saying; “I’m just doing my job” is not OK for me. The work I do,
    the work we do as an industry, has real effects on real people.
  </p>
  <p>
    I’m trying to use my skills and experience to put good into the world.
  </p>

  <h2>On Design</h2>
  <p>
    There are plenty of words and acronyms you can put in front of
    “Designer”. Product, Web, Graphic, UX, UI, IA, etc.
    The lines between each are blurry, and the titles go in and out of
    fashion. Depending on the project and team I’m working alongside, I
    practice them all to varying degrees. I prefer to call myself; “A Designer.”
  </p>

  <h2>On Engineering</h2>
  <p>
    Code is a means to an end. I have ideas and use code to bring them to
    life. That doesn’t mean I approach programming
    as a craft with any less enthusiasm or care as Design. I push myself
    to learn new languages, understand new patterns, and keep growing as an engineer.
    No language is off limits and I don’t avoid trying to learn difficult concepts.
  </p>

  <p>
    Being a better designer makes me a better engineer and being a better
    engineer makes me a better designer. I’m often asked which I want to do
    more; write code or design. I answer, “yes.”
  </p>
</div>

<div class="about-site">
  <h3>This is My Corner of The Web</h3>
  <p>
    I deployed the first–Flash–version of this site Summer of 2006. I built
    v1 during the last months of college to help land my first web design job.
    Fun tidbit, there’s a CD-ROM
    version of that first site. An interface built with <a href="https://en.wikipedia.org/wiki/Adobe_Director">Macromedia Director</a>
    on CD-ROM was the required final project deliverable at that time.
  </p>
  <p>
    Since then, I’ve made iterations on the site every few years to accomplish
    different goals. I’ve changed the design, I’ve changed the work, and most
    important of all I’ve changed. This site is a lot of things. A portfolio
    of design work. A blog. A place to experiement. Above all else, this site
    is a reflection of me.
  </p>
  <p>
    The source for all versions is available <a href="https://github.com/tylergaw/tylergaw.com">on GitHub</a>.
  </p>

  <ol class="site-versions" id="versions">
    <li class="version">
      <figure>
        <figcaption>Version 6: 2018–2020</figcaption>
        <a href="https://v6.tylergaw.com">
          <picture>
            <source srcset="/images/tylergaw-v5.webp" type="image/webp">
            <source srcset="/images/tylergaw-v5.jpg" type="image/jpeg">
            <img src="/images/tylergaw-v5.jpg" alt="A screenshot of version 6 of tylergaw.com">
          </picture>
        </a>
      </figure>
    </li>
    <li class="version">
      <figure>
        <figcaption>Version 5: 2014–2018</figcaption>
        <a href="https://v5.tylergaw.com">
          <picture>
            <source srcset="/images/tylergaw-v5.webp" type="image/webp">
            <source srcset="/images/tylergaw-v5.jpg" type="image/jpeg">
            <img src="/images/tylergaw-v5.jpg" alt="A screenshot of version 5 of tylergaw.com">
          </picture>
        </a>
      </figure>
    </li>
    <li class="version">
      <figure>
        <figcaption>Version 4: 2011–2014</figcaption>
        <a href="https://v4.tylergaw.com">
          <picture>
            <source srcset="/images/tylergaw-v4.webp" type="image/webp">
            <source srcset="/images/tylergaw-v4.jpg" type="image/jpeg">
            <img src="/images/tylergaw-v4.jpg" alt="A screenshot of version 4 of tylergaw.com">
          </picture>
        </a>
      </figure>
    </li>
    <li class="version">
      <figure>
        <figcaption>Version 3: 2009–2011</figcaption>
        <a href="https://v3.tylergaw.com">
          <picture>
            <source srcset="/images/tylergaw-v3.webp" type="image/webp">
            <source srcset="/images/tylergaw-v3.jpg" type="image/jpeg">
            <img src="/images/tylergaw-v3.jpg" alt="A screenshot of version 3 of tylergaw.com">
          </picture>
        </a>
      </figure>
    </li>
    <li class="version">
      <figure>
        <figcaption>Version 2: 2007–2009</figcaption>
        <a href="https://v2.tylergaw.com">
          <picture>
            <source srcset="/images/tylergaw-v2.webp" type="image/webp">
            <source srcset="/images/tylergaw-v2.jpg" type="image/jpeg">
            <img src="/images/tylergaw-v2.jpg" alt="A screenshot of version 2 of tylergaw.com">
          </picture>
        </a>
      </figure>
    </li>
    <li class="version">
      <figure>
        <figcaption>Version 1: 2006–2007</figcaption>
        <a href="https://v1.tylergaw.com">
          <picture>
            <source srcset="/images/tylergaw-v1.webp" type="image/webp">
            <source srcset="/images/tylergaw-v1.jpg" type="image/jpeg">
            <img src="/images/tylergaw-v1.jpg" alt="A screenshot of version 1 of tylergaw.com">
          </picture>
        </a>
      </figure>
    </li>
  </ol>
</div>

{% endblock %}
