---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "blog/{{ post.fileSlug }}.md"
eleventyExcludeFromCollections: true
---
# {{ post.data.title }}

{{ post.inputPath | rawMarkdown | safe }}
