---
title: Design and Engineering articles by Tyler Gaw
pageType: blog
---

{% extends "layouts/base.njk" %}

{% block main %}

<h1>Blog</h1>

<ol class="listed-items">
{%- for post in collections.posts -%}

  {% if post.data.year %}
    <li class="listed-items__heading" id="{{ post.data.year }}">
      <h2>{{ post.data.year }}</h2>
    </li>
  {% endif %}

  <li class="listed-item">
    <time datetime="{{ post.data.date }}">{{ post.data.dateHuman }}</time>
    <a
      class="listed-item__link"
      href="{{ post.url }}"
    >
      {{ post.data.title }}
    </a>

    {%- if post.data.meta.description -%}
    <p>
      {{ post.data.meta.description }}
    </p>
    {%- endif -%}
  </li>
{%- endfor -%}
</ol>

{% endblock %}
