{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-main g-padded home__intro">
  <p>
    The questions we choose to ask shape lives. Why is this the way it is? Can’t we 
    change it? Can’t we do better? Who do we want to be? Of all the 
    things I’ve done in my career, the most simple and most difficult is that I choose to ask the questions.
  </p>
</div>

<h1 class="g-main g-padded">Select work</h1>
<ul class="g-main g-padded home__work">
  <li class="home__project p-streetcred">
    <a href="/work/streetcred" class="p-streetcred__link">
      <div class="contents p-streetcred__contents">
        <img class="p-streetcred__token" 
          src="/images/projects/streetcred/streetcred-token.svg" 
          alt="An illustrated yellow coin with a shiny spot on it.">
        <div class="p-streetcred__title">
          <img src="/images/projects/streetcred/streetcred-logo.svg" 
            alt="The StreetCred logo made up of a stylized checkmark and the wordmark in bubbly letters.">
        </div>
      </div>
    </a>
  </li>
  <li class="home__project p-limbo">
    <a href="/work/limbo" class="p-limbo__link">
      <img class="p-limbo__graphic" 
        src="/images/projects/limbo/limbo-elephant.svg" 
        alt="An illustration of an elephant.">
      <img class="p-limbo__title" src="/images/projects/limbo/limbo-logo.svg" 
        alt="The Limbo wordmark.">
    </a>
  </li>
  <li class="home__project p-colorme">
    <a href="/work/colorme" class="p-colorme__link">
      <div class="p-colorme__title" >
      <img src="/images/projects/colorme/colorme-logo.svg" 
        alt="The ColorMe wordmark.">
      </div>
    </a>
  </li>
  <li class="home__project p-groundwork">
    <a href="/work/thegroundwork">The Groundwork</a>
  </li>
  <li class="home__project p-jxa">
    <a href="/work/osx-apps-with-js">JXA</a>
  </li>
  <li class="home__project p-experiments">
    <a href="/work/experiments">Experiments</a>
  </li>
</ul>

<h2>More</h2>
<ul class="g-main home__more">
  <li>
    <a href="/about">Who am I?</a>
  </li>
  <li>
    <a href="/articles">What am I writing?</a>
  </li>
</ul>
{% endblock %}