{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-main g-padded home__intro">
  <p>
    The questions we choose to ask shape worlds. Why is this the way it is? Can’t we 
    change it? Where do we want this to go? Who do we want to be? Of all the 
    skills I use as a designer and software engineer, it’s the one that remains 
    constant and urgently needed. I choose to ask the questions<b>.</b>
  </p>
</div>

<h1>Select work</h1>
<ul class="g-main home__work">
  <li>
    <a href="/work/streetcred">StreetCred</a>
  </li>
  <li>
    <a href="/work/limbo">Limbo</a>
  </li>
  <li>
    <a href="/work/colorme">ColorMe</a>
  </li>
  <li>
    <a href="/work/thegroundwork">The Groundwork</a>
  </li>
  <li>
    <a href="/work/osx-apps-with-js">JXA</a>
  </li>
  <li>
    <a href="/work/experiments">Experiments</a>
  </li>
</ul>

<h2>More</h2>
<ul class="g-main home__more">
  <li>
    <a href="/about">Who am I?</a>
  </li>
  <li>
    <a href="/articles">What am I writing?</a>
  </li>
</ul>
{% endblock %}