{% extends "layouts/base.njk" %}

{% block main %}
<p>
  The questions we choose to ask shape worlds. Why is it this way? Can’t we 
  change it? Where do we want this to go? Who do we want to be? Of all the 
  skills I use as a designer and software engineer, it’s the one that remains 
  constant and urgently needed. I choose to ask the questions.
</p>
{% endblock %}