{% extends "layouts/base.njk" %}

{% block main %}

<div>
  <h1>/Purpose</h1>
  <p>
    I believe I can use my imagination and skills to improve the quality of life
    of others. With that in mind, I aim to build things
    that are useful, helpful, enjoyable, and thought-provoking.
  </p>
  <p>
    I want to help others recognize their endless capacity for creative thinking.
    By thinking, speaking, and living creatively I hope to show that there are no set
    rules for how they should think or approach their work, business, career, and life.
  </p>
  <p>
    Like everyone, I’m figuring all this out as I go.
  </p>
  <p class="linkback">
    <a href="http://slashpurpose.org/">Slash Purpose</a>
  </p>
</div>

{% endblock %}
