---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if page.url and not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://tylergaw.com{{ page.url }}</loc>
    {%- if page.date %}
    <lastmod>{{ page.date | dateFormat("YYYY-MM-DD") }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
