[data-page="about"] body {
  --accent-about: #94aca4;
  /* --accent: #94aca4; */
  /* --width-services: 88%; */
}

[data-page="about"] h2,
[data-page="about"] h3 {
  font-family: var(--font-aktiv-ex);
  font-weight: 900;
}

.about-intro {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 0 1rem 2rem 1rem;
  position: relative;
}

.about-intro-heading {
  font-size: 21vw;
  line-height: 1.1;
  text-align: left;
}

.about-intro-opening {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;
}

@media (min-width: 26em) {
  .about-intro-opening {
    padding: 0.75rem 2rem 1.2rem 19%;
  }
}

.about-intro-opening p + p {
  margin-top: 1.2em;
}

.about-intro-body {
  padding: 0 1.5rem 2.25rem 1.5rem;
  position: relative;
}

.about-intro-body p {
  line-height: 1.6;
}

.about-intro-body h3 {
  color: var(--accent-about);
  font-size: 1.4rem;
  margin: 1.75em 0 0.25em 0;
}

.about-portrait {
  display: block;
  margin-bottom: -105%;
  order: -1;
  width: 100%;
}

.about-intro-outro {
  font-size: 1.5rem;
  padding: 2.5rem 1.5rem;
}

@media (min-width: 47em) {
  .about-intro {
    display: block;
    font-size: 1.5rem;
    margin-top: -7vw;
  }

  .about-portrait-shape {
    float: left;
    display: block;
    opacity: 0;
    shape-outside: url("../images/portrait-shape-outside.svg");
    width: 50%;
  }

  .about-intro-heading {
    font-size: 10vw;
    padding-top: 11vw;
  }

  .about-intro-opening {
    font-size: 1.6rem;
    padding-left: 12%;
    padding-right: 4rem;
  }

  .about-intro-body {
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    padding-left: 12%;
    padding-right: 6rem;
  }

  .about-intro-body div p {
    font-size: 1.1rem;
  }

  .about-portrait {
    margin-bottom: 0;
    position: absolute;
    top: 1.2rem;
    width: 45%;
    z-index: -1;
  }
}

@media (min-width: 76em) {
  .about-intro {
    margin: -12vw auto 0 auto;
    max-width: 113.75rem;
  }

  .about-intro-heading {
    font-size: 5.2vw;
    padding-top: 16vw;
    text-indent: -0.2em;
  }

  .about-intro-opening {
    font-size: 1.8rem;
    padding-right: 5rem;
    max-width: 110rem;
  }

  .about-intro-body {
    display: block;
    max-width: 103rem;
    padding-left: 22%;
    padding-right: 7rem;
  }

  .about-intro-body div p {
    font-size: 1.4rem;
  }

  .about-portrait {
    max-width: 52rem;
    top: 3.2rem;
    width: 53%;
  }

  .about-portrait-shape {
    max-width: 56rem;
    width: 59%;
  }
}

@media (min-width: 106.25em) {
  .about-intro {
    margin-top: -12.8rem;
  }

  .about-intro-heading {
    padding-top: 17rem;
  }
}

@media (min-width: 123.75em) {
  .about-intro-heading {
    font-size: 5.94rem;
  }
}

/*------*/

.the-site {
  /* align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 1.2em auto 0 auto;
  padding: 1em 0.5em;
  width: 95%; */
}

.site-description {
  font-size: 1em;
  line-height: 1.5;
  width: 100%;

  & h3 {
    font-size: 1.2em;
    padding: 0.6em 0 0.25em 0;
  }

  & p {
    color: var(--darkerwhite);
    padding-bottom: 1.4em;
  }
}

.previous-versions {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;

  & li {
    display: flex;
    box-sizing: border-box;
    padding: 0.6em 0;
    width: 100%;
  }

  & a {
    background-color: var(--grey);
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: block;
    font-family: "aktiv-grotesk-extended";
    font-weight: 900;
    font-size: 1.1em;
    min-height: 5em;
    position: relative;
    text-decoration: none;
    width: 100%;

    & b {
      background-color: var(--accent);
      color: var(--grey);
      padding: 0 0.25em;
    }
  }

  & .version-1 a {
    background-image: url('../images/about-versions-1.jpg');
    background-size: 120%;
  }

  & .version-2 a {
    background-image: url('../images/about-versions-2.jpg');
    background-position: right top;
  }

  & .version-3 a {
    background-image: url('../images/about-versions-3.jpg');
  }

  & .version-4 a {
    background-image: url('../images/about-versions-4.jpg');
  }
}

.am-learning {
  box-sizing: border-box;
  font-family: var(--font-aktiv-ex);
  font-size: 4vw;
  padding: 1rem;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 500px) {
  .previous-versions {
    & li {
      padding: 0.6em;
      width: 50%;
    }
  }
}

@media (min-width: 880px) {
  .the-site {
    padding: 1em 1.2em 1em 1.6em;
  }

  .site-description {
    width: 45%;

    & p {
      padding-right: 0.8em;
    }
  }

  .previous-versions {
    width: 55%;
  }
}

@media (min-width: 910px) {
  .the-site {
    width: 98%;
  }
}

@media (min-width: 1500px) {
  .site-description {
    width: 35%;
  }

  .previous-versions {
    width: 65%;

    & li {
      width: 25%;
    }

    & a {
      background-size: 165% !important;
    }
  }
}
