.about-site {
  clear: both;
  font-size: 1.2rem;
  line-height: 1.6;
  overflow: hidden;
  margin: 0 auto;
  max-width: 86.8125rem;
  padding-bottom: 5rem;
}

.about-site-intro {
  padding: 0 2rem;
}

.about-site-heading {
  font-size: 12vw;
  line-height: 1.1;
  margin-bottom: 0.75rem;
}

.about-site p {
  padding-bottom: 1.4em;
}

.about-versions {
  max-width: 80rem;
  padding: 0 0.75rem;
}

.version {
  padding: 1rem 0 2rem 0;
}

.version a {
  display: block;
}

.version img {
  display: block;
  width: 100%;
}

.version figure {
  padding-top: 1em;
  position: relative;
}

.version figcaption {
  font-family: var(--font-proto-bold);
  font-size: 1.2rem;
  padding: 0 0.5rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.version figcaption::before {
  background-color: var(--accent);
  bottom: 0.25em;
  --path: polygon(
    0 0.25em,
    25% 0.2em,
    50% 0.15em,
    100% 0.38em,
    70% 90%,
    50% 60%,
    0 80%
  );
  -webkit-clip-path: var(--path);
  clip-path: var(--path);
  content: "";
  display: inline-block;
  height: 0.4em;
  position: absolute;
  width: 100%;
}

@media (min-width: 40em) {
  .about-site-heading {
    font-size: 8.1vw;
  }
}

@media (min-width: 47em) {
  .about-site-intro p {
    padding-left: 10%;
    padding-right: 6rem;
  }

  .about-versions {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 50% 50%;
    padding: 0;
  }

  .version {
    padding-bottom: 1rem;
  }

  .version figcaption {
    font-size: 1.4rem;
  }
}

@media (min-width: 76em) {
  .about-site {
    font-size: 1.4rem;
  }

  .about-site-intro {
    padding: 0 1rem;
  }

  .about-site-heading {
    font-size: 4.8vw;
  }

  .about-site-intro p {
    padding-left: 22%;
    padding-right: 7rem;
  }
}

@media (min-width: 92.2em) {
  .about-site-heading {
    font-size: 4.4rem;
  }
}
