.about-site {
  clear: both;
  font-size: 1.2rem;
  line-height: 1.6;
  overflow: hidden;
  margin: 0 auto;
  max-width: var(--g-fixed-max);
  padding-bottom: 5rem;
}

.about-site-intro {
  padding: 0 2rem;
}

.about-site-heading {
  font-size: 12vw;
  line-height: 1.1;
  margin-bottom: 0.75rem;
  text-align: center;
}

.about-site p {
  padding-bottom: 1.4em;
}

.about-versions {
  padding: 0 0.75rem;
}

.version {
  padding: 1rem 0 2rem 0;
}

.version a {
  display: block;
}

.version img {
  display: block;
  width: 100%;
}

.version figure {
  padding-top: 1em;
  position: relative;
}

.version figcaption {
  font-size: 1rem;
  padding: 0 0.5rem;
  top: 0;
  width: 100%;
}

@media (min-width: 40em) {
  .about-site-heading {
    font-size: 8.1vw;
  }
}

@media (min-width: 47em) {
  .about-site-intro p {
    padding-left: 10%;
    padding-right: 6rem;
  }

  .about-versions {
    display: grid;
    grid-gap: var(--g-gutter);
    grid-template-columns: 50% 50%;
    padding: 0;
  }

  .version {
    padding-bottom: 1rem;
  }
}

@media (min-width: 76em) {
  .about-site {
    font-size: 1.4rem;
  }

  .about-site-intro {
    padding: 0 1rem;
  }

  .about-site-heading {
    font-size: 5.2vw;
  }

  .about-site-intro p {
    padding-left: 22%;
    padding-right: 7rem;
  }
}

@media (min-width: 92.2em) {
  .about-site-heading {
    font-size: 5rem;
  }
}
