.h-entry ::selection {
  background-color: var(--color-accent-primary);
  color: var(--color-bg);
}

.h-entry {
  --width-text-max: 60.5rem;
  --width-content: 90%;
  --width-content-max: calc(var(--width-text-max) + 10rem);
  overflow: hidden;
}

.e-header {
  margin: 1.5rem auto 4rem auto;
  max-width: var(--width-text-max);
  width: var(--width-content);
}

.p-name {
  font-family: var(--font-proto-bold);
  font-size: 10vw;
  letter-spacing: -0.035em;
  line-height: 1.1;
}

.dt-published {
  display: block;
  font-size: 1.2rem;
  margin-top: 0.875em;
}

.p-author {
  display: none;
  visibility: hidden;
}

.e-content {
  color: var(--color-text);
  font-size: 1.6em;
  line-height: 1.6;
  margin: 0 auto;
  max-width: var(--width-content-max);
  padding-bottom: 5em;
  width: var(--width-content);

  & a {
    color: var(--text);
  }

  & a:hover,
  & a:focus {
    color: var(--color-accent-primary);
  }

  & .link--future {
    cursor: not-allowed;
    opacity: 0.4;
    text-decoration: underline;
  }

  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p,
  & ul,
  & ol,
  & blockquote,
  & blockquote cite {
    margin: 0 auto;
    max-width: var(--width-text-max);
  }

  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--color-text);
    font-family: var(--font-proto-regular);
  }

  & h2 {
    color: var(--color-text);
    font-family: var(--font-proto-bold);
    font-size: 1.4em;
    padding: 0.7em 0 0.25em 0;
  }

  & h3 {
    font-size: 1.1em;
    margin-top: 1.2em;
  }

  & h3 code {
    font-family: var(--font-mono);
  }

  & h4 {
    font-size: 0.9em;
  }

  & p {
    padding-bottom: 1.6em;
  }

  & code {
    font-size: 90%;
  }

  & .thanks-for-reading svg {
    margin-left: auto;
    max-width: 15.625rem;
    transform: translateX(-1rem);
  }

  & figure {
    margin: 0.2em 0 2em 0;

    & img,
    & picture {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  & figcaption {
    margin-top: 1em;
    padding-left: 0.5em;
  }

  & figcaption,
  & .note,
  & .note-special,
  & .note-update {
    font-size: min(0.75em, 1.375rem);
  }

  & p {
    &.note-special,
    &.note-update {
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      padding: 0.6em 1em;
      margin: 0.1em 0 1.2em 0;
    }

    &.note-special {
      border-color: #ffad154d;
      background-color: #ffad1526;
    }

    &.note-update {
      border-color: #007cff4d;
      background-color: #007cff26;
    }
  }

  & ul,
  & ol {
    clear: both;
    padding: 0 0.2em 1.4em 0.2em;
  }

  & li {
    line-height: 1.5;
    padding-bottom: 0.25em;
    position: relative;
  }

  & ul li {
    list-style: disc inside;
  }

  & ol li {
    list-style: decimal inside;
  }

  & blockquote {
    border-left: 0.4em solid var(--color-accent-secondary);
    font-size: 0.9em;
    margin-bottom: 2em;
    padding: 0.2em 1em 0.2em 1.6em;
  }

  & blockquote p {
    padding-bottom: 0;
  }

  & blockquote cite {
    display: block;
    font-size: 0.9em;
    margin-top: 1.2rem;
    padding-bottom: 0.2rem;
  }
}

.entry-intro {
  font-size: 1.2em;
  line-height: 1.6;
  padding-bottom: 0;
}

.entry-intro::first-line {
  font-size: 75%;
  font-family: var(--font-proto-bold);
  text-transform: uppercase;
}

.entry-intro::after {
  background-color: var(--color-accent-secondary);
  content: "";
  display: block;
  height: 0.75rem;
  margin: 1.75em 0 1em 0;
  text-align: center;
  width: max(10ch, 30%);
}

.entry-intro + h2 {
  padding-top: 0;
}

.entry-intro + p:first-letter,
.entry-intro + h2 + p:first-letter {
  color: var(--color-accent-secondary);
  float: left;
  font-family: var(--font-proto-bold);
  font-size: 680%;
  line-height: 0.9;
  margin-left: -0.05em;
  padding-right: 0.09em;
}

.entry-update {
  font-size: 1em;
}

.realign-color-fig {
  --height: 650px;
  height: var(--height);
  height: min(var(--height), 50vw);
}

.realign-color-primary-accent {
  background-color: #00eb9b;
}

.realign-color-primary-secondary-accent {
  background: linear-gradient(90deg, #00eb9b 60%, #9db4ff 40%);
}

.realign-color-light-scheme {
  background: linear-gradient(90deg, #3f3d31 20%, #c01458 20% 60%, #c2d838 40%);
}

.no-js .realign-color-scheme-toggle-invite {
  display: none;
}

.realign-color-scheme-toggle {
  background-color: var(--color-accent-primary);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  color: var(--color-bg);
  font-family: var(--font-proto-regular);
  font-size: inherit;
  font-size: 65%;
  padding: 0.5rem 0.6rem;
}

.color-swatch-code::before {
  background-color: var(--color);
  border-radius: 3px;
  border: 2px solid currentColor;
  content: "";
  display: inline-block;
  height: 0.7em;
  margin-right: 0.5rem;
  width: 0.7em;
}

@media (min-width: 46.875em) {
  .e-header {
    margin-bottom: 7rem;
    margin-top: 4rem;
  }

  .p-name {
    font-size: 4.6em;
  }

  .e-content {
    font-size: 2em;
  }

  .dt-published {
    font-size: 1.4em;
  }
}

@media (min-width: 96.875em) {
  .h-entry {
    --width-text-max: 73rem;
  }

  .p-name {
    font-size: 5em;
  }

  .e-content {
    font-size: 2.4em;
  }
}

@media (min-width: 115.625em) {
  .h-entry {
    --width-text-max: 79rem;
  }

  .p-name {
    font-size: 5.5rem;
  }

  .e-content {
    font-size: 2.6em;
  }
}
