.h-entry {
  --width-text-max: 60.5rem;
  --width-content: 90%;
  --width-content-max: calc(var(--width-text-max) + 10rem);
  overflow: hidden;
}

.e-header {
  margin: 1.5rem auto 4rem auto;
  max-width: var(--width-text-max);
  width: var(--width-content);
}

.p-name {
  font-family: var(--font-proto-bold);
  font-size: 10vw;
  line-height: 1.25;
}

.dt-published {
  display: block;
  font-size: 1.2rem;
  margin-top: 0.875em;
}

.p-author {
  display: none;
  visibility: hidden;
}

.e-content {
  color: var(--offwhite);
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 auto;
  max-width: var(--width-content-max);
  padding-bottom: 5em;
  width: var(--width-content);

  & a {
    color: var(--white);
  }

  & .link--future {
    cursor: not-allowed;
    opacity: 0.4;
    text-decoration: underline;
  }

  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p,
  & ul,
  & ol,
  & blockquote,
  & blockquote cite {
    margin: 0 auto;
    max-width: var(--width-text-max);
  }

  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--offwhite);
    font-family: var(--font-proto-regular);
  }

  & h2 {
    color: var(--offwhite);
    font-family: var(--font-proto-bold);
    font-size: 1.4em;
    padding: 0.7em 0 0.25em 0;
  }

  & h3 {
    font-size: 1.1em;
    margin-top: 1.2em;
  }

  & h3 code {
    font-family: var(--font-mono);
  }

  & h4 {
    font-size: 0.9em;
  }

  & p {
    padding-bottom: 1.6em;
  }

  & .thanks-for-reading {
    padding-bottom: 0.4em;

    & i {
      background: transparent url("/images/article-thanks.svg") no-repeat left
        top;
      background-size: 100%;
      display: inline-block;
      height: 70px;
      margin-top: 0.1em;
      text-indent: -300em;
      max-width: 250px;
      width: 95%;
    }

    & svg {
      max-width: 250px;
    }
  }

  & figure {
    margin: 0.2em 0 1.8em 0;

    & img,
    & picture {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  & figcaption {
    color: var(--darkerwhite);
    padding: 0.7em;
  }

  & figcaption,
  & .note,
  & .note-special,
  & .note-update {
    font-size: 1rem;
  }

  & p {
    &.note-special,
    &.note-update {
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      color: #fff;
      padding: 0.6em 1em;
      margin: 0.1em 0 1.2em 0;
    }

    &.note-special {
      border-color: #ffad154d;
      background-color: #ffad1526;
      color: var(--darkerwhite);
    }

    &.note-update {
      border-color: #007cff4d;
      background-color: #007cff26;
    }
  }

  & ul,
  & ol {
    clear: both;
    padding: 0 0.2em 1.4em 0.2em;
  }

  & li {
    color: var(--offwhite);
    line-height: 1.5;
    padding-bottom: 0.25em;
    position: relative;
  }

  & ul li {
    list-style: disc inside;
  }

  & ol li {
    list-style: decimal inside;
  }

  & blockquote {
    border-left: 0.4em solid var(--accent);
    color: var(--darkerwhite);
    font-size: 0.9em;
    margin-bottom: 2em;
    padding: 0.2em 1em 0.2em 1.6em;
  }

  & blockquote p {
    padding-bottom: 0;
  }

  & blockquote cite {
    display: block;
    font-size: 0.9em;
    margin-top: 1.2rem;
    padding-bottom: 0.2rem;
  }
}

.entry-intro {
  font-size: 1.2em;
  line-height: 1.6;
  padding-bottom: 0;
}

.entry-intro::first-line {
  font-size: 75%;
  font-family: var(--font-proto-bold);
  text-transform: uppercase;
}

.entry-intro::after {
  background-color: var(--accent);
  content: "";
  display: block;
  height: 0.75rem;
  margin: 1.5em auto 1.2em auto;
  text-align: center;
  width: 25%;
}

.entry-intro + h2 {
  padding-top: 0;
}

.entry-intro + p:first-letter,
.entry-intro + h2 + p:first-letter {
  color: var(--accent);
  float: left;
  font-family: var(--font-proto-bold);
  font-size: 680%;
  line-height: 0.9;
  margin-left: -0.05em;
  padding-right: 0.09em;
}

.entry-update {
  font-size: 1em;
}

@media (min-width: 46.875em) {
  .e-header {
    margin-bottom: 7rem;
    margin-top: 0;
  }

  .p-name {
    font-size: 4.6rem;
  }

  .e-content {
    font-size: 2em;
  }

  .dt-published {
    font-size: 1.4em;
  }
}

@media (min-width: 100em) {
  .h-entry {
    --width-text-max: 78rem;
  }

  .p-name {
    font-size: 5.5rem;
  }

  .e-content {
    font-size: 2.6em;
  }
}
