.article-list {
  margin: 0 auto;
  max-width: 42em;
  padding-top: 0.5em;

  & li {
    box-sizing: border-box;
    margin: 0.5em 0;
    padding: 1.2em 1em;
  }

  & .section-title {
    align-items: center;
    background-color: var(--accent);
    color: var(--grey);
    display: flex;
    padding: 1.8em;

    & p {
      color: var(--grey);
    }

    & h2 {
      @extend %franklin-heading;
      font-weight: 900;
      font-size: 3em;
      text-transform: uppercase;
    }
  }

  & time {
    @extend %franklin-heading;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--accent);
    display: block;
    margin-bottom: 0.25em;
  }

  & a {
    @extend %franklin-heading;
    color: var(--offwhite);
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 900;
    max-width: 100%;
    text-decoration: none;
    word-wrap: break-word;

    &:hover,
    &:focus {
      color: var(--accent);
    }
  }

  & p {
    color: var(--darkerwhite);
    font-size: 1.1em;
    line-height: 1.5;
    margin-top: 0.5em;
  }
}
