.h-entry {
  --contentWidth: 90%;
  --maxContentWidth: 70rem;
  --maxTextWidth: 62.5rem;
  overflow: hidden;
}

.e-header {
  margin: 4rem 0 2.4rem 0;
  text-align: center;
}

.e-header .p-name {
  color: var(--offwhite);
  font-family: var(--font-aktiv-ex);
  font-size: 12vw;
  font-weight: 900;
  line-height: 1.25;
  margin: 0 auto;
  max-width: 97%;
}

.e-header .dt-published {
  display: block;
  font-size: 1.6rem;
  font-weight: 800;
}

.p-author {
  display: none;
  visibility: hidden;
}

.e-content {
  color: var(--offwhite);
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--maxContentWidth);
  padding-bottom: 2.5em;
  width: var(--contentWidth);

  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--offwhite);
    font-weight: 800;
    margin: 0 auto;
    max-width: var(--maxTextWidth);
  }

  & h2 {
    font-family: var(--font-aktiv-ex);
    font-size: 1.2em;
    font-weight: 900;
    padding: 0.7em 0 0.25em 0;
  }

  & h3 {
    margin-top: 1.2em;
  }

  & h3 code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  }

  & h4 {
    font-size: 0.8em;
  }

  & p {
    margin: 0 auto;
    max-width: var(--maxTextWidth);
    padding-bottom: 1.4em;
  }

  & .thanks-for-reading {
    padding-bottom: 0.4em;

    & i {
      background: transparent url('/images/article-thanks.svg') no-repeat left top;
      background-size: 100%;
      display: inline-block;
      height: 70px;
      margin-top: 0.1em;
      text-indent: -300em;
      max-width: 250px;
      width: 95%;
    }

    & svg {
      max-width: 250px;
    }
  }

  & figure {
    margin: 0.2em 0 1.8em 0;

    & img,
    & picture {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  & figcaption {
    color: var(--darkerwhite);
    padding: 0.7em;
  }

  & figcaption,
  & .note,
  & .note-special,
  & .note-update {
    font-size: 1rem;
  }

  & p {
    &.note-special,
    &.note-update {
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      color: #fff;
      padding: 0.6em 1em;
      margin: 0.1em 0 1.2em 0;
    }

    &.note-special {
      border-color: #ffad154d;
      background-color: #ffad1526;
      color: var(--darkerwhite);
    }

    &.note-update {
      border-color: #007cff4d;
      background-color: #007cff26;
    }
  }

  & ul,
  & ol {
    clear: both;
    margin: 0 auto;
    max-width: var(--maxTextWidth);
    padding: 0 0.2em 1.4em 0.2em;
  }

  & li {
    color: var(--offwhite);
    line-height: 1.5;
    padding-bottom: 0.25em;
    position: relative;
  }

  & ul li {
    list-style: disc inside;
  }

  & ol li {
    list-style: decimal inside;
  }

  & blockquote {
    border-left: 0.4em solid var(--accent);
    color: var(--darkerwhite);
    font-size: 1em;
    padding: 0.2em 1em 0.2em 1.6em;

    margin: 0 auto 1.6em auto;
    max-width: var(--maxTextWidth);
  }

  & blockquote p {
    font-style: italic;
    padding-bottom: 0;
  }

  & blockquote cite {
    display: block;
    font-size: 0.9em;
    max-width: var(--maxTextWidth);
    margin: 1rem auto 0 auto;
    padding-bottom: 0.5rem;
  }
}

.entry-intro {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 100%;
  padding-bottom: 0;
}

.entry-intro::after {
  background-color: var(--accent);
  content: "";
  display: block;
  height: 0.75rem;
  margin: 1.5em auto 1.2em auto;
  text-align: center;
  width: 25%;
}

.entry-intro + h2 {
  padding-top: 0;
}

.entry-intro + p:first-letter,
.entry-intro + h2 + p:first-letter {
  color: var(--accent);
  float: left;
  font-family: var(--font-aktiv-ex);
  font-size: 560%;
  font-weight: 900;
  line-height: 0.8;
  padding-right: 0.07em;
  margin-top: -0.02em;
}

.entry-update {
  font-size: 1em;
  font-style: italic;
}

@media (min-width: 48.75em) {
  .e-header .p-name {
    font-size: 7vw;
  }

  .e-content {
    font-size: 1.8em;
  }
}

@media (min-width: 73.125em) {
  .entry-intro + p:first-letter,
  .entry-intro + h2 + p:first-letter {
    margin-left: -0.25em;
  }
}

@media (min-width: 108.125em) {
  .h-entry {
    --maxContentWidth: 86.25rem;
    --maxTextWidth: 70.5rem;
  }

  .e-header .p-name {
    font-size: 5vw;
  }

  .e-content {
    font-size: 2em;
  }
}
