:root {
  --contentWidth: 93%;
  --maxContentWidth: 850px;

  --maxedText: {
    margin: 0 auto;
    max-width: 790px;
  };

  --color-note: #ffad15;
  --color-update: #007cff;
}

.h-entry {
  overflow: hidden;
}

.e-header {
  box-sizing: border-box;
  margin: 2.4em 0 2.3em 0;
  text-align: center;

  & .p-name {
    @extend %franklin-heading;
    color: var(--offwhite);
    font-size: 3.2em;
    font-weight: 900;
    margin: 0 auto;
    max-width: 95%;
  }

  & .dt-published {
    @extend %franklin-heading;
    color: var(--yellow);
    display: block;
    font-size: 1.2em;
    font-weight: 500;
  }

  @media (min-width: 620px) {
    & .p-name {
      font-size: 7vw;
    }
  }
}

.p-author {
  display: none;
  visibility: hidden;
}

.e-content {
  color: var(--darkerwhite);
  font-size: 1.3em;
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--maxContentWidth);
  width: var(--contentWidth);

  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply --maxedText;
    color: var(--offwhite);
    font-weight: 700;
  }

  & h2 {
    @extend %franklin-heading;
    font-size: 1.2em;
    padding: 0.7em 0 0.25em 0;
  }

  & h3 {
    margin-top: 1.2em;
  }

  & p {
    @apply --maxedText;
    padding-bottom: 1.4em;
  }

  & .thanks-for-reading {
    padding-bottom: 0.4em;

    & i {
      background: transparent url('/images/article-thanks.svg') no-repeat left top;
      background-size: 100%;
      display: inline-block;
      height: 70px;
      margin-top: 0.1em;
      text-indent: -300em;
      max-width: 250px;
      width: 95%;
    }

    & svg {
      max-width: 250px;
    }
  }

  & figure {
    margin: 0.2em 0 1.8em 0;

    & img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  & figcaption {
    margin-top: 0.4em;
    text-align: center;
  }

  & figcaption,
  & .note,
  & .note-special,
  & .note-update {
    font-size: 0.8em;
    font-style: italic;
  }

  & p {
    &.note-special,
    &.note-update {
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      color: #fff;
      padding: 0.6em 1em;
      margin: 0.1em 0 1.2em 0;
    }

    &.note-special {
      border-color: color(var(--color-note) alpha(-70%));
      background-color: color(var(--color-note) alpha(-85%));
      color: color(var(--color-note) w(70%));
    }

    &.note-update {
      border-color: color(var(--color-update) alpha(-70%));
      background-color: color(var(--color-update) alpha(-85%));
    }
  }

  & ul,
  & ol {
    @apply --maxedText;
    clear: both;
    padding: 0 0.2em 1.4em 0.2em;
  }

  & li {
    color: var(--offwhite);
    line-height: 1.5;
    padding-bottom: 0.25em;
    position: relative;
  }

  & ul li {
    list-style: disc inside;
  }

  & ol li {
    list-style: decimal inside;
  }

  & blockquote {
    border-left: 4px solid var(--darkerwhite);
    color: var(--offwhite);
    font-size: 1em;
    margin-bottom: 1.6em;
    padding: 0.4em 1em 0 1em;

    & p {
      font-style: italic;
      padding-bottom: 0;
    }

    & cite {
      @apply --maxedText;
      display: block;
      font-size: 0.9em;
    }
  }
}

.entry-intro {
  color: var(--offwhite);
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 100%;
  padding-bottom: 0;

  &::after {
    @apply --yellow-divider;
    margin: 1.5em auto 1.5em auto;
  }
}

.entry-intro + h2 {
  padding-top: 0;
}

.entry-intro + p:first-letter,
.entry-intro + h2 + p:first-letter {
  @apply --drop-cap;
  color: var(--offwhite);
}

@media (min-width: 620px) {
  .e-content {
    font-size: 1.4em;
  }
}

.entry-update {
  font-size: 0.9em;
  font-style: italic;
}
