@keyframes rotate {
  to {
    transform: rotate3d(0, 0, 1, 1turn);
  }
}

.logo::after {
  --size: 2.25rem;
  --top: -1rem;
  --left: calc(100% - 1.75rem);
  animation: rotate 12s linear infinite;
  background-color: var(--color-accent-secondary);
  content: "";
  display: block;
  left: var(--left);
  -webkit-mask-image: var(--crud-bubble);
  mask-image: var(--crud-bubble);
  position: absolute;
  height: var(--size);
  top: var(--top);
  width: var(--size);
}

@media (min-width: 30em) {
  .logo::after {
    --size: 5rem;
    --top: -0.75rem;
    --left: calc(100% - 1.8rem);
  }
}

.logo:hover .logo__title,
.logo:focus .logo__title {
  fill: currentColor;
}

.navigation a:hover,
.navigation a:focus,
[data-page="blog"] .nav-blog,
[data-page="home"] .nav-work,
[data-page="about"] .nav-about {
  color: var(--color-text);
}
