[role='banner'] {
  overflow: hidden;
  padding-top: 0.6em;
  text-align: center;

  & .logo {
    display: block;
    margin: 0 auto;
    max-width: 160px;
    width: 95%;
  }

  & svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.logo:hover .logo-title,
.logo:focus .logo-title {
  fill: var(--offwhite);
}

.logo-name {
  fill: var(--offwhite);
  transition: fill 0.2s;
}

.logo-title {
  fill: var(--yellow);
  transition: fill 0.2s;
}
