.logo:hover .logo__title,
.logo:focus .logo__title {
  fill: currentColor;
}

.navigation a:hover,
.navigation a:focus,
[data-page="blog"] .nav-blog,
[data-page="home"] .nav-work,
[data-page="about"] .nav-about {
  color: var(--color-text);
}
