[role='banner'] {
  overflow: hidden;
  padding-top: 0.6em;
  text-align: center;

  & .logo {
    display: block;
    margin: 0 auto;
    max-width: 160px;
    width: 95%;
  }

  & svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.logo:matches(:hover, :focus) .logo-title {
  fill: #F9F9F9;
}

.logo-name {
  fill: #F9F9F9;
  transition: fill 0.2s;
}

.logo-title {
  fill: #FFB400;
  transition: fill 0.2s;
}
