html,
div,
span,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
small,
strike,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

i,
em {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  border: 0;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.list--normal {
  list-style: inside;
  padding-bottom: 2rem;
  margin-top: 0;
}

::view-transition-old(*),
::view-transition-new(*) {
  animation: none;
  mix-blend-mode: normal;
}

@keyframes slideToRight {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideToLeft {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

[data-page="home"]::view-transition-new(root) {
  animation: slideToRight 0.5s;
}

[data-page="blog"]::view-transition-new(root) {
  animation: slideToLeft 0.5s;
}

[data-page="about"]::view-transition-new(root) {
  animation: slideUp 0.5s;
}

[data-page="work"]::view-transition-new(root) {
  animation: scaleUp 0.5s;
}

@keyframes heroIn {
  0%,
  50% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@keyframes heroOut {
  0% {
    scale: 1;
  }

  50% {
    scale: 2;
  }

  100% {
    scale: 0;
  }
}

::view-transition-old(hero-contents) {
  animation: heroOut 0.75s;
}

::view-transition-new(hero-contents) {
  animation: heroIn 1s;
}
