.contentinfo {
  box-sizing: border-box;
  clear: both;
  margin: 0 auto;
  max-width: 720px;
  line-height: 1.4;
  overflow: hidden;
  padding: 2rem 0;
  text-align: center;
  width: 95%;

  & li {
    display: inline-block;
    max-width: 90px;
    width: 25%;
  }
}

.contentinfo a {
  color: var(--grey);
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 800;
  padding: 0.7em;
}

.contentinfo a:hover,
.contentinfo a:focus {
  background-color: var(--grey);
  color: var(--lightgrey);
}
