.footer {
  box-sizing: border-box;
  display: grid;
  grid-gap: var(--g-gutter);
  grid-template-columns: repeat(auto-fill, minmax(var(--g-col), 1fr));
  grid-template-rows: auto 12.5rem 10rem;
  max-width: calc(var(--g-col) * 9);
  line-height: 1.4;
  margin: 0 auto;
}

.footer__links {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 0 var(--g-gutter);
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--g-col) * 1.5), 1fr)
  );
}

.footer__links li {
  margin-top: 1rem;
}

.footer a {
  border-bottom: 1px solid currentColor;
  display: inline-block;
  font-family: var(--font-proto-regular);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer a:hover,
.footer a:focus {
  color: var(--color-text);
}

.footer__thanks {
  align-self: center;
  font-family: var(--font-proto-regular);
  font-size: 1rem;
  grid-column: 1 / -1;
  padding-right: 6rem;
  text-transform: uppercase;
}

.no-js .theme-toggle {
  display: none;
}

.scheme-toggle {
  grid-column: 1 / -1;
}

.scheme-toggle-btn {
  background-color: var(--color-accent-primary);
  border: 0;
  cursor: pointer;
  display: inline-block;
  color: var(--color-bg);
  font-family: var(--font-proto-regular);
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
}

.scheme-toggle-btn:hover,
.scheme-toggle-btn:focus {
  background-color: var(--color-bg);
  color: var(--color-text);
  outline: 3px solid currentColor;
}
