body {
  background: var(--grey) url('../images/bg-crud.png') repeat-y center top;
  background-size: 100%;
  color: var(--offwhite);
  font-family: georgia, times, serif;

  @media (min-width: 480px) {
    background-size: 55%;
  }

  @media (min-width: 1600px) {
    background-size: 25%;
  }
}

a {
  color: var(--yellow);
}
