.poster-jxa {
  --jxa-accent: #1cff00;
  background-color: #000;
  color: #fff;
  overflow: visible;
}

.poster-jxa ::selection {
  background-color: var(--jxa-accent);
  color: #000;
}

.poster-jxa a {
  color: #fff;

  &:hover,
  &:focus {
    color: var(--jxa-accent);
  }
}

.jxa-header {
  margin: 0 auto;
  max-width: 110rem;
  position: relative;
  top: -7vw;
}

.jxa-header h2 {
  padding-left: 27%;
  padding-right: 0.5rem;
  position: relative;
  z-index: 3;
}

.jxa-header::before {
  background: transparent url("/images/jxa-chip.webp") no-repeat center;
  background-size: contain;
  content: "";
  display: block;
  left: -20vw;
  padding-top: 100%;
  position: absolute;
  top: -30vw;
  width: 75%;
  z-index: 2;
}

.poster-fill-jxa::before {
  background-color: #000;
  display: block;
  content: "";
  /* clip-path: polygon(); can do this here. */
  margin-bottom: -20vw;
  padding-top: 20%;
  position: relative;
  top: -50vw;
  width: 100%;
}

@media (min-width: 64em) {
  .poster-fill-jxa::before {
    margin-bottom: -25vw;
  }
}

@media (min-width: 79em) {
  .jxa-header h2 {
    padding-left: 32%;
    padding-right: 1rem;
  }

  .jxa-header::before {
    left: -15vw;
    width: 68%;
  }
}

@media (min-width: 88.75em) {
  .jxa-header h2 {
    padding-left: 34%;
    padding-right: 1.75rem;
  }

  .jxa-header::before {
    left: -8vw;
    width: 63%;
  }
}

@media (min-width: 93.75em) {
  .jxa-header h2 {
    padding-left: 35%;
    padding-right: 3.5rem;
  }

  .jxa-header::before {
    left: -5vw;
    width: 58%;
  }
}

@media (min-width: 116.6em) {
  .jxa-header {
    left: -5rem;
    top: -8.125rem;
  }

  .jxa-header::before {
    left: -6rem;
    top: -34.94rem;
  }

  .poster-fill-jxa::before {
    margin-bottom: -23.3rem;
    top: -58.3rem;
  }

  .poster-fill-jxa::before {
    margin-bottom: -30rem;
    padding-top: 23.125rem;
  }
}
