.poster-colorme,
.colorme-jxa-bumper {
  --cm-red: #b50003;
  --cm-red-alt: #e00003;
  --cm-text: #252525;
  --cm-bg: #fff url("/images/home-colorme-bg-tile.svg") repeat;
  color: var(--cm-red);
  overflow: visible;
}

.colorme-header {
  margin: -35% auto 0 auto;
  max-width: 121rem;
  padding: 22% 12%;
  position: relative;
  z-index: 2;
}

.colorme-header h2 {
  position: relative;
  z-index: 3;
}

.colorme-header::before,
.colorme-header::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
}

.colorme-header::before {
  background-color: var(--cm-red);
  --path: polygon(
    0.7rem 2vw,
    90% 2vw,
    99% 50%,
    90% 100%,
    0.4rem 100%
  );
  -webkit-clip-path: var(--path);
  clip-path: var(--path);
  left: 0;
  top: 0;
  z-index: 2;
  width: 58%;
}

.colorme-header::after {
  background-color: var(--cm-red-alt);
  --path: polygon(
    0 0,
    calc(100% - 0.7rem) 0,
    calc(100% - 0.5rem) calc(100% - 2vw),
    0 calc(100% - 2vw),
    12% 50%
  );
  -webkit-clip-path: var(--path);
  clip-path: var(--path);
  right: 0;
  top: 0;
  width: 55%;
  z-index: 1;
}

.colorme-contents {
  padding-top: 2rem;
}

.poster-colorme a {
  color: var(--cm-red);

  &:hover,
  &:focus {
    color: var(--cm-text);
  }
}

.poster-fill-colorme {
  background: var(--cm-bg);
  background-size: 1000px;
}

.colorme-jxa-bumper {
  background: var(--cm-bg);
  background-size: 1000px;
  font-size: 0.8rem;
  padding-bottom: 120vw;
  padding-top: 100vw;
  position: relative;
  text-align: center;
}

.colorme-jxa-bumper::after {
  background-color: var(--cm-red);
  bottom: 0;
  --line-clip: polygon(
    0 6px,
    100% 0,
    30% 25%,
    100% 50%,
    30% 100%,
    50% 100%,
    0 99.8%
  );
  -webkit-clip-path: var(--line-clip);
  clip-path: var(--line-clip);
  content: "";
  height: 100%;
  left: calc(50% - 6px);
  position: absolute;
  width: 5px;
}

.colorme-jxa-bumper h5 {
  background-color: #fff;
  display: inline-block;
  padding: 0.2rem 0;
  position: relative;
  z-index: 2;
}

@media (min-width: 75em) {
  .colorme-header {
    margin-top: -25%;
    padding: 16% 8%;
  }
}

@media (min-width: 85em) {
  .colorme-jxa-bumper {
    padding-bottom: 100vw;
    padding-top: 60vw;
  }
}

@media (min-width: 112.5em) {
  .colorme-jxa-bumper {
    padding-bottom: 120rem;
    padding-top: 68rem;
  }
}

@media (min-width: 122em) {
  .colorme-header {
    margin-top: -30.25rem;
    padding: 19.4rem 9.7rem;
  }

  .colorme-header::before {
    --path: polygon(
      0.7rem 2rem,
      90% 2rem,
      99% 50%,
      90% 100%,
      0.4rem 100%
    );
  }

  .colorme-header::after {
    --path: polygon(
      0 0,
      calc(100% - 0.7rem) 0,
      calc(100% - 0.5rem) calc(100% - 2rem),
      0 calc(100% - 2rem),
      12% 50%
    );
  }
}
