.poster-groundwork {
  --gw-blue: #0A6CFF;
  --gw-text: #293335;
  background-color: var(--gw-blue);
  --gw-poster-clip: polygon(0 0.75rem, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: var(--gw-poster-clip);
  clip-path: var(--gw-poster-clip);
  margin-top: -0.75rem;
  padding: 0.25rem;
}

.poster-groundwork a {
  border-bottom: 0.15em solid var(--gw-blue);
  color: var(--gw-blue);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--gw-text);
  }
}

.poster-fill-groundwork {
  background: #fff;
  color: var(--gw-blue);
  --gw-fill-clip: polygon(0 0.5rem, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: var(--gw-fill-clip);
  clip-path: var(--gw-fill-clip);
}

.gw-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 62rem;
  padding: 4rem 0 2rem 0;
}

.gw-mark {
  flex: 1 1 100%;
  max-width: 4.5rem;
}

.gw-text {
  flex: 1 1 100%;
  margin-top: 1rem;
}

@media (min-width: 40em) {
  .poster-groundwork  {
    padding: 0.5rem;
  }

  .gw-header {
    align-items: center;
    padding-top: 6rem;
  }

  .gw-mark {
    flex-basis: auto;
    max-width: 5.8rem;
  }

  .gw-text {
    flex-basis: auto;
    margin-top: 0;
    padding-left: 1rem;
  }
}
