.poster-groundwork {
  --gw-blue: #3B4FCB;
  background-color: transparent;
  margin-top: -39vw;
  position: relative;
}

.poster-groundwork ::selection {
  background-color: var(--gw-blue);
  color: #fff;
}

.gw-header {
  margin: 0 auto -35vw auto;
  max-width: 114rem;
  padding: 0 1rem;
  position: relative;
  width: 95%;
  z-index: 2;
}

.gw-mark {
  background-color: var(--eggshell);
  border-radius: 50%;
  margin: 0 auto;
  padding: 1%;
  width: 50%;
}

.gw-text {
  margin-top: 3vw;
}

.poster-groundwork a {
  color: #fff;

  &:hover,
  &:focus {
    color: #7BFFFD;
  }
}

.poster-fill-groundwork {
  background: var(--gw-blue);
  color: #fff;
  --gw-fill-clip: polygon(0 11vw, 12% 2vw, 20% 9vw, 30% 0, 72% 16vw, 70% 0, 82% 9vw, 90% 0, 100% 12vw, 100% 100%, 0 100%);
  -webkit-clip-path: var(--gw-fill-clip);
  clip-path: var(--gw-fill-clip);
  padding-top: 34vw;
}

.gw-contents {
  padding-top: 2rem;
}
