.poster-colorme {
  --cm-red: #b50003;
  background-color: var(--cm-red);
  color: #252525;
  --cm-poster-clip: polygon(0 0, 4rem 0.2rem, 50% 0, 100% 0, 99% 100%, 0 100%);
  -webkit-clip-path: var(--cm-poster-clip);
  clip-path: var(--cm-poster-clip);
  margin-top: -0.2rem;
  padding: 0.25rem;
}

.poster-colorme a {
  color: var(--cm-red);
}

.poster-fill-colorme {
  background: #fff;
  --cm-fill-clip: polygon(
    0.8rem 0.75rem,
    50% 0.2rem,
    100% 0.3rem,
    calc(100% - 0.1rem) 50%,
    100% 99.8%,
    50% 100%,
    0 99.7%
  );
  -webkit-clip-path: var(--cm-fill-clip);
  clip-path: var(--cm-fill-clip);
}
