[data-page="home"] {
  & body {
    /* --accent: #F1BC44; */
  }
}

[data-page="home"] [role="banner"] {
  position: relative;
  z-index: 2;
}

.poster-intro {
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
}

.home-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -6vw;
  position: relative;
  z-index: 1;
}

.home-intro-contents {
  font-size: 1.3rem;
  line-height: 1.5;
  max-width: 40ch;
  order: 1;
  padding: 0 2.5rem 7rem 7vw;
}

/* On narrow screens this is the diagonal shape of the intro copy. */
.home-intro-contents::before {
  float: left;
  display: block;
  content: "";
  shape-outside: polygon(0 0, 20% 0, 100% 100%);
  height: 120%;
  width: 15%;
}

.home-intro-contents p + p {
  margin-top: 1.3em;
}

.home-intro-graphic {
  display: block;
  order: 0;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.home-intro-graphic::before {
  bottom: 3%;
  color: #ba7f44;
  content: "Where do you even start?";
  font-size: 0.8em;
  left: 20%;
  letter-spacing: -0.2em;
  position: absolute;
  transform: rotate(-11deg);
  transform-origin: 50%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  max-height: 50%;
}

@media (min-width: 52em) {
  .home-intro {
    margin: -8vw auto 0 auto;
    overflow: hidden;
  }

  .home-intro-graphic {
    padding: 0;
    position: absolute;
    top: 0;
    transform: translateX(-1vw);
    width: 95%;
  }

  .home-intro-contents {
    font-size: 2vw;
    margin: -4vw 0 0 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
    z-index: 2;
  }

  .home-intro-contents::before {
    display: none;
  }

  .home-intro-contents p {
    padding-right: 2.5rem;
  }

  .home-intro-shape {
    float: left;
    display: block;
    margin-left: -13vw;
    margin-top: -14vw;
    opacity: 0;
    shape-outside: url("../images/the-work-shape-outside.svg");
    visibility: hidden;
    width: 123%;
  }

  .home-intro-graphic::before {
    bottom: 6%;
    left: 30%;
    font-size: 0.9em;
    letter-spacing: -0.35em;
  }
}

@media (min-width: 101.25em) {
  .home-intro-contents {
    font-size: 2.4rem;
  }

  .home-intro-contents p {
    padding-right: 3.5rem;
  }
}

/*
  At this width ~1880px we want to stop using viewport-relative units. This way
  elements won't scale beyond the proportions we want.
*/
@media (min-width: 117.5em) {
  .home-intro {
    margin-top: -9.4rem;
    width: 115.5rem;
  }

  .home-intro-contents {
    font-size: 2.35rem;
    margin-top: -6rem;
  }

  .home-intro-shape {
    margin-left: -15.3rem;
    margin-top: -16.4rem;
  }
}

.poster-limbo {
  background-color: var(--eggshell);
  clip-path: polygon(0 0, 100% 1rem, 100% 100%, 0 100%);
  color: var(--eggshell);
  margin-top: -0.2rem;
  padding: 0.4rem;
}

.poster-fill-limbo {
  background-color: #FF3030;
  clip-path: polygon(
    /* Starting path at top left */
    0.8em 1.2em,
    2.3vw 0.5em,
    6vw 0.32em,
    18vw 0.38em,
    20vw 0.4em,
    36vw 0.6em,
    48vw 0.8em,
    70vw 1em,
    81vw 1.2em,
    /* top right, points below here draw the right edge of the path. */
    calc(100% - 2em) 1.6em,
    calc(100% - 1em) 2em,
    calc(100% - 0.5em) 2.5em,
    calc(100% - 0.2em) 4em,
    100% 14em,
    calc(100% - 0.4em) 28em,
    /* bottom right. points below here draw the bottom edge of the path */
    calc(100% - 0.8em) 95%,
    calc(100% - 2em) 100%,
    calc(100% - 22vw) 98%,
    calc(100% - 81vw) 100%,
    /* bottom left. points below here draw the left edge of the path */
    2.5em 99%,
    1em 96%,
    0.5em 92%,
    0.2em 74%,
    0.1em 64%,
    0.4em 51%,
    0.3em 38%,
    0.1em 2.8em
  );
  width: 100%;
}

.limbo-contents {
  max-width: 86.8125rem;
  padding: 3rem;
}
