.poster-groundwork,
.gw-colorme-bumper {
  --gw-blue: #3b4fcb;
  --gw-bg: var(--gw-blue) url("/images/home-gw-bg-tile.svg") repeat;
}

.poster-groundwork {
  background-color: transparent;
  margin-top: -39vw;
  position: relative;
}

.poster-groundwork ::selection {
  background-color: var(--gw-blue);
  color: #fff;
}

.project .gw-warning {
  background-color: var(--color-offwhite);
  border-radius: 2px;
  color: var(--gw-blue);
  font-size: 0.9em;
  font-family: var(--font-proto-regular);
  padding: 1rem;
  margin-bottom: 1rem;
}

.gw-header {
  margin: 0 auto -35vw auto;
  padding: 0 1rem;
  position: relative;
  width: 94%;
  z-index: 2;
}

.gw-mark {
  background-color: var(--eggshell);
  border-radius: 50%;
  margin: 0 auto;
  padding: 1%;
  width: 50%;
}

.gw-text {
  margin-top: 3vw;
}

.poster-groundwork a {
  color: var(--eggshell);

  &:hover,
  &:focus {
    color: #e4ff64;
  }
}

.poster-fill-groundwork {
  background: var(--gw-bg);
  background-size: 1000px;
  color: var(--eggshell);
  --gw-fill-clip: polygon(
    0 11vw,
    12% 2vw,
    20% 9vw,
    30% 0,
    71% 15vw,
    69% 0,
    82% 9vw,
    90% 0,
    100% 12vw,
    100% 100%,
    0 100%
  );
  -webkit-clip-path: var(--gw-fill-clip);
  clip-path: var(--gw-fill-clip);
  padding-top: 34vw;
}

.gw-contents {
  padding-top: 2rem;
}

.gw-colorme-bumper {
  background: var(--gw-bg);
  background-size: 1000px;
  color: var(--limbo-eggshell);
  font-size: 0.8rem;
  padding-bottom: 120vw;
  padding-top: 100vw;
  position: relative;
}

.gw-colorme-bumper::after {
  background-color: var(--eggshell);
  bottom: 2rem;
  --line-clip: polygon(
    0 6px,
    100% 0,
    30% 25%,
    100% 50%,
    30% 100%,
    50% 100%,
    0 99.8%
  );
  -webkit-clip-path: var(--line-clip);
  clip-path: var(--line-clip);
  content: "";
  height: 100%;
  left: calc(50% - 2px);
  position: absolute;
  width: 4px;
}

.gw-colorme-bumper h5 {
  background-color: var(--gw-blue);
  display: inline-block;
  left: 47%;
  padding-bottom: 0.2rem;
  position: relative;
  transform: rotate(-3deg);
  text-indent: -0.7rem;
  z-index: 2;
}

@media (min-width: 85em) {
  .gw-header {
    margin-bottom: -40vw;
  }

  .gw-mark {
    width: 42%;
  }

  .poster-fill-groundwork {
    padding-top: 40vw;
  }

  .gw-colorme-bumper {
    padding-bottom: 100vw;
    padding-top: 60vw;
  }
}

@media (min-width: 112.5em) {
  .gw-colorme-bumper {
    padding-bottom: 120rem;
    padding-top: 68rem;
  }
}

@media (min-width: 117.5em) {
  .poster-groundwork {
    margin-top: -45.8rem;
  }

  .gw-header {
    margin-bottom: -47rem;
    max-width: 114rem;
  }

  .gw-text {
    margin-top: 3.5rem;
  }

  .poster-fill-groundwork {
    --gw-fill-clip: polygon(
      0 12rem,
      12% 3rem,
      15% 9rem,
      27% 0,
      69% 20rem,
      67% 0,
      82% 10rem,
      90% 0,
      100% 13rem,
      100% 100%,
      0 100%
    );
    padding-top: 49.5rem;
  }
}
