.poster-groundwork {
  background-color: var(--gw-blue);
  --gw-poster-clip: polygon(0 0, 100% 0.5rem, 100% 100%, 0 100%);
  -webkit-clip-path: var(--gw-poster-clip);
  clip-path: var(--gw-poster-clip);
  margin-top: -0.5rem;
  padding: 0 0.25rem 0 0.1rem;
}

.poster-groundwork a {
  color: var(--gw-blue);

  &:hover,
  &:focus {
    color: var(--gw-text);
  }
}

.poster-fill-groundwork {
  background: #fff;
  color: var(--gw-blue);
  --gw-fill-clip: polygon(0 0, 100% 0.8rem, 99.8% 100%, 0.25rem 100%);
  -webkit-clip-path: var(--gw-fill-clip);
  clip-path: var(--gw-fill-clip);
  padding-bottom: 4rem;
}

.gw-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0 2rem 0;
}

.gw-mark {
  flex: 0 1 22vw;
  max-width: 9rem;
}

.gw-text {
  flex: 1 1 100%;
  margin-top: 1.1em;
}

@media (min-width: 40em) {
  .poster-groundwork  {
    padding: 0 0.1rem 0 0.5rem;
  }
}

@media (min-width: 50em) {
  .gw-mark {
    flex: 0 1 18vw;
    max-width: 16rem;
  }
}
