.poster-limbo {
  --limbo-red: #FF3030;
  --limbo-dark: #272727;
  background-color: var(--eggshell);
  --limbo-poster-clip: polygon(0 0, 100% 1rem, 100% 100%, 0 100%);
  -webkit-clip-path: var(--limbo-poster-clip);
  clip-path: var(--limbo-poster-clip);
  color: var(--limbo-red);
  margin-top: -0.2rem;
  padding: 0.2rem;
}

.poster-limbo a {
  border-bottom: 0.15em solid currentColor;
  color: var(--limbo-red);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--limbo-dark);
  }

  &:focus {
    outline: 4px dotted var(--eggshell);
  }
}

.limbo-header {
  background-color: var(--limbo-red);
  --limbo-header-clip: polygon(0 0, 100% 0, 100% 99%, 75% 100%, 50% 98%, 0 100%);
  -webkit-clip-path: var(--limbo-header-clip);
  clip-path: var(--limbo-header-clip);
  color: var(--eggshell);
  padding-bottom: 2rem;
}

.limbo-header a {
  color: var(--eggshell);
}

.poster-limbo h2 {
  padding: 4rem 0 0.5rem 0;
  max-width: 65.94rem;
}

@media (min-width: 40em) {
  .poster-limbo  {
    padding: 0.4rem;
  }
}

.poster-fill-limbo {
  background: var(--eggshell);
  box-shadow: inset 0 0 0 12px var(--limbo-red);
  /* border: 12px solid var(--limbo-red); */
  --limbo-fill-clip: polygon(
    /* Starting path at top left */
    0.4vw 0.8rem,
    2.3vw 0.5em,
    6vw 0.32em,
    18vw 0.38em,
    20vw 0.4em,
    48vw 0.6em,
    81vw 0.7em,
    /* top right, points below here draw the right edge of the path. */
    calc(100% - 1rem) 1.2rem,
    calc(100% - 0.5rem) 1.8em,
    calc(100% - 0.2rem) 2.5em,
    calc(100% - 0.1rem) 4em,
    100% 14em,
    calc(100% - 0.4em) 28em,
    /* bottom right. points below here draw the bottom edge of the path */
    calc(100% - 0.2em) 100%,
    calc(100% - 0.5em) 99.5%,
    3rem 99.8%,
    /* bottom left. points below here draw the left edge of the path */
    0.8rem 99.8%,
    0.5em 97%,
    0.2em 92%,
    0.2em 74%,
    0.1em 64%,
    0.4em 51%,
    0.3em 38%,
    0.1em 2.8em
  );
  -webkit-clip-path: var(--limbo-fill-clip);
  clip-path: var(--limbo-fill-clip);
  padding-bottom: 2rem;
  width: 100%;
}
