[data-page="home"] {
  --limbo-red: #FF3030;
  --limbo-dark: #272727;
  --gw-blue: #0A6CFF;
  --gw-text: #293335;
}

[data-page="home"] .banner {
  position: relative;
  z-index: 2;
}

.project {
  font-size: 1.3rem;
  max-width: 100%;
  overflow: hidden;

  & h3,
  & h4 {
    font-weight: 800;
    margin-top: 1em;
  }

  & p {
    line-height: 1.5;
    padding: 0.2em 0 1.2em 0;
  }
}

.project-contents {
  margin: 0 auto;
  max-width: 86.8125rem;
  padding: 0 1rem;
  width: 95%;
}

.project-body {
  max-width: 65.94rem;
  padding-top: 1rem;
}

.project-body a {
  border-bottom: 0.15em solid currentColor;
  line-height: 1.5;
  text-decoration: none;
}

.project-body a:focus {
  outline: 2px dashed currentColor;
}

.project-specs {
  font-size: 75%;
  line-height: 1.3;
}

.project-specs-links {
  padding-top: 0.5em;
}

@media (min-width: 64em) {
  .project-contents {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 260px));
    grid-column-gap: 2rem;
    max-width: 104.13rem;
  }

  .project-contents header {
    grid-column: 1 / span 5;
  }

  .project-specs {
    font-size: 65%;
    grid-column: 1 / span 1;
    overflow-wrap: break-word;
    padding-top: 1.1rem;
  }

  .project-body {
    grid-column: 2 / span 3;
    padding-top: 0;
  }
}

.project-specs li + li {
  margin-top: 0.25rem;
}

.project-intro {
  font-size: 1.2em;
  line-height: 1.6;
}

.poster-bumper {
  background: #fff;
}

.poster-fill-bumper {
  background: var(--grey) url("/images/home-intro-bg-tile.svg") repeat;
  background-size: 1000px;
  color: var(--offwhite);
  padding: 20rem 10% 10rem 1rem;
  text-align: right;
}

.poster-fill-bumper h4 {
  line-height: 0.4;
}

.poster-fill-bumper sup {
  display: inline-block;
  font-family: var(--font-aktiv-ex);
  font-weight: 900;
  font-size: 105%;
  transform: translateY(0.3rem) rotate(1deg);
  transform-origin: left bottom;
}

.bumper-center {
  padding: 15rem 1rem;
  text-align: center;
}

.bumper-center h4 {
  transform: rotate(-1deg) translateX(-2rem);
}

.bumper-center h4::first-letter {
  color: var(--lightgrey);
  font-weight: 800;
}

@media (min-width: 47.5em) {
  .project {
    font-size: 1.5rem;
  }
}

@media (min-width: 98em) {
  .project {
    font-size: 1.8rem;
  }

  .project-specs {
    font-size: 55%;
  }

  .project-body {
    grid-column: 2 / span 4;
  }
}
