.poster-jxa,
.jxa-readers-bumper {
  --jxa-accent: #1cff00;
  --jxa-bg: #000 url("/images/home-jxa-bg-tile.svg") repeat;
  background-color: #000;
  color: #fff;
  overflow: visible;
}

.poster-jxa ::selection {
  background-color: var(--jxa-accent);
  color: #000;
}

.poster-jxa a {
  color: #fff;

  &:hover,
  &:focus {
    color: var(--jxa-accent);
  }
}

.jxa-header {
  margin: 0 auto;
  max-width: 110rem;
  position: relative;
  top: -7vw;
}

.jxa-header h2 {
  padding-left: 27%;
  padding-right: 0.5rem;
  position: relative;
  z-index: 3;
}

.jxa-header::before {
  background: transparent url("/images/jxa-chip.png") no-repeat center;
  background-size: contain;
  content: "";
  display: block;
  left: -20vw;
  padding-top: 100%;
  position: absolute;
  top: -30vw;
  width: 75%;
  z-index: 2;
}

.webp .jxa-header::before {
  background-image: url("/images/jxa-chip.webp");
}

.poster-fill-jxa {
  background: var(--jxa-bg);
  background-size: 1200px;
}

.poster-fill-jxa::before {
  background: var(--jxa-bg);
  background-size: 1200px;
  display: block;
  content: "";
  --jxa-path: polygon(
    0 12rem,
    15% 3rem,
    25% 12rem,
    40% 8rem,
    55% 16rem,
    100% 11rem,
    100% 100%,
    0 100%
  );
  -webkit-clip-path: var(--jxa-path);
  clip-path: var(--jxa-path);
  margin-bottom: -20vw;
  padding-top: 20%;
  position: relative;
  top: -62vw;
  width: 100%;
}

.jxa-readers-bumper {
  background: var(--jxa-bg);
  background-size: 1000px;
}

.jxa-readers-bumper h5 {
  background-color: #000;
}

.jxa-readers-bumper b {
  display: inline-block;
  transform: translateY(-2px);
}

.jxa-readers-bumper i {
  display: inline-block;
  transform: translateY(4px) translateX(2px) rotate(1deg);
}

.bumper {
  font-size: 0.8rem;
  padding-bottom: 120vw;
  padding-top: 100vw;
  position: relative;
  text-align: center;
}

.bumper::after {
  background-color: currentColor;
  bottom: 0;
  --line-clip: polygon(
    0 6px,
    100% 0,
    30% 25%,
    100% 50%,
    30% 100%,
    50% 100%,
    0 99.8%
  );
  -webkit-clip-path: var(--line-clip);
  clip-path: var(--line-clip);
  content: "";
  height: 100%;
  left: calc(50% - 6px);
  position: absolute;
  width: 5px;
}

@media (min-width: 85em) {
  .bumper {
    padding-bottom: 100vw;
    padding-top: 60vw;
  }
}

@media (min-width: 112.5em) {
  .bumper {
    padding-bottom: 120rem;
    padding-top: 68rem;
  }
}

@media (min-width: 64em) {
  .poster-fill-jxa::before {
    margin-bottom: -25vw;
  }
}

@media (min-width: 79em) {
  .jxa-header h2 {
    padding-left: 32%;
    padding-right: 1rem;
  }

  .jxa-header::before {
    left: -15vw;
    width: 68%;
  }
}

@media (min-width: 88.75em) {
  .jxa-header h2 {
    padding-left: 34%;
    padding-right: 1.75rem;
  }

  .jxa-header::before {
    left: -8vw;
    width: 63%;
  }
}

@media (min-width: 93.75em) {
  .jxa-header h2 {
    padding-left: 35%;
    padding-right: 3.5rem;
  }

  .jxa-header::before {
    left: -5vw;
    width: 58%;
  }
}

@media (min-width: 116.6em) {
  .jxa-header {
    left: -5rem;
    top: -8.125rem;
  }

  .jxa-header::before {
    left: -6rem;
    top: -34.94rem;
  }

  .poster-fill-jxa::before {
    margin-bottom: -30rem;
    padding-top: 23.125rem;
    top: -73.3rem;
  }
}
