.projects-list {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  max-width: 100%;

  & li {
    align-items: center;
    border-bottom: 2px solid var(--grey);
    box-sizing: border-box;
    display: flex;
    padding: 2.4em;
    position: relative;
    text-align: center;
    width: 100%;

    & div {
      width: 100%;
    }
  }

  & a {
    @extend %franklin-heading;
    background-color: var(--offwhite);
    border: 2px solid var(--offwhite);
    border-radius: 3px;
    color: var(--grey);
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    padding: 0.6em 0.8em;
    text-decoration: none;
    transition: background-color 0.15s, color 0.15s;

    &:hover,
    &:focus {
      color: var(--offwhite);
    }
  }

  & .section-desc {
    background-color: var(--yellow);
    color: var(--grey);
    text-align: left;

    & h2 {
      @extend %franklin-heading;
      font-weight: 900;
      font-size: 3em;
      text-transform: uppercase;
    }
  }

  & .potential {
    align-items: flex-end;
    background-color: var(--yellow);
    color: var(--grey);
    display: flex;
    flex-grow: 1;
    min-height: 10rem;
  }

  & .potential,
  & h2 {
    @extend %franklin-heading;
  }

  & h2 {
    font-size: 2.8em;
  }

  & .rip {
    color: var(--grey);
    display: block;
    font-size: 40%;
    font-weight: 500;
  }

  & p {
    font-size: 1.1em;
    line-height: 1.4;
    margin: 0.5em 0 0.9em 0;
  }

  @media (min-width: 620px) {
    & li {
      border-right: 2px solid var(--grey);
      width: 50%;

      & a {
        font-size: 1em;
      }
    }
  }

  @media (min-width: 1050px) {
    & li {
      width: 33.33%
    }
  }

  @media (min-width: 1460px) {
    & li {
      width: 25%
    }
  }
}

:root {
  --color-clr: #b50003;
  --color-jsx: #ae00ff;
  --color-dpl: #ff7700;
  --color-rdb: #ac1603;
  --color-rdl: #6e2911;
  --color-jrb: #ff0066;
  --color-trt: #008ea2;
  --color-tmh: #8c132b;
  --color-shk: #3ca335;
  --color-wrt: #ff00ae;
  --color-ppr: #6b4ba0;
  --color-sld: #0b7daa;
  --color-sls: #346f6e;
  --color-spr: #dd6364;
}

.p-jsx,
.p-jsx a:hover,
.p-jsx a:focus {
  background-color: var(--color-jsx);
}

.p-jsx a {
  color: var(--color-jsx);
}

.p-dpl,
.p-dpl a:hover,
.p-dpl a:focus {
  background-color: var(--color-dpl);
}

.p-dpl a {
  color: var(--color-dpl);
}

.p-colorme,
.p-colorme a:hover,
.p-colorme a:focus {
  background-color: var(--color-clr);
}

.p-colorme a {
  color: var(--color-clr);
}

.p-readability,
.p-readability a:hover,
.p-readability a:focus {
  background-color: var(--color-rdb);
}

.p-readability a {
  color: var(--color-rdb);
}

.p-readlists,
.p-readlists a:hover,
.p-readlists a:focus {
  background-color: var(--color-rdl);
}

.p-readlists a {
  color: var(--color-rdl);
}

.p-jribbble,
.p-jribbble a:hover,
.p-jribbble a:focus {
  background-color: var(--color-jrb);
}

.p-jribbble a {
  color: var(--color-jrb);
}

.p-true-titles,
.p-true-titles a:hover,
.p-true-titles a:focus {
  background-color: var(--color-trt);
}

.p-true-titles a {
  color: var(--color-trt);
}

.p-tmfh,
.p-tmfh a:hover,
.p-tmfh a:focus {
  background-color: var(--color-tmh);
}

.p-tmfh a {
  color: var(--color-tmh);
}

.p-css-shaky,
.p-css-shaky a:hover,
.p-css-shaky a:focus {
  background-color: var(--color-shk);
}

.p-css-shaky a {
  color: var(--color-shk);
}

.p-css-write-on,
.p-css-write-on a:hover,
.p-css-write-on a:focus {
  background-color: var(--color-wrt);
}

.p-css-write-on a {
  color: var(--color-wrt);
}

.p-slenderman,
.p-slenderman a:hover,
.p-slenderman a:focus {
  background-color: var(--color-sld);
}

.p-slenderman a {
  color: var(--color-sld);
}

.p-css-slideshows,
.p-css-slideshows a:hover,
.p-css-slideshows a:focus {
  background-color: var(--color-sls);
}

.p-css-slideshows a {
  color: var(--color-sls);
}

.p-css-sprites,
.p-css-sprites a:hover,
.p-css-sprites a:focus {
  background-color: var(--color-spr);
}

.p-css-sprites a {
  color: var(--color-spr);
}
