[data-page="purpose"] main {
  padding: 2em 0 6em 0;

  & h1 {
    font-family: var(--font-proto-bold);
    font-size: 15vw;
    text-align: center;
    word-wrap: break-word;
  }

  & h1 + p {
    margin-top: 1.1em;
  }

  & p {
    color: var(--offwhite);
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 720px;
    padding-bottom: 1.6em;
    width: 90%;
  }

  & .linkback {
    font-size: 0.9em;
  }

  @media (min-width: 620px) {
    & p {
      font-size: 1.4em;
    }
  }

  @media (min-width: 66em) {
    & h1 {
      font-size: 10.5rem;
    }
  }
}
