[data-page="purpose"] main {
  padding-top: 1em;

  & h1 {
    font-family: var(--font-aktiv-ex);
    font-size: 21vw;
    font-weight: 900;
    text-align: center;
    word-wrap: break-word;
  }

  & h1 + p {
    margin-top: 1.1em;
  }

  & p {
    color: var(--darkerwhite);
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 720px;
    padding-bottom: 1.4em;
    width: 93%;
  }

  & .linkback {
    font-size: 0.9em;
    font-style: italic;
  }

  @media (min-width: 620px) {
    & p {
      font-size: 1.4em;
    }
  }

  @media (min-width: 860px) {
    & h1 {
      font-size: 12em;
    }
  }
}
