:root {
  --white: #fff;
  --grey: #1e1e1d;
  --yellow: #ffad15;
  --offwhite: #f8f8f8;
  --darkerwhite: color(var(--offwhite) shade(15%));

  --franklin: {
    font-family: 'franklin-gothic-urw', helvetica, sans-serif;
  };

  --franklin-heading: {
    @apply --franklin;
    font-weight: 700;
    line-height: 1.1;
  };

  --drop-cap: {
    @apply --franklin;
    color: var(--yellow);
    float: left;
    font-size: 790%;
    font-weight: 900;
    line-height: 0.9;
    padding-right: 0.09em;
    margin-top: -0.15em;

    @media (min-width: 55em) {
      margin-left: -0.2em;
    }
  };

  --yellow-divider: {
    background-color: var(--yellow);
    content: '';
    display: block;
    text-align: center;
    width: 25%;
    height: 6px;
  };
}
