:root {
  --white: #fff;
  --grey: #1e1e1d;
  --yellow: #ffad15;
  --offwhite: #f8f8f8;
  --darkerwhite: color(var(--offwhite) shade(15%));
  --font-franklin: 'franklin-gothic-urw', helvetica, sans-serif;
}

%franklin-heading {
  font-family: var(--font-franklin);
  font-weight: 700;
  line-height: 1.1;
}

%yellow-divider {
  background-color: var(--yellow);
  content: '';
  display: block;
  text-align: center;
  width: 25%;
  height: 6px;
}

%drop-cap {
  color: var(--yellow);
  float: left;
  font-family: var(--font-franklin);
  font-size: 650%;
  font-weight: 900;
  line-height: 0.8;
  padding-right: 0.07em;
  margin-top: -0.15em;

  @media (min-width: 55em) {
    font-size: 700%;
    margin-left: -0.2em;
    margin-top: -0.08em;
  }
}
